In [1]:
import csv

cities_data = []
with open('Cities.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        cities_data.append(r)

# open Countries.csv file with csv.DictReader and read its content into a list of dictionary, countries_data
countries_data = []
with open('Countries.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        countries_data.append(r)

In [3]:
def average_country_temp(cities_data):
    """
    Return a dictionary whose key:value pair is country name:its average temp.
    The size of the returned dictionary must equal the number of countries
    represented.

    Notes: the test results below are printed out with two decimal places to
    get around floating-point errors.

    >>> temp_dict = average_country_temp(cities_data)
    >>> for key in sorted(temp_dict):
    ...    print(f"{key} {temp_dict[key]:.2f}")
    Albania 15.18
    Andorra 9.60
    Austria 6.14
    Belarus 5.95
    Belgium 9.65
    Bosnia and Herzegovina 9.60
    Bulgaria 10.44
    Croatia 10.87
    Czech Republic 7.86
    Denmark 7.62
    Estonia 4.59
    Finland 3.49
    France 10.15
    Germany 7.87
    Greece 16.90
    Hungary 9.60
    Ireland 9.30
    Italy 13.47
    Latvia 5.27
    Lithuania 6.14
    Macedonia 9.36
    Moldova 8.41
    Montenegro 9.99
    Netherlands 8.76
    Norway 3.73
    Poland 7.25
    Portugal 14.47
    Romania 9.22
    Serbia 9.85
    Slovakia 8.48
    Slovenia 9.27
    Spain 14.24
    Sweden 3.59
    Switzerland 7.25
    Turkey 11.73
    Ukraine 7.42
    United Kingdom 8.65
    """

    data = {country['country']: [] for country in cities_data}
    for country in cities_data:
        data[country['country']] += [float(country['temperature'])]

    return {name: sum(data[name])/len(data[name]) for name in data}

In [3]:
from pandas import *
read_csv('Cities.csv')

            city         country  latitude  longitude  temperature
0        Aalborg         Denmark     57.03       9.92         7.52
1       Aberdeen  United Kingdom     57.17      -2.08         8.10
2         Abisko          Sweden     63.35      18.83         0.20
3          Adana          Turkey     36.99      35.32        18.67
4       Albacete           Spain     39.00      -1.87        12.62
..           ...             ...       ...        ...          ...
208  Yevpatoriya         Ukraine     45.20      33.36        10.02
209     Zaragoza           Spain     41.65      -0.89        14.17
210     Zhytomyr         Ukraine     50.25      28.66         6.67
211    Zonguldak          Turkey     41.43      31.78        10.64
212       Zurich     Switzerland     47.38       8.56         6.68

[213 rows x 5 columns]

In [10]:
for x in cities_data:
    print(x)

{'city': 'Aalborg', 'country': 'Denmark', 'latitude': '57.03', 'longitude': '9.92', 'temperature': '7.52'}
{'city': 'Aberdeen', 'country': 'United Kingdom', 'latitude': '57.17', 'longitude': '-2.08', 'temperature': '8.10'}
{'city': 'Abisko', 'country': 'Sweden', 'latitude': '63.35', 'longitude': '18.83', 'temperature': '0.20'}
{'city': 'Adana', 'country': 'Turkey', 'latitude': '36.99', 'longitude': '35.32', 'temperature': '18.67'}
{'city': 'Albacete', 'country': 'Spain', 'latitude': '39.00', 'longitude': '-1.87', 'temperature': '12.62'}
{'city': 'Algeciras', 'country': 'Spain', 'latitude': '36.13', 'longitude': '-5.47', 'temperature': '17.38'}
{'city': 'Amiens', 'country': 'France', 'latitude': '49.90', 'longitude': '2.30', 'temperature': '10.17'}
{'city': 'Amsterdam', 'country': 'Netherlands', 'latitude': '52.35', 'longitude': '4.92', 'temperature': '8.93'}
{'city': 'Ancona', 'country': 'Italy', 'latitude': '43.60', 'longitude': '13.50', 'temperature': '13.52'}
{'city': 'Andorra', 'country': 'Andorra', 'latitude': '42.50', 'longitude': '1.52', 'temperature': '9.60'}
{'city': 'Angers', 'country': 'France', 'latitude': '47.48', 'longitude': '-0.53', 'temperature': '10.98'}
{'city': 'Ankara', 'country': 'Turkey', 'latitude': '39.93', 'longitude': '32.86', 'temperature': '9.86'}
{'city': 'Antalya', 'country': 'Turkey', 'latitude': '36.89', 'longitude': '30.70', 'temperature': '11.88'}
{'city': 'Arad', 'country': 'Romania', 'latitude': '46.17', 'longitude': '21.32', 'temperature': '9.32'}
{'city': 'Athens', 'country': 'Greece', 'latitude': '37.98', 'longitude': '23.73', 'temperature': '17.41'}
{'city': 'Augsburg', 'country': 'Germany', 'latitude': '48.35', 'longitude': '10.90', 'temperature': '4.54'}
{'city': 'Bacau', 'country': 'Romania', 'latitude': '46.58', 'longitude': '26.92', 'temperature': '7.51'}
{'city': 'Badajoz', 'country': 'Spain', 'latitude': '38.88', 'longitude': '-6.97', 'temperature': '15.61'}
{'city': 'Baia Mare', 'country': 'Romania', 'latitude': '47.66', 'longitude': '23.58', 'temperature': '8.87'}
{'city': 'Balti', 'country': 'Moldova', 'latitude': '47.76', 'longitude': '27.91', 'temperature': '8.23'}
{'city': 'Barcelona', 'country': 'Spain', 'latitude': '41.38', 'longitude': '2.18', 'temperature': '15.78'}
{'city': 'Bari', 'country': 'Italy', 'latitude': '41.11', 'longitude': '16.87', 'temperature': '15.15'}
{'city': 'Basel', 'country': 'Switzerland', 'latitude': '47.58', 'longitude': '7.59', 'temperature': '6.68'}
{'city': 'Batman', 'country': 'Turkey', 'latitude': '37.89', 'longitude': '41.14', 'temperature': '14.16'}
{'city': 'Belfast', 'country': 'United Kingdom', 'latitude': '54.60', 'longitude': '-5.96', 'temperature': '8.48'}
{'city': 'Belgrade', 'country': 'Serbia', 'latitude': '44.82', 'longitude': '20.47', 'temperature': '9.85'}
{'city': 'Bergamo', 'country': 'Italy', 'latitude': '45.70', 'longitude': '9.67', 'temperature': '9.12'}
{'city': 'Bergen', 'country': 'Norway', 'latitude': '60.39', 'longitude': '5.32', 'temperature': '1.75'}
{'city': 'Berlin', 'country': 'Germany', 'latitude': '52.52', 'longitude': '13.40', 'temperature': '8.72'}
{'city': 'Bialystok', 'country': 'Poland', 'latitude': '53.15', 'longitude': '23.17', 'temperature': '6.07'}
{'city': 'Bielefeld', 'country': 'Germany', 'latitude': '52.03', 'longitude': '8.53', 'temperature': '8.78'}
{'city': 'Bila Tserkva', 'country': 'Ukraine', 'latitude': '49.77', 'longitude': '30.13', 'temperature': '6.98'}
{'city': 'Bilbao', 'country': 'Spain', 'latitude': '43.25', 'longitude': '-2.93', 'temperature': '11.41'}
{'city': 'Birmingham', 'country': 'United Kingdom', 'latitude': '52.47', 'longitude': '-1.92', 'temperature': '8.81'}
{'city': 'Blackpool', 'country': 'United Kingdom', 'latitude': '53.83', 'longitude': '-3.05', 'temperature': '9.15'}
{'city': 'Bodo', 'country': 'Norway', 'latitude': '67.25', 'longitude': '14.40', 'temperature': '4.50'}
{'city': 'Bologna', 'country': 'Italy', 'latitude': '44.50', 'longitude': '11.34', 'temperature': '11.69'}
{'city': 'Bonn', 'country': 'Germany', 'latitude': '50.72', 'longitude': '7.08', 'temperature': '8.63'}
{'city': 'Bordeaux', 'country': 'France', 'latitude': '44.85', 'longitude': '-0.60', 'temperature': '11.87'}
{'city': 'Botosani', 'country': 'Romania', 'latitude': '47.75', 'longitude': '26.66', 'temperature': '8.23'}
{'city': 'Bournemouth', 'country': 'United Kingdom', 'latitude': '50.73', 'longitude': '-1.90', 'temperature': '9.97'}
{'city': 'Bradford', 'country': 'United Kingdom', 'latitude': '53.80', 'longitude': '-1.75', 'temperature': '8.39'}
{'city': 'Braga', 'country': 'Portugal', 'latitude': '41.55', 'longitude': '-8.42', 'temperature': '13.42'}
{'city': 'Braila', 'country': 'Romania', 'latitude': '45.29', 'longitude': '27.97', 'temperature': '9.78'}
{'city': 'Bratislava', 'country': 'Slovakia', 'latitude': '48.15', 'longitude': '17.12', 'temperature': '9.65'}
{'city': 'Bremen', 'country': 'Germany', 'latitude': '53.08', 'longitude': '8.80', 'temperature': '8.14'}
{'city': 'Brest', 'country': 'France', 'latitude': '48.39', 'longitude': '-4.50', 'temperature': '11.02'}
{'city': 'Brest', 'country': 'Belarus', 'latitude': '52.10', 'longitude': '23.70', 'temperature': '6.73'}
{'city': 'Brno', 'country': 'Czech Republic', 'latitude': '49.20', 'longitude': '16.61', 'temperature': '7.86'}
{'city': 'Brugge', 'country': 'Belgium', 'latitude': '51.22', 'longitude': '3.23', 'temperature': '9.65'}
{'city': 'Bucharest', 'country': 'Romania', 'latitude': '44.43', 'longitude': '26.10', 'temperature': '10.59'}
{'city': 'Budapest', 'country': 'Hungary', 'latitude': '47.50', 'longitude': '19.08', 'temperature': '9.55'}
{'city': 'Burgas', 'country': 'Bulgaria', 'latitude': '42.51', 'longitude': '27.47', 'temperature': '11.93'}
{'city': 'Burgos', 'country': 'Spain', 'latitude': '42.35', 'longitude': '-3.68', 'temperature': '10.45'}
{'city': 'Bursa', 'country': 'Turkey', 'latitude': '40.20', 'longitude': '29.07', 'temperature': '11.16'}
{'city': 'Bydgoszcz', 'country': 'Poland', 'latitude': '53.12', 'longitude': '18.01', 'temperature': '7.14'}
{'city': 'Bytom', 'country': 'Poland', 'latitude': '50.35', 'longitude': '18.91', 'temperature': '7.66'}
{'city': 'Caen', 'country': 'France', 'latitude': '49.18', 'longitude': '-0.35', 'temperature': '9.96'}
{'city': 'Cambridge', 'country': 'United Kingdom', 'latitude': '52.20', 'longitude': '0.12', 'temperature': '9.25'}
{'city': 'Cartagena', 'country': 'Spain', 'latitude': '37.60', 'longitude': '-0.98', 'temperature': '17.32'}
{'city': 'Catania', 'country': 'Italy', 'latitude': '37.50', 'longitude': '15.08', 'temperature': '15.04'}
{'city': 'Chemnitz', 'country': 'Germany', 'latitude': '50.83', 'longitude': '12.92', 'temperature': '8.05'}
{'city': 'Cherkasy', 'country': 'Ukraine', 'latitude': '49.43', 'longitude': '32.07', 'temperature': '7.19'}
{'city': 'Chernihiv', 'country': 'Ukraine', 'latitude': '51.50', 'longitude': '31.30', 'temperature': '5.92'}
{'city': 'Chernivtsi', 'country': 'Ukraine', 'latitude': '48.31', 'longitude': '25.92', 'temperature': '7.06'}
{'city': 'Chisinau', 'country': 'Moldova', 'latitude': '47.01', 'longitude': '28.86', 'temperature': '8.60'}
{'city': 'Constanta', 'country': 'Romania', 'latitude': '44.20', 'longitude': '28.61', 'temperature': '11.24'}
{'city': 'Cork', 'country': 'Ireland', 'latitude': '51.90', 'longitude': '-8.50', 'temperature': '9.41'}
{'city': 'Cosenza', 'country': 'Italy', 'latitude': '39.27', 'longitude': '16.29', 'temperature': '16.60'}
{'city': 'Craiova', 'country': 'Romania', 'latitude': '44.33', 'longitude': '23.83', 'temperature': '10.51'}
{'city': 'Daugavpils', 'country': 'Latvia', 'latitude': '55.88', 'longitude': '26.51', 'temperature': '5.38'}
{'city': 'Debrecen', 'country': 'Hungary', 'latitude': '47.53', 'longitude': '21.63', 'temperature': '8.87'}
{'city': 'Denizli', 'country': 'Turkey', 'latitude': '37.77', 'longitude': '29.08', 'temperature': '15.02'}
{'city': 'Dijon', 'country': 'France', 'latitude': '47.33', 'longitude': '5.03', 'temperature': '8.69'}
{'city': 'Dublin', 'country': 'Ireland', 'latitude': '53.33', 'longitude': '-6.25', 'temperature': '8.49'}
{'city': 'Dundee', 'country': 'United Kingdom', 'latitude': '56.47', 'longitude': '-3.00', 'temperature': '6.40'}
{'city': 'Edinburgh', 'country': 'United Kingdom', 'latitude': '55.95', 'longitude': '-3.22', 'temperature': '7.43'}
{'city': 'Edirne', 'country': 'Turkey', 'latitude': '41.67', 'longitude': '26.57', 'temperature': '10.90'}
{'city': 'Elbasan', 'country': 'Albania', 'latitude': '41.12', 'longitude': '20.08', 'temperature': '15.18'}
{'city': 'Elblag', 'country': 'Poland', 'latitude': '54.19', 'longitude': '19.40', 'temperature': '6.68'}
{'city': 'Erfurt', 'country': 'Germany', 'latitude': '50.97', 'longitude': '11.03', 'temperature': '7.40'}
{'city': 'Erzincan', 'country': 'Turkey', 'latitude': '39.75', 'longitude': '39.49', 'temperature': '8.67'}
{'city': 'Erzurum', 'country': 'Turkey', 'latitude': '39.92', 'longitude': '41.29', 'temperature': '5.17'}
{'city': 'Eskisehir', 'country': 'Turkey', 'latitude': '39.79', 'longitude': '30.53', 'temperature': '11.11'}
{'city': 'Exeter', 'country': 'United Kingdom', 'latitude': '50.70', 'longitude': '-3.53', 'temperature': '10.14'}
{'city': 'Foggia', 'country': 'Italy', 'latitude': '41.46', 'longitude': '15.56', 'temperature': '13.83'}
{'city': 'Frankfurt', 'country': 'Germany', 'latitude': '50.10', 'longitude': '8.68', 'temperature': '7.98'}
{'city': 'Freiburg', 'country': 'Germany', 'latitude': '48.00', 'longitude': '7.87', 'temperature': '6.68'}
{'city': 'Galway', 'country': 'Ireland', 'latitude': '53.27', 'longitude': '-9.05', 'temperature': '10.00'}
{'city': 'Gaziantep', 'country': 'Turkey', 'latitude': '37.07', 'longitude': '37.38', 'temperature': '13.46'}
{'city': 'Geneva', 'country': 'Switzerland', 'latitude': '46.21', 'longitude': '6.14', 'temperature': '8.40'}
{'city': 'Genoa', 'country': 'Italy', 'latitude': '44.41', 'longitude': '8.93', 'temperature': '12.94'}
{'city': 'Glasgow', 'country': 'United Kingdom', 'latitude': '55.87', 'longitude': '-4.25', 'temperature': '8.60'}
{'city': 'GÃ¶teborg', 'country': 'Sweden', 'latitude': '57.75', 'longitude': '12.00', 'temperature': '5.76'}
{'city': 'Granada', 'country': 'Spain', 'latitude': '37.16', 'longitude': '-3.59', 'temperature': '16.33'}
{'city': 'Graz', 'country': 'Austria', 'latitude': '47.08', 'longitude': '15.41', 'temperature': '6.91'}
{'city': 'Grenoble', 'country': 'France', 'latitude': '45.18', 'longitude': '5.72', 'temperature': '8.40'}
{'city': 'Groningen', 'country': 'Netherlands', 'latitude': '53.22', 'longitude': '6.58', 'temperature': '8.71'}
{'city': 'Gyor', 'country': 'Hungary', 'latitude': '47.70', 'longitude': '17.63', 'temperature': '9.65'}
{'city': 'Heidelberg', 'country': 'Germany', 'latitude': '49.42', 'longitude': '8.70', 'temperature': '8.47'}
{'city': 'Helsinki', 'country': 'Finland', 'latitude': '60.18', 'longitude': '24.93', 'temperature': '4.19'}
{'city': 'Horlivka', 'country': 'Ukraine', 'latitude': '48.30', 'longitude': '38.05', 'temperature': '7.12'}
{'city': 'Hrodna', 'country': 'Belarus', 'latitude': '53.68', 'longitude': '23.83', 'temperature': '6.07'}
{'city': 'Huelva', 'country': 'Spain', 'latitude': '37.25', 'longitude': '-6.93', 'temperature': '17.09'}
{'city': 'Ingolstadt', 'country': 'Germany', 'latitude': '48.77', 'longitude': '11.45', 'temperature': '7.57'}
{'city': 'Innsbruck', 'country': 'Austria', 'latitude': '47.28', 'longitude': '11.41', 'temperature': '4.54'}
{'city': 'Inverness', 'country': 'United Kingdom', 'latitude': '57.47', 'longitude': '-4.23', 'temperature': '8.00'}
{'city': 'Istanbul', 'country': 'Turkey', 'latitude': '41.10', 'longitude': '29.01', 'temperature': '13.20'}
{'city': 'Kalamata', 'country': 'Greece', 'latitude': '37.04', 'longitude': '22.11', 'temperature': '17.30'}
{'city': 'Karaman', 'country': 'Turkey', 'latitude': '37.18', 'longitude': '33.22', 'temperature': '10.41'}
{'city': 'Karlsruhe', 'country': 'Germany', 'latitude': '49.00', 'longitude': '8.40', 'temperature': '8.88'}
{'city': 'Kaunas', 'country': 'Lithuania', 'latitude': '54.95', 'longitude': '23.88', 'temperature': '6.05'}
{'city': 'Kayseri', 'country': 'Turkey', 'latitude': '38.73', 'longitude': '35.49', 'temperature': '8.89'}
{'city': 'Kherson', 'country': 'Ukraine', 'latitude': '46.63', 'longitude': '32.60', 'temperature': '8.64'}
{'city': 'Kielce', 'country': 'Poland', 'latitude': '50.89', 'longitude': '20.66', 'temperature': '7.29'}
{'city': 'Kiev', 'country': 'Ukraine', 'latitude': '50.43', 'longitude': '30.52', 'temperature': '6.88'}
{'city': 'Kiruna', 'country': 'Sweden', 'latitude': '67.85', 'longitude': '20.22', 'temperature': '-2.20'}
{'city': 'Klaipeda', 'country': 'Lithuania', 'latitude': '55.72', 'longitude': '21.12', 'temperature': '7.00'}
{'city': 'Kosice', 'country': 'Slovakia', 'latitude': '48.73', 'longitude': '21.25', 'temperature': '7.31'}
{'city': 'Koszalin', 'country': 'Poland', 'latitude': '54.20', 'longitude': '16.18', 'temperature': '7.73'}
{'city': 'Kremenchuk', 'country': 'Ukraine', 'latitude': '49.08', 'longitude': '33.43', 'temperature': '7.43'}
{'city': 'Kryvyy Rih', 'country': 'Ukraine', 'latitude': '47.93', 'longitude': '33.34', 'temperature': '8.61'}
{'city': 'Le Mans', 'country': 'France', 'latitude': '48.00', 'longitude': '0.10', 'temperature': '10.59'}
{'city': 'Lille', 'country': 'France', 'latitude': '50.65', 'longitude': '3.08', 'temperature': '9.65'}
{'city': 'Limoges', 'country': 'France', 'latitude': '45.83', 'longitude': '1.25', 'temperature': '10.32'}
{'city': 'Linz', 'country': 'Austria', 'latitude': '48.32', 'longitude': '14.29', 'temperature': '6.79'}
{'city': 'Lisbon', 'country': 'Portugal', 'latitude': '38.72', 'longitude': '-9.14', 'temperature': '15.52'}
{'city': 'Ljubljana', 'country': 'Slovenia', 'latitude': '46.06', 'longitude': '14.51', 'temperature': '9.27'}
{'city': 'Lvov', 'country': 'Ukraine', 'latitude': '49.83', 'longitude': '24.03', 'temperature': '7.04'}
{'city': 'Maastricht', 'country': 'Netherlands', 'latitude': '50.85', 'longitude': '5.68', 'temperature': '8.63'}
{'city': 'Madrid', 'country': 'Spain', 'latitude': '40.40', 'longitude': '-3.68', 'temperature': '11.19'}
{'city': 'Magdeburg', 'country': 'Germany', 'latitude': '52.13', 'longitude': '11.62', 'temperature': '8.26'}
{'city': 'Makiyivka', 'country': 'Ukraine', 'latitude': '48.03', 'longitude': '37.97', 'temperature': '8.70'}
{'city': 'Malatya', 'country': 'Turkey', 'latitude': '38.37', 'longitude': '38.30', 'temperature': '14.13'}
{'city': 'MalmÃ¶', 'country': 'Sweden', 'latitude': '55.58', 'longitude': '13.03', 'temperature': '7.33'}
{'city': 'Manisa', 'country': 'Turkey', 'latitude': '38.63', 'longitude': '27.44', 'temperature': '15.10'}
{'city': 'Marbella', 'country': 'Spain', 'latitude': '36.52', 'longitude': '-4.88', 'temperature': '17.19'}
{'city': 'Marseille', 'country': 'France', 'latitude': '43.29', 'longitude': '5.38', 'temperature': '14.98'}
{'city': 'Mazyr', 'country': 'Belarus', 'latitude': '52.05', 'longitude': '29.27', 'temperature': '6.25'}
{'city': 'Messina', 'country': 'Italy', 'latitude': '38.20', 'longitude': '15.55', 'temperature': '16.54'}
{'city': 'Metz', 'country': 'France', 'latitude': '49.12', 'longitude': '6.18', 'temperature': '8.88'}
{'city': 'Milan', 'country': 'Italy', 'latitude': '45.47', 'longitude': '9.21', 'temperature': '6.65'}
{'city': 'Minsk', 'country': 'Belarus', 'latitude': '53.90', 'longitude': '27.57', 'temperature': '5.28'}
{'city': 'Montpellier', 'country': 'France', 'latitude': '43.61', 'longitude': '3.87', 'temperature': '11.11'}
{'city': 'Mulhouse', 'country': 'France', 'latitude': '47.75', 'longitude': '7.35', 'temperature': '6.68'}
{'city': 'Murcia', 'country': 'Spain', 'latitude': '37.98', 'longitude': '-1.13', 'temperature': '15.00'}
{'city': 'Nice', 'country': 'France', 'latitude': '43.72', 'longitude': '7.27', 'temperature': '8.82'}
{'city': 'Nis', 'country': 'Serbia', 'latitude': '43.33', 'longitude': '21.90', 'temperature': '9.36'}
{'city': 'Novi Sad', 'country': 'Serbia', 'latitude': '45.25', 'longitude': '19.85', 'temperature': '10.34'}
{'city': 'Odense', 'country': 'Denmark', 'latitude': '55.40', 'longitude': '10.38', 'temperature': '7.73'}
{'city': 'Ordu', 'country': 'Turkey', 'latitude': '41.00', 'longitude': '37.87', 'temperature': '11.92'}
{'city': 'Orsha', 'country': 'Belarus', 'latitude': '54.52', 'longitude': '30.42', 'temperature': '4.93'}
{'city': 'Oslo', 'country': 'Norway', 'latitude': '59.92', 'longitude': '10.75', 'temperature': '2.32'}
{'city': 'Ostrava', 'country': 'Czech Republic', 'latitude': '49.83', 'longitude': '18.25', 'temperature': '7.66'}
{'city': 'Oulu', 'country': 'Finland', 'latitude': '65.00', 'longitude': '25.47', 'temperature': '1.45'}
{'city': 'Oviedo', 'country': 'Spain', 'latitude': '43.35', 'longitude': '-5.83', 'temperature': '10.85'}
{'city': 'Palermo', 'country': 'Italy', 'latitude': '38.13', 'longitude': '13.35', 'temperature': '17.90'}
{'city': 'Patras', 'country': 'Greece', 'latitude': '38.23', 'longitude': '21.73', 'temperature': '16.90'}
{'city': 'Perpignan', 'country': 'France', 'latitude': '42.70', 'longitude': '2.90', 'temperature': '10.95'}
{'city': 'Perugia', 'country': 'Italy', 'latitude': '43.11', 'longitude': '12.39', 'temperature': '11.70'}
{'city': 'Pescara', 'country': 'Italy', 'latitude': '42.46', 'longitude': '14.22', 'temperature': '15.13'}
{'city': 'Pinsk', 'country': 'Belarus', 'latitude': '52.13', 'longitude': '26.09', 'temperature': '6.42'}
{'city': 'Pleven', 'country': 'Bulgaria', 'latitude': '43.42', 'longitude': '24.61', 'temperature': '10.51'}
{'city': 'Plovdiv', 'country': 'Bulgaria', 'latitude': '42.15', 'longitude': '24.75', 'temperature': '8.27'}
{'city': 'Podgorica', 'country': 'Montenegro', 'latitude': '42.47', 'longitude': '19.27', 'temperature': '9.99'}
{'city': 'Poznan', 'country': 'Poland', 'latitude': '52.41', 'longitude': '16.90', 'temperature': '8.31'}
{'city': 'Prague', 'country': 'Czech Republic', 'latitude': '50.08', 'longitude': '14.47', 'temperature': '8.05'}
{'city': 'Reims', 'country': 'France', 'latitude': '49.25', 'longitude': '4.03', 'temperature': '9.40'}
{'city': 'Riga', 'country': 'Latvia', 'latitude': '56.95', 'longitude': '24.10', 'temperature': '5.16'}
{'city': 'Rijeka', 'country': 'Croatia', 'latitude': '45.33', 'longitude': '14.45', 'temperature': '9.27'}
{'city': 'Rivne', 'country': 'Ukraine', 'latitude': '50.62', 'longitude': '26.25', 'temperature': '6.76'}
{'city': 'Rome', 'country': 'Italy', 'latitude': '41.90', 'longitude': '12.48', 'temperature': '15.10'}
{'city': 'Rostock', 'country': 'Germany', 'latitude': '54.07', 'longitude': '12.15', 'temperature': '8.07'}
{'city': 'Ruse', 'country': 'Bulgaria', 'latitude': '43.85', 'longitude': '25.97', 'temperature': '10.59'}
{'city': 'Salamanca', 'country': 'Spain', 'latitude': '40.97', 'longitude': '-5.67', 'temperature': '11.63'}
{'city': 'Salzburg', 'country': 'Austria', 'latitude': '47.81', 'longitude': '13.04', 'temperature': '4.62'}
{'city': 'Samsun', 'country': 'Turkey', 'latitude': '41.28', 'longitude': '36.34', 'temperature': '12.05'}
{'city': 'Santander', 'country': 'Spain', 'latitude': '43.38', 'longitude': '-3.80', 'temperature': '13.40'}
{'city': 'Sarajevo', 'country': 'Bosnia and Herzegovina', 'latitude': '43.85', 'longitude': '13.38', 'temperature': '9.60'}
{'city': 'Sibiu', 'country': 'Romania', 'latitude': '45.80', 'longitude': '24.14', 'temperature': '6.97'}
{'city': 'Siirt', 'country': 'Turkey', 'latitude': '37.94', 'longitude': '41.93', 'temperature': '12.48'}
{'city': 'Sivas', 'country': 'Turkey', 'latitude': '39.75', 'longitude': '37.03', 'temperature': '8.05'}
{'city': 'Skopje', 'country': 'Macedonia', 'latitude': '42.00', 'longitude': '21.43', 'temperature': '9.36'}
{'city': 'Split', 'country': 'Croatia', 'latitude': '43.52', 'longitude': '16.47', 'temperature': '12.46'}

In [13]:
def country_list(cities_data):
    """Returns a list of all the countries represented in cities_data.
    """
    countries = []
    for r in cities_data:
        if r['country'] not in countries:
            countries.append(r['country'])
    return countries
    # return list({r['country'] for r in cities_data})

In [19]:
def western_eastern_most_cities(cities_data):
    """Returns a list of tuples with information about the westernmost and
    easternmost cities together with their associated countries in the
    following format:

    [(westernmost city, its country, its longitude), (easternmost city, its country, its longitude)]

    Notes: the test results below are printed out with two decimal places to
    get around floating-point errors.

    >>> results = western_eastern_most_cities(cities_data)
    >>> for city, country, lon in results:
    ...     print(f"{city} {country} {lon:.2f}")
    Lisbon Portugal -9.14
    Siirt Turkey 41.93
    """

    # data = get_each_country_with_specific_key(cities_data, 'longitude')

    # return max(cities_data, key=lambda x: float(x['longitude']))

    west_east_city = [min(cities_data, key=lambda x: float(x['longitude'])), max(cities_data, key=lambda x: float(x['longitude']))]

    return [(x['city'], x['country'], x['longitude']) for x in west_east_city]

In [20]:
western_eastern_most_cities(cities_data)

[('Lisbon', 'Portugal', '-9.14'), ('Siirt', 'Turkey', '41.93')]

In [21]:
temp_dict = average_country_temp(cities_data)
for key in sorted(temp_dict):
    print(f"{key} {temp_dict[key]:.2f}")

Albania 15.18
Andorra 9.60
Austria 7.86
Belarus 6.42
Belgium 9.65
Bosnia and Herzegovina 9.60
Bulgaria 10.90
Croatia 12.46
Czech Republic 8.05
Denmark 7.73
Estonia 4.36
Finland 4.72
France 10.25
Germany 8.07
Greece 16.00
Hungary 10.34
Ireland 10.00
Italy 11.21
Latvia 5.16
Lithuania 5.38
Macedonia 9.36
Moldova 8.60
Montenegro 9.99
Netherlands 8.63
Norway 4.53
Poland 7.17
Portugal 15.52
Romania 6.97
Serbia 10.34
Slovakia 7.31
Slovenia 9.27
Spain 14.17
Sweden 4.17
Switzerland 6.68
Turkey 10.64
Ukraine 6.67
United Kingdom 9.73

In [8]:
import csv

# open Players.csv file with csv.DictReader and read its content into a list of dictionary, players_data
players_data = []
with open('Players.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        players_data.append(r)

# open Teams.csv file with csv.DictReader and read its content into a list of dictionary, teams_data
teams_data = []
with open('Teams.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        teams_data.append(r)

In [6]:

def average_shots(players_data):
    """Returns a tuple with four elements; the first, second, third, and
    fourth elements show the average number of shots made by defenders,
    midfielders, forwards, and goalkeepers, respectively

    Notes: the test results below are printed out with two decimal places to
    get around floating-point errors.

    >>> averages = average_shots(players_data)
    >>> type(averages)
    <class 'tuple'>
    >>> [f'{a:.2f}' for a in averages]
    ['1.16', '2.39', '4.23', '0.03'] 
    """

    roles = ['defender', 'midfielder', 'forward', 'goalkeeper']
    score = {role: [] for role in roles}

    for player in players_data:
        for position in roles:
            if player['position'] == position:
                score[position] += [float(player['shots'])]
            continue

    return tuple(sum(score[role])/len(score[role]) for role in roles)

In [7]:
averages = average_shots(players_data)

In [8]:
averages

(1.1648936170212767,
 2.3947368421052633,
 4.230769230769231,
 0.027777777777777776)

In [4]:
from pandas import *

In [3]:
read_csv('Players.csv')

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [29]:
def max_GF_GA_ratio(teams_data):
    """Returns the string name of a team with highest ratio of goalsFor to
    goalsAgainst

    >>> max_GF_GA_ratio(teams_data)
    'Portugal'
    """

    def ratio(data):
        return float(data['goalsFor']) / float(data['goalsAgainst'])

    return  max(teams_data,  key=ratio)['team']
    
    # m = {'name': None, 'ratio': 0}
    # for x in teams_data:
    #     ratio = int(x['goalsFor']) / int(x['goalsAgainst'])
    #     if ratio > m['ratio']:
    #         m['name'] = x['team']
    #         m['ratio'] = ratio

    # return m['name']

In [30]:
# arr = [-5, 9, -100, 1000, 50, -40, 99, 9999]

# max_val = -10**6

# for x in arr:
#     if x > max_val:
#         max_val = x

max_GF_GA_ratio(teams_data)

NameError: name 'teams_data' is not defined

In [1]:
read_csv('Teams.csv')

NameError: name 'read_csv' is not defined

In [54]:
# def whose_player_list(players_data, teams_data):
#     """Returns a list of tuples; each tuple has information about a player who
#     is on a team ranked in the top 10, plays less than 250 minutes and makes
#     more than 150 passes; the format for each tuple is (player's surname, team
#     played for, team ranking, minutes played, number of passes)

#     >>> whose_player_list(players_data, teams_data)
#     [('Veron', 'Argentina', 7, 185, 235), ('Montolivo', 'Italy', 5, 236, 163)]
#     """
#     # Reminder: Convert minutes and passes to integers before comparing to values
#     valid_team = [team['team'] for team in teams_data if int(team['ranking']) < 10]
#     print(valid_team)

for x in players_data:
    print(x)

{'surname': 'Abdoun', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '16', 'shots': '0', 'passes': '6', 'tackles': '0', 'saves': '0'}
{'surname': 'Belhadj', 'team': 'Algeria', 'position': 'defender', 'minutes': '270', 'shots': '1', 'passes': '146', 'tackles': '8', 'saves': '0'}
{'surname': 'Boudebouz', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '74', 'shots': '3', 'passes': '28', 'tackles': '1', 'saves': '0'}
{'surname': 'Bougherra', 'team': 'Algeria', 'position': 'defender', 'minutes': '270', 'shots': '1', 'passes': '89', 'tackles': '11', 'saves': '0'}
{'surname': 'Chaouchi', 'team': 'Algeria', 'position': 'goalkeeper', 'minutes': '90', 'shots': '0', 'passes': '17', 'tackles': '0', 'saves': '2'}
{'surname': 'Djebbour', 'team': 'Algeria', 'position': 'forward', 'minutes': '123', 'shots': '3', 'passes': '19', 'tackles': '1', 'saves': '0'}
{'surname': 'Ghezzal', 'team': 'Algeria', 'position': 'forward', 'minutes': '40', 'shots': '3', 'passes': '8', 'tackles': '0', 'saves': '0'}
{'surname': 'Guedioura', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '38', 'shots': '0', 'passes': '18', 'tackles': '1', 'saves': '0'}
{'surname': 'Halliche', 'team': 'Algeria', 'position': 'defender', 'minutes': '270', 'shots': '2', 'passes': '94', 'tackles': '4', 'saves': '0'}
{'surname': 'Kadir', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '262', 'shots': '0', 'passes': '104', 'tackles': '3', 'saves': '0'}
{'surname': 'Lacen', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '270', 'shots': '0', 'passes': '158', 'tackles': '8', 'saves': '0'}
{'surname': "M'Bolhi", 'team': 'Algeria', 'position': 'goalkeeper', 'minutes': '180', 'shots': '0', 'passes': '30', 'tackles': '0', 'saves': '12'}
{'surname': 'Matmour', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '255', 'shots': '3', 'passes': '68', 'tackles': '3', 'saves': '0'}
{'surname': 'Mesbah', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '1', 'shots': '0', 'passes': '1', 'tackles': '0', 'saves': '0'}
{'surname': 'Saifi', 'team': 'Algeria', 'position': 'forward', 'minutes': '15', 'shots': '1', 'passes': '3', 'tackles': '0', 'saves': '0'}
{'surname': 'Yahia', 'team': 'Algeria', 'position': 'defender', 'minutes': '269', 'shots': '1', 'passes': '79', 'tackles': '4', 'saves': '0'}
{'surname': 'Yebda', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '269', 'shots': '8', 'passes': '138', 'tackles': '10', 'saves': '0'}
{'surname': 'Ziani', 'team': 'Algeria', 'position': 'midfielder', 'minutes': '240', 'shots': '5', 'passes': '93', 'tackles': '6', 'saves': '0'}
{'surname': 'Aguero', 'team': 'Argentina', 'position': 'forward', 'minutes': '106', 'shots': '2', 'passes': '57', 'tackles': '2', 'saves': '0'}
{'surname': 'Bolatti', 'team': 'Argentina', 'position': 'midfielder', 'minutes': '98', 'shots': '2', 'passes': '97', 'tackles': '4', 'saves': '0'}
{'surname': 'Burdisso', 'team': 'Argentina', 'position': 'defender', 'minutes': '341', 'shots': '1', 'passes': '167', 'tackles': '1', 'saves': '0'}
{'surname': 'Demichelis', 'team': 'Argentina', 'position': 'defender', 'minutes': '450', 'shots': '1', 'passes': '218', 'tackles': '7', 'saves': '0'}
{'surname': 'Di Maria', 'team': 'Argentina', 'position': 'midfielder', 'minutes': '356', 'shots': '7', 'passes': '148', 'tackles': '12', 'saves': '0'}
{'surname': 'Gutierrez', 'team': 'Argentina', 'position': 'midfielder', 'minutes': '191', 'shots': '0', 'passes': '83', 'tackles': '11', 'saves': '0'}
{'surname': 'Heinze', 'team': 'Argentina', 'position': 'defender', 'minutes': '360', 'shots': '3', 'passes': '188', 'tackles': '6', 'saves': '0'}
{'surname': 'Higuain', 'team': 'Argentina', 'position': 'forward', 'minutes': '341', 'shots': '13', 'passes': '93', 'tackles': '5', 'saves': '0'}
{'surname': 'Mascherano', 'team': 'Argentina', 'position': 'midfielder', 'minutes': '360', 'shots': '0', 'passes': '237', 'tackles': '19', 'saves': '0'}
{'surname': 'Maxi Rodriguez', 'team': 'Argentina', 'position': 'midfielder', 'minutes': '346', 'shots': '2', 'passes': '218', 'tackles': '9', 'saves': '0'}
{'surname': 'Messi', 'team': 'Argentina', 'position': 'forward', 'minutes': '450', 'shots': '21', 'passes': '321', 'tackles': '10', 'saves': '0'}
{'surname': 'Milito', 'team': 'Argentina', 'position': 'forward', 'minutes': '91', 'shots': '0', 'passes': '33', 'tackles': '0', 'saves': '0'}
{'surname': 'Otamendi', 'team': 'Argentina', 'position': 'defender', 'minutes': '250', 'shots': '0', 'passes': '141', 'tackles': '6', 'saves': '0'}
{'surname': 'Palermo', 'team': 'Argentina', 'position': 'forward', 'minutes': '10', 'shots': '3', 'passes': '8', 'tackles': '0', 'saves': '0'}
{'surname': 'Pastore', 'team': 'Argentina', 'position': 'midfielder', 'minutes': '37', 'shots': '2', 'passes': '44', 'tackles': '3', 'saves': '0'}
{'surname': 'Rodriguez', 'team': 'Argentina', 'position': 'defender', 'minutes': '90', 'shots': '1', 'passes': '72', 'tackles': '1', 'saves': '0'}
{'surname': 'Romero', 'team': 'Argentina', 'position': 'goalkeeper', 'minutes': '450', 'shots': '0', 'passes': '47', 'tackles': '0', 'saves': '10'}
{'surname': 'Samuel', 'team': 'Argentina', 'position': 'defender', 'minutes': '114', 'shots': '2', 'passes': '43', 'tackles': '1', 'saves': '0'}
{'surname': 'Tevez', 'team': 'Argentina', 'position': 'forward', 'minutes': '324', 'shots': '6', 'passes': '164', 'tackles': '7', 'saves': '0'}
{'surname': 'Veron', 'team': 'Argentina', 'position': 'midfielder', 'minutes': '185', 'shots': '3', 'passes': '235', 'tackles': '10', 'saves': '0'}
{'surname': 'Beauchamp', 'team': 'Australia', 'position': 'defender', 'minutes': '90', 'shots': '0', 'passes': '33', 'tackles': '2', 'saves': '0'}
{'surname': 'Bresciano', 'team': 'Australia', 'position': 'midfielder', 'minutes': '132', 'shots': '3', 'passes': '47', 'tackles': '1', 'saves': '0'}
{'surname': 'Cahill', 'team': 'Australia', 'position': 'midfielder', 'minutes': '146', 'shots': '6', 'passes': '39', 'tackles': '1', 'saves': '0'}
{'surname': 'Carney', 'team': 'Australia', 'position': 'defender', 'minutes': '180', 'shots': '0', 'passes': '56', 'tackles': '4', 'saves': '0'}
{'surname': 'Chipperfield', 'team': 'Australia', 'position': 'midfielder', 'minutes': '138', 'shots': '2', 'passes': '50', 'tackles': '3', 'saves': '0'}
{'surname': 'Culina', 'team': 'Australia', 'position': 'midfielder', 'minutes': '270', 'shots': '4', 'passes': '153', 'tackles': '0', 'saves': '0'}
{'surname': 'Emerton', 'team': 'Australia', 'position': 'midfielder', 'minutes': '254', 'shots': '1', 'passes': '89', 'tackles': '3', 'saves': '0'}
{'surname': 'Garcia', 'team': 'Australia', 'position': 'midfielder', 'minutes': '72', 'shots': '2', 'passes': '24', 'tackles': '3', 'saves': '0'}
{'surname': 'Grella', 'team': 'Australia', 'position': 'midfielder', 'minutes': '45', 'shots': '0', 'passes': '18', 'tackles': '2', 'saves': '0'}
{'surname': 'Holman', 'team': 'Australia', 'position': 'forward', 'minutes': '138', 'shots': '3', 'passes': '49', 'tackles': '2', 'saves': '0'}
{'surname': 'Jedinak', 'team': 'Australia', 'position': 'midfielder', 'minutes': '16', 'shots': '0', 'passes': '15', 'tackles': '0', 'saves': '0'}
{'surname': 'Kennedy', 'team': 'Australia', 'position': 'forward', 'minutes': '112', 'shots': '3', 'passes': '29', 'tackles': '1', 'saves': '0'}
{'surname': 'Kewell', 'team': 'Australia', 'position': 'midfielder', 'minutes': '24', 'shots': '0', 'passes': '7', 'tackles': '1', 'saves': '0'}
{'surname': 'Moore', 'team': 'Australia', 'position': 'defender', 'minutes': '180', 'shots': '1', 'passes': '91', 'tackles': '3', 'saves': '0'}
{'surname': 'Neill', 'team': 'Australia', 'position': 'defender', 'minutes': '270', 'shots': '1', 'passes': '135', 'tackles': '4', 'saves': '0'}
{'surname': 'Rukavytsya', 'team': 'Australia', 'position': 'forward', 'minutes': '32', 'shots': '1', 'passes': '12', 'tackles': '0', 'saves': '0'}
{'surname': 'Schwarzer', 'team': 'Australia', 'position': 'goalkeeper', 'minutes': '270', 'shots': '0', 'passes': '51', 'tackles': '0', 'saves': '13'}
{'surname': 'Valeri', 'team': 'Australia', 'position': 'midfielder', 'minutes': '245', 'shots': '0', 'passes': '135', 'tackles': '5', 'saves': '0'}
{'surname': 'Wilkshire', 'team': 'Australia', 'position': 'midfielder', 'minutes': '256', 'shots': '2', 'passes': '117', 'tackles': '8', 'saves': '0'}
{'surname': 'Baptista', 'team': 'Brazil', 'position': 'midfielder', 'minutes': '82', 'shots': '0', 'passes': '42', 'tackles': '1', 'saves': '0'}
{'surname': 'Daniel Alves', 'team': 'Brazil', 'position': 'defender', 'minutes': '310', 'shots': '11', 'passes': '215', 'tackles': '6', 'saves': '0'}
{'surname': 'Elano', 'team': 'Brazil', 'position': 'midfielder', 'minutes': '140', 'shots': '5', 'passes': '57', 'tackles': '6', 'saves': '0'}
{'surname': 'Fabiano', 'team': 'Brazil', 'position': 'forward', 'minutes': '418', 'shots': '9', 'passes': '89', 'tackles': '4', 'saves': '0'}
{'surname': 'Gilberto', 'team': 'Brazil', 'position': 'defender', 'minutes': '33', 'shots': '0', 'passes': '6', 'tackles': '4', 'saves': '0'}
{'surname': 'Gilberto Silva', 'team': 'Brazil', 'position': 'midfielder', 'minutes': '450', 'shots': '3', 'passes': '299', 'tackles': '11', 'saves': '0'}
{'surname': 'Grafite', 'team': 'Brazil', 'position': 'forward', 'minutes': '5', 'shots': '0', 'passes': '4', 'tackles': '0', 'saves': '0'}
{'surname': 'Josue', 'team': 'Brazil', 'position': 'midfielder', 'minutes': '46', 'shots': '0', 'passes': '54', 'tackles': '1', 'saves': '0'}
{'surname': 'Juan', 'team': 'Brazil', 'position': 'defender', 'minutes': '450', 'shots': '4', 'passes': '223', 'tackles': '9', 'saves': '0'}
{'surname': 'Julio Cesar', 'team': 'Brazil', 'position': 'goalkeeper', 'minutes': '450', 'shots': '0', 'passes': '69', 'tackles': '0', 'saves': '10'}
{'surname': 'Kaka', 'team': 'Brazil', 'position': 'midfielder', 'minutes': '337', 'shots': '6', 'passes': '139', 'tackles': '2', 'saves': '0'}
{'surname': 'Kleberson', 'team': 'Brazil', 'position': 'midfielder', 'minutes': '9', 'shots': '0', 'passes': '1', 'tackles': '0', 'saves': '0'}
{'surname': 'Lucio', 'team': 'Brazil', 'position': 'defender', 'minutes': '450', 'shots': '1', 'passes': '223', 'tackles': '14', 'saves': '0'}
{'surname': 'Maicon', 'team': 'Brazil', 'position': 'defender', 'minutes': '450', 'shots': '6', 'passes': '249', 'tackles': '11', 'saves': '0'}
{'surname': 'Melo', 'team': 'Brazil', 'position': 'midfielder', 'minutes': '291', 'shots': '2', 'passes': '249', 'tackles': '12', 'saves': '0'}
{'surname': 'Michel Bastos', 'team': 'Brazil', 'position': 'defender', 'minutes': '422', 'shots': '7', 'passes': '224', 'tackles': '14', 'saves': '0'}
{'surname': 'Nilmar', 'team': 'Brazil', 'position': 'forward', 'minutes': '129', 'shots': '5', 'passes': '18', 'tackles': '3', 'saves': '0'}
{'surname': 'Ramires', 'team': 'Brazil', 'position': 'midfielder', 'minutes': '105', 'shots': '3', 'passes': '53', 'tackles': '3', 'saves': '0'}
{'surname': 'Robinho', 'team': 'Brazil', 'position': 'forward', 'minutes': '354', 'shots': '9', 'passes': '181', 'tackles': '5', 'saves': '0'}
{'surname': 'Aboubakar', 'team': 'Cameroon', 'position': 'forward', 'minutes': '46', 'shots': '2', 'passes': '16', 'tackles': '0', 'saves': '0'}
{'surname': 'Alexandre Song', 'team': 'Cameroon', 'position': 'midfielder', 'minutes': '90', 'shots': '1', 'passes': '59', 'tackles': '7', 'saves': '0'}
{'surname': 'Assou-Ekotto', 'team': 'Cameroon', 'position': 'defender', 'minutes': '270', 'shots': '0', 'passes': '116', 'tackles': '5', 'saves': '0'}
{'surname': 'Bassong', 'team': 'Cameroon', 'position': 'defender', 'minutes': '163', 'shots': '0', 'passes': '71', 'tackles': '3', 'saves': '0'}
{'surname': 'Bong', 'team': 'Cameroon', 'position': 'defender', 'minutes': '56', 'shots': '0', 'passes': '12', 'tackles': '0', 'saves': '0'}
{'surname': 'Chedjou', 'team': 'Cameroon', 'position': 'midfielder', 'minutes': '90', 'shots': '2', 'passes': '77', 'tackles': '2', 'saves': '0'}
{'surname': 'Choupo-Moting', 'team': 'Cameroon', 'position': 'forward', 'minutes': '147', 'shots': '2', 'passes': '38', 'tackles': '1', 'saves': '0'}
{'surname': 'Emana', 'team': 'Cameroon', 'position': 'midfielder', 'minutes': '117', 'shots': '7', 'passes': '59', 'tackles': '2', 'saves': '0'}
{'surname': 'Enoh', 'team': 'Cameroon', 'position': 'midfielder', 'minutes': '135', 'shots': '2', 'passes': '56', 'tackles': '8', 'saves': '0'}
{'surname': "Eto'o", 'team': 'Cameroon', 'position': 'forward', 'minutes': '270', 'shots': '4', 'passes': '89', 'tackles': '3', 'saves': '0'}
{'surname': 'Geremi', 'team': 'Cameroon', 'position': 'defender', 'minutes': '195', 'shots': '1', 'passes': '93', 'tackles': '1', 'saves': '0'}
{'surname': 'Hamidou', 'team': 'Cameroon', 'position': 'goalkeeper', 'minutes': '270', 'shots': '0', 'passes': '54', 'tackles': '0', 'saves': '9'}
{'surname': 'Idrissou', 'team': 'Cameroon', 'position': 'forward', 'minutes': '50', 'shots': '2', 'passes': '23', 'tackles': '1', 'saves': '0'}
{'surname': 'Makoun', 'team': 'Cameroon', 'position': 'midfielder', 'minutes': '210', 'shots': '4', 'passes': '164', 'tackles': '2', 'saves': '0'}
{'surname': 'Matip', 'team': 'Cameroon', 'position': 'defender', 'minutes': '63', 'shots': '0', 'passes': '37', 'tackles': '3', 'saves': '0'}
{'surname': 'Mbia', 'team': 'Cameroon', 'position': 'defender', 'minutes': '270', 'shots': '3', 'passes': '135', 'tackles': '4', 'saves': '0'}
{'surname': "N'Guemo", 'team': 'Cameroon', 'position': 'midfielder', 'minutes': '90', 'shots': '1', 'passes': '51', 'tackles': '1', 'saves': '0'}
{'surname': "N'Koulou", 'team': 'Cameroon', 'position': 'defender', 'minutes': '253', 'shots': '0', 'passes': '152', 'tackles': '4', 'saves': '0'}
{'surname': 'Rigobert Song', 'team': 'Cameroon', 'position': 'defender', 'minutes': '17', 'shots': '0', 'passes': '3', 'tackles': '0', 'saves': '0'}
{'surname': 'Webo', 'team': 'Cameroon', 'position': 'forward', 'minutes': '168', 'shots': '4', 'passes': '39', 'tackles': '3', 'saves': '0'}
{'surname': 'Beausejour', 'team': 'Chile', 'position': 'midfielder', 'minutes': '360', 'shots': '2', 'passes': '100', 'tackles': '7', 'saves': '0'}
{'surname': 'Bravo', 'team': 'Chile', 'position': 'goalkeeper', 'minutes': '360', 'shots': '0', 'passes': '58', 'tackles': '0', 'saves': '4'}
{'surname': 'Carmona', 'team': 'Chile', 'position': 'midfielder', 'minutes': '270', 'shots': '1', 'passes': '175', 'tackles': '9', 'saves': '0'}
{'surname': 'Contreras', 'team': 'Chile', 'position': 'defender', 'minutes': '54', 'shots': '0', 'passes': '17', 'tackles': '1', 'saves': '0'}
{'surname': 'Estrada', 'team': 'Chile', 'position': 'midfielder', 'minutes': '37', 'shots': '1', 'passes': '16', 'tackles': '2', 'saves': '0'}
{'surname': 'Fernandez', 'team': 'Chile', 'position': 'midfielder', 'minutes': '155', 'shots': '1', 'passes': '72', 'tackles': '2', 'saves': '0'}
{'surname': 'Fuentes', 'team': 'Chile', 'position': 'defender', 'minutes': '90', 'shots': '0', 'passes': '27', 'tackles': '3', 'saves': '0'}
{'surname': 'Gonzalez', 'team': 'Chile', 'position': 'midfielder', 'minutes': '138', 'shots': '10', 'passes': '41', 'tackles': '6', 'saves': '0'}
{'surname': 'Isla', 'team': 'Chile', 'position': 'defender', 'minutes': '332', 'shots': '1', 'passes': '123', 'tackles': '10', 'saves': '0'}
{'surname': 'Jara', 'team': 'Chile', 'position': 'defender', 'minutes': '308', 'shots': '1', 'passes': '187', 'tackles': '8', 'saves': '0'}
{'surname': 'Medel', 'team': 'Chile', 'position': 'defender', 'minutes': '270', 'shots': '1', 'passes': '123', 'tackles': '7', 'saves': '0'}
{'surname': 'Millar', 'team': 'Chile', 'position': 'midfielder', 'minutes': '125', 'shots': '1', 'passes': '80', 'tackles': '3', 'saves': '0'}
{'surname': 'Orellana', 'team': 'Chile', 'position': 'forward', 'minutes': '25', 'shots': '1', 'passes': '7', 'tackles': '0', 'saves': '0'}
{'surname': 'Paredes', 'team': 'Chile', 'position': 'forward', 'minutes': '70', 'shots': '3', 'passes': '11', 'tackles': '5', 'saves': '0'}
{'surname': 'Ponce', 'team': 'Chile', 'position': 'defender', 'minutes': '270', 'shots': '2', 'passes': '113', 'tackles': '4', 'saves': '0'}
{'surname': 'Suazo', 'team': 'Chile', 'position': 'forward', 'minutes': '135', 'shots': '4', 'passes': '39', 'tackles': '1', 'saves': '0'}
{'surname': 'Sanchez', 'team': 'Chile', 'position': 'forward', 'minutes': '335', 'shots': '7', 'passes': '113', 'tackles': '13', 'saves': '0'}
{'surname': 'Tello', 'team': 'Chile', 'position': 'midfielder', 'minutes': '45', 'shots': '0', 'passes': '29', 'tackles': '1', 'saves': '0'}
{'surname': 'Valdivia', 'team': 'Chile', 'position': 'forward', 'minutes': '222', 'shots': '3', 'passes': '91', 'tackles': '3', 'saves': '0'}
{'surname': 'Vidal', 'team': 'Chile', 'position': 'defender', 'minutes': '306', 'shots': '6', 'passes': '178', 'tackles': '17', 'saves': '0'}
{'surname': 'Agger', 'team': 'Denmark', 'position': 'defender', 'minutes': '270', 'shots': '2', 'passes': '120', 'tackles': '10', 'saves': '0'}
{'surname': 'Beckmann', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '28', 'shots': '0', 'passes': '8', 'tackles': '0', 'saves': '0'}
{'surname': 'Bendtner', 'team': 'Denmark', 'position': 'forward', 'minutes': '242', 'shots': '4', 'passes': '70', 'tackles': '0', 'saves': '0'}
{'surname': 'Christian Poulsen', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '270', 'shots': '1', 'passes': '179', 'tackles': '7', 'saves': '0'}
{'surname': 'Enevoldsen', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '56', 'shots': '2', 'passes': '10', 'tackles': '0', 'saves': '0'}
{'surname': 'Eriksen', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '44', 'shots': '1', 'passes': '20', 'tackles': '1', 'saves': '0'}
{'surname': 'Gronkjaer', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '101', 'shots': '1', 'passes': '29', 'tackles': '3', 'saves': '0'}
{'surname': 'Jacobsen', 'team': 'Denmark', 'position': 'defender', 'minutes': '270', 'shots': '0', 'passes': '95', 'tackles': '3', 'saves': '0'}
{'surname': 'Jakob Poulsen', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '60', 'shots': '2', 'passes': '40', 'tackles': '0', 'saves': '0'}
{'surname': 'Jensen', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '45', 'shots': '0', 'passes': '21', 'tackles': '2', 'saves': '0'}
{'surname': 'Jorgensen', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '169', 'shots': '1', 'passes': '78', 'tackles': '8', 'saves': '0'}
{'surname': 'Kahlenberg', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '159', 'shots': '2', 'passes': '59', 'tackles': '3', 'saves': '0'}
{'surname': 'Kjaer', 'team': 'Denmark', 'position': 'defender', 'minutes': '180', 'shots': '1', 'passes': '41', 'tackles': '3', 'saves': '0'}
{'surname': 'Kroldrup', 'team': 'Denmark', 'position': 'defender', 'minutes': '56', 'shots': '1', 'passes': '32', 'tackles': '0', 'saves': '0'}
{'surname': 'Larsen', 'team': 'Denmark', 'position': 'forward', 'minutes': '34', 'shots': '2', 'passes': '5', 'tackles': '0', 'saves': '0'}
{'surname': 'Rommedahl', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '270', 'shots': '4', 'passes': '74', 'tackles': '5', 'saves': '0'}
{'surname': 'Simon Poulsen', 'team': 'Denmark', 'position': 'midfielder', 'minutes': '270', 'shots': '1', 'passes': '99', 'tackles': '9', 'saves': '0'}
{'surname': 'Sorensen', 'team': 'Denmark', 'position': 'goalkeeper', 'minutes': '270', 'shots': '0', 'passes': '52', 'tackles': '0', 'saves': '16'}
{'surname': 'Tomasson', 'team': 'Denmark', 'position': 'forward', 'minutes': '176', 'shots': '7', 'passes': '51', 'tackles': '1', 'saves': '0'}
{'surname': 'Ashley Cole', 'team': 'England', 'position': 'defender', 'minutes': '360', 'shots': '0', 'passes': '142', 'tackles': '12', 'saves': '0'}
{'surname': 'Barry', 'team': 'England', 'position': 'midfielder', 'minutes': '264', 'shots': '2', 'passes': '171', 'tackles': '8', 'saves': '0'}

KeyError: '0'

In [61]:
def average_shots(players_data):
    """Returns a tuple with four elements; the first, second, third, and
    fourth elements show the average number of shots made by defenders,
    midfielders, forwards, and goalkeepers, respectively

    Notes: the test results below are printed out with two decimal places to
    get around floating-point errors.

    >>> averages = average_shots(players_data)
    >>> type(averages)
    <class 'tuple'>
    >>> [f'{a:.2f}' for a in averages]
    ['1.16', '2.39', '4.23', '0.03']
    """
    score = {'defender': [], 'midfielder': [], 'forward': [], 'goalkeeper': []}
    for i in players_data:
        score[i['position']] += [int(i['shots'])]


    return tuple(sum(score[role])/len(score[role]) for role in score)

readcsv('')

In [5]:
read_csv('Players.csv')

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [62]:
# roles = ['defender', 'midfielder', 'forward', 'goalkeeper']
# score = {role: [] for role in roles}

# for player in players_data:
#     for position in roles:
#         if player['position'] == position:
#             score[position] += [float(player['shots'])]
#             continue

averages = average_shots(players_data)
[f'{a:.2f}' for a in averages]

['1.16', '2.39', '4.23', '0.03']

In [53]:
def team_list_shots_per_minute(players_data, teams_data):
    """Returns a list of tuples; each tuple has information about a team and
    its shots per minute value generated by its players

    Notes: the test results below are printed out with five decimal places to
    get around floating-point errors.

    >>> list_of_tuples = team_list_shots_per_minute(players_data, teams_data)
    >>> list_of_tuples.sort()
    >>> for team,shots in list_of_tuples:
    ...     print(f'{team} {shots:.5f}')
    ... 
    Algeria 0.01050
    Argentina 0.01394
    Australia 0.01010
    Brazil 0.01440
    Cameroon 0.01178
    Chile 0.01152
    Denmark 0.01077
    England 0.01237
    France 0.00998
    Germany 0.01121
    Ghana 0.01337
    Greece 0.01077
    Honduras 0.00438
    Italy 0.01212
    Ivory Coast 0.01313
    Japan 0.00886
    Mexico 0.01086
    Netherlands 0.01128
    New Zealand 0.00505
    Nigeria 0.00996
    North Korea 0.01077
    Paraguay 0.00928
    Portugal 0.01263
    Serbia 0.01286
    Slovakia 0.00884
    Slovenia 0.00572
    South Africa 0.01184
    South Korea 0.01111
    Spain 0.01380
    Switzerland 0.00721
    USA 0.01282
    Uruguay 0.01118
    """
    team_dict = {k['team']: [] for k in teams_data}
    for x in players_data:
        team_dict[x['team']] += [int(x['shots'])/ int(x['minutes'])]

    return [(name, sum(ratio)/len(ratio)) for name, ratio in team_dict.items()]

In [54]:
list_of_tuples = team_list_shots_per_minute(players_data, teams_data)
list_of_tuples.sort()
for team,shots in list_of_tuples:
    print(f'{team} {shots:.5f}')

Algeria 0.01597
Argentina 0.02902
Australia 0.01167
Brazil 0.01357
Cameroon 0.01450
Chile 0.01535
Denmark 0.01518
England 0.01361
France 0.01576
Germany 0.01497
Ghana 0.01366
Greece 0.01221
Honduras 0.00558
Italy 0.01247
Ivory Coast 0.01495
Japan 0.00729
Mexico 0.01109
Netherlands 0.02360
New Zealand 0.00463
Nigeria 0.01113
North Korea 0.01264
Paraguay 0.01184
Portugal 0.02206
Serbia 0.02159
Slovakia 0.00883
Slovenia 0.00454
South Africa 0.00899
South Korea 0.01053
Spain 0.01893
Switzerland 0.00862
USA 0.01314
Uruguay 0.00749

In [24]:
k = [('g0d', 44), ('rfekvnemv', 20), ('kfd;vanisdnv;', 32)]

In [51]:
read_csv('Players.csv')

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [49]:
k = ('hi', 'hello')

In [2]:
cities_data = []
with open('Cities.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        cities_data.append(r)

# open Countries.csv file with csv.DictReader and read its content into a list of dictionary, countries_data
countries_data = []
with open('Countries.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        countries_data.append(r)


def min_max_temp(cities_data):
    """Returns a list whose first and second elements are the min and the max
    temperatures of all the cities in cities_data.
    """
    temps = [float(r['temperature']) for r in cities_data]
    return [min(temps), max(temps)]


def country_list(cities_data):
    """Returns a list of all the countries represented in cities_data.
    """
    countries = []
    for r in cities_data:
        if r['country'] not in countries:
            countries.append(r['country'])
    return countries

def get_each_country_temp(cities_data):
    """return a dict which key is country
    and value is a list of each country specific key"""
    data = {country['country']: [] for country in cities_data}

    for country in cities_data:
        data[country['country']] += [float(country['temperature'])]
    return data

In [27]:
data = get_each_country_temp(cities_data)
eu = []
non_eu = []
for country in countries_data:
    if country['EU'] == 'yes':
        eu += [country['country']]
    else:
        non_eu += [country['country']]

In [29]:
non_eu

['Albania',
 'Andorra',
 'Belarus',
 'Bosnia and Herzegovina',
 'Iceland',
 'Kosovo',
 'Liechtenstein',
 'Macedonia',
 'Moldova',
 'Montenegro',
 'Norway',
 'Serbia',
 'Switzerland',
 'Turkey',
 'Ukraine']

In [22]:
a+=[1, 2]

In [7]:
read_csv('Teams.csv')

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0
5,Germany,6,6,4,0,2,13,3,8,1
6,Argentina,7,5,4,0,1,10,6,7,0
7,England,8,4,1,2,1,3,5,6,0
8,France,9,3,0,1,2,1,4,6,1
9,Greece,13,3,1,0,2,2,5,5,0
10,USA,14,4,1,2,1,5,5,9,0
11,Serbia,15,3,1,0,2,2,3,8,1
12,Uruguay,16,6,3,2,1,9,5,8,2
13,Mexico,17,4,1,1,2,4,5,9,0
14,Chile,18,4,2,0,2,3,5,13,1
15,Cameroon,19,3,0,0,3,2,5,5,0
16,Australia,20,3,1,1,1,3,6,7,2
17,Nigeria,21,3,0,1,2,3,5,5,1
18,Switzerland,24,3,1,1,1,1,1,8,1
19,Slovenia,25,3,1,1,1,3,3,9,0
20,Ivory Coast,27,3,1,1,1,4,3,5,0
21,Algeria,30,3,0,1,2,0,2,4,2
22,Paraguay,31,5,1,3,1,3,2,9,0
23,Ghana,32,5,2,2,1,5,4,11,0
24,Slovakia,34,4,1,1,2,5,7,11,0
25,Denmark,36,3,1,0,2,3,6,6,0
26,Honduras,38,3,0,1,2,0,3,7,0
27,Japan,45,4,2,1,1,4,2,7,0
28,South Korea,47,4,1,1,2,6,8,6,0
29,New Zealand,78,3,0,3,0,2,2,6,0
30,South Africa,83,3,1,1,1,3,5,4,1
31,North Korea,105,3,0,0,3,1,12,2,0

In [1]:
from pandas import *
import csv

In [6]:
read_csv('Players.csv')

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [3]:
import csv
titanic_data = []
with open('Titanic.csv') as f:
    rows = csv.DictReader(f)
    for r in rows:
        titanic_data.append(r)

In [48]:
for x in titanic_data:
    print(x)

{'last': 'Abbing', 'first': 'Mr. Anthony', 'gender': 'M', 'age': '42', 'class': '3', 'fare': '7.55', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Abbott', 'first': 'Mrs. Stanton (Rosa Hunt)', 'gender': 'F', 'age': '35', 'class': '3', 'fare': '20.25', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Abbott', 'first': 'Mr. Rossmore Edward', 'gender': 'M', 'age': '16', 'class': '3', 'fare': '20.25', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Abelson', 'first': 'Mr. Samuel', 'gender': 'M', 'age': '30', 'class': '2', 'fare': '24.00', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Abelson', 'first': 'Mrs. Samuel (Hannah Wizosky)', 'gender': 'F', 'age': '28', 'class': '2', 'fare': '24.00', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Adahl', 'first': 'Mr. Mauritz Nils Martin', 'gender': 'M', 'age': '30', 'class': '3', 'fare': '7.25', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Adams', 'first': 'Mr. John', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ahlin', 'first': 'Mrs. Johan (Johanna Persdotter Larsson)', 'gender': 'F', 'age': '40', 'class': '3', 'fare': '9.48', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Aks', 'first': 'Mrs. Sam (Leah Rosen)', 'gender': 'F', 'age': '18', 'class': '3', 'fare': '9.35', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Albimona', 'first': 'Mr. Nassef Cassem', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '18.79', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Alexander', 'first': 'Mr. William', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '7.89', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Alhomaki', 'first': 'Mr. Ilmari Rudolf', 'gender': 'M', 'age': '20', 'class': '3', 'fare': '7.93', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ali', 'first': 'Mr. Ahmed', 'gender': 'M', 'age': '24', 'class': '3', 'fare': '7.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ali', 'first': 'Mr. William', 'gender': 'M', 'age': '25', 'class': '3', 'fare': '7.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Allen', 'first': 'Mr. William Henry', 'gender': 'M', 'age': '35', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Allen', 'first': 'Miss Elisabeth Walton', 'gender': 'F', 'age': '29', 'class': '1', 'fare': '211.34', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Allison', 'first': 'Miss Helen Loraine', 'gender': 'F', 'age': '2', 'class': '1', 'fare': '151.55', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Allison', 'first': 'Master Hudson Trevor', 'gender': 'M', 'age': '0.92', 'class': '1', 'fare': '151.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Allison', 'first': 'Mrs. Hudson J C (Bessie Waldo Daniels)', 'gender': 'F', 'age': '25', 'class': '1', 'fare': '151.55', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Allum', 'first': 'Mr. Owen George', 'gender': 'M', 'age': '18', 'class': '3', 'fare': '8.30', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersen-Jensen', 'first': 'Miss Carla Christine Nielsine', 'gender': 'F', 'age': '19', 'class': '3', 'fare': '7.85', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Anderson', 'first': 'Mr. Harry', 'gender': 'M', 'age': '48', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Andersson', 'first': 'Mr. Anders Johan', 'gender': 'M', 'age': '39', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Miss Erna Alexandra', 'gender': 'F', 'age': '17', 'class': '3', 'fare': '7.93', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Andersson', 'first': 'Miss Ellis Anna Maria', 'gender': 'F', 'age': '2', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': ' Mr. August Edvard ("Wennerstrom")', 'gender': 'M', 'age': '27', 'class': '3', 'fare': '7.80', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Andersson', 'first': 'Miss Ingeborg Constanzia', 'gender': 'F', 'age': '9', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Miss Sigrid Elisabeth', 'gender': 'F', 'age': '11', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Mrs. Anders Johan (Alfrida Konstantia Brogren)', 'gender': 'F', 'age': '39', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Miss Ebba Iris Alfrida', 'gender': 'F', 'age': '6', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Master Sigvard Harald Elias', 'gender': 'M', 'age': '4', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andreasson', 'first': 'Mr. Paul Edvin', 'gender': 'M', 'age': '20', 'class': '3', 'fare': '7.85', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andrew', 'first': 'Mr. Edgardo Samuel', 'gender': 'M', 'age': '18', 'class': '2', 'fare': '11.50', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andrews', 'first': 'Miss Kornelia Theodosia', 'gender': 'F', 'age': '63', 'class': '1', 'fare': '77.96', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Andrews', 'first': 'Mr. Thomas Jr', 'gender': 'M', 'age': '39', 'class': '1', 'fare': '0.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Angle', 'first': ' Mrs. William A (Florence "Mary" Agnes Hughes)', 'gender': 'F', 'age': '36', 'class': '2', 'fare': '26.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Appleton', 'first': 'Mrs. Edward Dale (Charlotte Lamson)', 'gender': 'F', 'age': '53', 'class': '1', 'fare': '51.48', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Arnold-Franchi', 'first': 'Mrs. Josef (Josefine Franchi)', 'gender': 'F', 'age': '18', 'class': '3', 'fare': '17.80', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Arnold-Franchi', 'first': 'Mr. Josef', 'gender': 'M', 'age': '25', 'class': '3', 'fare': '17.80', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Artagaveytia', 'first': 'Mr. Ramon', 'gender': 'M', 'age': '71', 'class': '1', 'fare': '49.50', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Asim', 'first': 'Mr. Adola', 'gender': 'M', 'age': '35', 'class': '3', 'fare': '7.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Asplund', 'first': 'Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'gender': 'F', 'age': '38', 'class': '3', 'fare': '31.39', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Asplund', 'first': 'Master Clarence Gustaf Hugo', 'gender': 'M', 'age': '9', 'class': '3', 'fare': '31.39', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Asplund', 'first': 'Miss Lillian Gertrud', 'gender': 'F', 'age': '5', 'class': '3', 'fare': '31.39', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Asplund', 'first': 'Master Edvin Rojj Felix', 'gender': 'M', 'age': '3', 'class': '3', 'fare': '31.39', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Astor', 'first': 'Mrs. John Jacob (Madeleine Talmadge Force)', 'gender': 'F', 'age': '18', 'class': '1', 'fare': '227.53', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Attalah', 'first': 'Miss Malake', 'gender': 'F', 'age': '17', 'class': '3', 'fare': '14.46', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Attalah', 'first': 'Mr. Sleiman', 'gender': 'M', 'age': '30', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Aubart', 'first': 'Mme. Leontine Pauline', 'gender': 'F', 'age': '24', 'class': '1', 'fare': '69.30', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Augustsson', 'first': 'Mr. Albert', 'gender': 'M', 'age': '23', 'class': '3', 'fare': '7.85', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ayoub', 'first': 'Miss Banoura', 'gender': 'F', 'age': '13', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Backstrom', 'first': 'Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'gender': 'F', 'age': '33', 'class': '3', 'fare': '15.85', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Backstrom', 'first': 'Mr. Karl Alfred', 'gender': 'M', 'age': '32', 'class': '3', 'fare': '15.85', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Baclini', 'first': 'Miss Marie Catherine', 'gender': 'F', 'age': '5', 'class': '3', 'fare': '19.26', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Baclini', 'first': 'Miss Helene Barbara', 'gender': 'F', 'age': '0.75', 'class': '3', 'fare': '19.26', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Baclini', 'first': 'Miss Eugenie', 'gender': 'F', 'age': '0.75', 'class': '3', 'fare': '19.26', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Baclini', 'first': 'Mrs. Solomon (Latifa Qurban)', 'gender': 'F', 'age': '24', 'class': '3', 'fare': '19.26', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Badt', 'first': 'Mr. Mohamed', 'gender': 'M', 'age': '40', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Bailey', 'first': 'Mr. Percy Andrew', 'gender': 'M', 'age': '18', 'class': '2', 'fare': '11.50', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Balkic', 'first': 'Mr. Cerin', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '7.90', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ball', 'first': 'Mrs. (Ada E Hall)', 'gender': 'F', 'age': '36', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Banfield', 'first': 'Mr. Frederick James', 'gender': 'M', 'age': '28', 'class': '2', 'fare': '10.50', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Barah', 'first': 'Mr. Hanna Assi', 'gender': 'M', 'age': '20', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Barbara', 'first': 'Mrs. (Catherine David)', 'gender': 'F', 'age': '45', 'class': '3', 'fare': '14.45', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Barbara', 'first': 'Miss Saiide', 'gender': 'F', 'age': '18', 'class': '3', 'fare': '14.45', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Barber', 'first': ' Miss Ellen "Nellie"', 'gender': 'F', 'age': '26', 'class': '1', 'fare': '78.85', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Barkworth', 'first': 'Mr. Algernon Henry Wilson', 'gender': 'M', 'age': '80', 'class': '1', 'fare': '30.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Barton', 'first': 'Mr. David John', 'gender': 'M', 'age': '22', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bateman', 'first': 'Rev. Robert James', 'gender': 'M', 'age': '51', 'class': '2', 'fare': '12.53', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Baumann', 'first': 'Mr. John D', 'gender': 'M', 'age': '', 'class': '1', 'fare': '25.93', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Baxter', 'first': 'Mr. Quigg Edmond', 'gender': 'M', 'age': '24', 'class': '1', 'fare': '247.52', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Baxter', 'first': 'Mrs. James (Helene DeLaudeniere Chaput)', 'gender': 'F', 'age': '50', 'class': '1', 'fare': '247.52', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bazzani', 'first': 'Miss Albina', 'gender': 'F', 'age': '32', 'class': '1', 'fare': '76.29', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Beane', 'first': 'Mr. Edward', 'gender': 'M', 'age': '32', 'class': '2', 'fare': '26.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beane', 'first': 'Mrs. Edward (Ethel Clarke)', 'gender': 'F', 'age': '19', 'class': '2', 'fare': '26.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beavan', 'first': 'Mr. William Thomas', 'gender': 'M', 'age': '19', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Becker', 'first': 'Master Richard F', 'gender': 'M', 'age': '1', 'class': '2', 'fare': '39.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Becker', 'first': 'Miss Marion Louise', 'gender': 'F', 'age': '4', 'class': '2', 'fare': '39.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beckwith', 'first': 'Mr. Richard Leonard', 'gender': 'M', 'age': '37', 'class': '1', 'fare': '52.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beckwith', 'first': 'Mrs. Richard Leonard (Sallie Monypeny)', 'gender': 'F', 'age': '47', 'class': '1', 'fare': '52.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beesley', 'first': 'Mr. Lawrence', 'gender': 'M', 'age': '34', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Behr', 'first': 'Mr. Karl Howell', 'gender': 'M', 'age': '26', 'class': '1', 'fare': '30.00', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bengtsson', 'first': 'Mr. John Viktor', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '7.78', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Berglund', 'first': 'Mr. Karl Ivar Sven', 'gender': 'M', 'age': '22', 'class': '3', 'fare': '9.35', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Berriman', 'first': 'Mr. William John', 'gender': 'M', 'age': '23', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Betros', 'first': 'Mr. Tannous', 'gender': 'M', 'age': '20', 'class': '3', 'fare': '4.01', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Bidois', 'first': 'Miss Rosalie', 'gender': 'F', 'age': '42', 'class': '1', 'fare': '227.53', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bing', 'first': 'Mr. Lee', 'gender': 'M', 'age': '32', 'class': '3', 'fare': '56.50', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Birkeland', 'first': 'Mr. Hans Martin Monsen', 'gender': 'M', 'age': '21', 'class': '3', 'fare': '7.78', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bishop', 'first': 'Mrs. Dickinson H (Helen Walton)', 'gender': 'F', 'age': '19', 'class': '1', 'fare': '91.08', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bishop', 'first': 'Mr. Dickinson H', 'gender': 'M', 'age': '25', 'class': '1', 'fare': '91.08', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bissette', 'first': 'Miss Amelia', 'gender': 'F', 'age': '35', 'class': '1', 'fare': '135.63', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Bjornstrom-Steffansson', 'first': 'Mr. Mauritz Hakan', 'gender': 'M', 'age': '28', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Blackwell', 'first': 'Mr. Stephen Weart', 'gender': 'M', 'age': '45', 'class': '1', 'fare': '35.50', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Blank', 'first': 'Mr. Henry', 'gender': 'M', 'age': '40', 'class': '1', 'fare': '31.00', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bonnell', 'first': 'Miss Elizabeth', 'gender': 'F', 'age': '58', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Bostandyeff', 'first': 'Mr. Guentcho', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '7.90', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Boulos', 'first': 'Mrs. Joseph (Sultana)', 'gender': 'F', 'age': '', 'class': '3', 'fare': '15.25', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Boulos', 'first': 'Mr. Hanna', 'gender': 'M', 'age': '', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Boulos', 'first': 'Miss Nourelain', 'gender': 'F', 'age': '9', 'class': '3', 'fare': '15.25', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Bourke', 'first': 'Mr. John', 'gender': 'M', 'age': '40', 'class': '3', 'fare': '15.50', 'embarked': 'Queenstown', 'survived': 'no'}
{'last': 'Bourke', 'first': 'Miss Mary', 'gender': 'F', 'age': '', 'class': '3', 'fare': '7.75', 'embarked': 'Queenstown', 'survived': 'no'}
{'last': 'Bourke', 'first': 'Mrs. John (Catherine)', 'gender': 'F', 'age': '32', 'class': '3', 'fare': '15.50', 'embarked': 'Queenstown', 'survived': 'no'}
{'last': 'Bowen', 'first': ' Mr. David John "Dai"', 'gender': 'M', 'age': '21', 'class': '3', 'fare': '16.10', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bowerman', 'first': 'Miss Elsie Edith', 'gender': 'F', 'age': '22', 'class': '1', 'fare': '55.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Bracken', 'first': 'Mr. James H', 'gender': 'M', 'age': '27', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bradley', 'first': ' Mr. George ("George Arthur Brayton")', 'gender': 'M', 'age': '', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Braund', 'first': 'Mr. Owen Harris', 'gender': 'M', 'age': '22', 'class': '3', 'fare': '7.25', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Braund', 'first': 'Mr. Lewis Richard', 'gender': 'M', 'age': '29', 'class': '3', 'fare': '7.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Brewe', 'first': 'Dr. Arthur Jackson', 'gender': 'M', 'age': '', 'class': '1', 'fare': '39.60', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Brocklebank', 'first': 'Mr. William Alfred', 'gender': 'M', 'age': '35', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Brown', 'first': 'Mrs. James Joseph (Margaret Tobin)', 'gender': 'F', 'age': '44', 'class': '1', 'fare': '27.72', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Brown', 'first': ' Miss Amelia "Mildred"', 'gender': 'F', 'age': '24', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Brown', 'first': 'Mrs. Thomas William Solomon (Elizabeth Catherine Ford)', 'gender': 'F', 'age': '40', 'class': '2', 'fare': '39.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Brown', 'first': 'Mr. Thomas William Solomon', 'gender': 'M', 'age': '60', 'class': '2', 'fare': '39.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bryhl', 'first': 'Mr. Kurt Arnold Gottfrid', 'gender': 'M', 'age': '25', 'class': '2', 'fare': '26.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Burke', 'first': 'Mr. Jeremiah', 'gender': 'M', 'age': '19', 'class': '3', 'fare': '6.75', 'embarked': 'Queenstown', 'survived': 'no'}
{'last': 'Burns', 'first': 'Miss Elizabeth Margaret', 'gender': 'F', 'age': '41', 'class': '1', 'fare': '134.50', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Buss', 'first': 'Miss Kate', 'gender': 'F', 'age': '36', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Butler', 'first': 'Mr. Reginald Fenton', 'gender': 'M', 'age': '25', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Butt', 'first': 'Major. Archibald Willingham', 'gender': 'M', 'age': '45', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Byles', 'first': 'Rev. Thomas Roussel Davids', 'gender': 'M', 'age': '42', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bystrom', 'first': 'Mrs. (Karolina)', 'gender': 'F', 'age': '42', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Cacic', 'first': 'Mr. Luka', 'gender': 'M', 'age': '38', 'class': '3', 'fare': '8.66', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Cacic', 'first': 'Miss Marija', 'gender': 'F', 'age': '30', 'class': '3', 'fare': '8.66', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Cairns', 'first': 'Mr. Alexander', 'gender': 'M', 'age': '', 'class': '1', 'fare': '31.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Calderhead', 'first': 'Mr. Edward Pennington', 'gender': 'M', 'age': '42', 'class': '1', 'fare': '26.29', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Caldwell', 'first': 'Master Alden Gates', 'gender': 'M', 'age': '0.83', 'class': '2', 'fare': '29.00', 'embarked': 'Southampton', 'survived': 'yes'}

In [51]:
read_csv('Titanic.csv')

,last,first,gender,age,class,fare,embarked,survived
0,Abbing,Mr. Anthony,M,42.0,3,7.55,Southampton,no
1,Abbott,Mrs. Stanton (Rosa Hunt),F,35.0,3,20.25,Southampton,yes
2,Abbott,Mr. Rossmore Edward,M,16.0,3,20.25,Southampton,no
3,Abelson,Mr. Samuel,M,30.0,2,24.00,Cherbourg,no
4,Abelson,Mrs. Samuel (Hannah Wizosky),F,28.0,2,24.00,Cherbourg,yes
...,...,...,...,...,...,...,...,...
886,Yousseff,Mr. Gerious,M,NaN,3,14.46,Cherbourg,no
887,Yrois,"Miss Henriette (""Mrs Harbeck"")",F,24.0,2,13.00,Southampton,no
888,Zabour,Miss Hileni,F,14.5,3,14.45,Cherbourg,no
889,Zabour,Miss Thamine,F,NaN,3,14.45,Cherbourg,no
890,Zimmerman,Mr. Leo,M,29.0,3,7.88,Southampton,no

In [92]:
l = [1, 2, 1, 1]
max(l, key=lambda x: l.count(x))

1

In [88]:
def number_single_embarked_survived(place_embarked, age_threshold, titanic_data):
    """Returns the number of survived single women over age_threshold embarked at place_embarked
    (Single women are denoted by "Miss")

    >>> number_single_embarked_survived("Southampton", 40, titanic_data)
    4
    >>> number_single_embarked_survived("Cherbourg", 50, titanic_data)
    2
    >>> number_single_embarked_survived("Queenstown", 20, titanic_data)
    3
    """

    return len(
        tuple(
            filter(
                lambda x: x['embarked'] == place_embarked
                and float(x['age'] or 0) > age_threshold
                and x['survived'] == 'yes'
                and 'Miss' in x['first'],
                titanic_data
            )
        )
    )

In [73]:
number_single_embarked_survived("Cherbourg", 50, titanic_data)

2

In [89]:
def class_survival_rate(passenger_class, titanic_data):
    """Returns the survival rate of a given passenger_class

    >>> survival_rate = class_survival_rate("1", titanic_data)
    >>> f"{survival_rate:.2f}"
    '0.63'
    >>> survival_rate = class_survival_rate("2", titanic_data)
    >>> f"{survival_rate:.2f}"
    '0.47'
    >>> survival_rate = class_survival_rate("3", titanic_data)
    >>> f"{survival_rate:.2f}"
    '0.24'
    """

    all_class_peep = tuple(filter(lambda x: x['class'] == passenger_class, titanic_data))
    
    survived = tuple(filter(lambda x: x['survived'] == 'yes', all_class_peep))

    return len(survived)/len(all_class_peep)

In [90]:
class_survival_rate("2", titanic_data)

0.47282608695652173

TypeError: object of type 'filter' has no len()

In [45]:
list_of_tuples = team_list_shots_per_minute(players_data, teams_data)
list_of_tuples.sort()
for team,shots in list_of_tuples:
    print(f'{team} {shots:.5f}')

Algeria 0.01050
Argentina 0.01394
Australia 0.01010
Brazil 0.01440
Cameroon 0.01178
Chile 0.01152
Denmark 0.01077
England 0.01237
France 0.00998
Germany 0.01121
Ghana 0.01337
Greece 0.01077
Honduras 0.00438
Italy 0.01212
Ivory Coast 0.01313
Japan 0.00886
Mexico 0.01086
Netherlands 0.01128
New Zealand 0.00505
Nigeria 0.00996
North Korea 0.01077
Paraguay 0.00928
Portugal 0.01263
Serbia 0.01286
Slovakia 0.00884
Slovenia 0.00572
South Africa 0.01184
South Korea 0.01111
Spain 0.01380
Switzerland 0.00721
USA 0.01282
Uruguay 0.01118

In [11]:
\

[('Brazil',
  [0.0,
   0.035483870967741936,
   0.03571428571428571,
   0.0215311004784689,
   0.0,
   0.006666666666666667,
   0.0,
   0.0,
   0.008888888888888889,
   0.0,
   0.017804154302670624,
   0.0,
   0.0022222222222222222,
   0.013333333333333334,
   0.006872852233676976,
   0.016587677725118485,
   0.03875968992248062,
   0.02857142857142857,
   0.025423728813559324]),
 ('Spain',
  [0.017786561264822136,
   0.0,
   0.0,
   0.001851851851851852,
   0.0,
   0.010638297872340425,
   0.018306636155606407,
   0.0,
   0.03389830508474576,
   0.05,
   0.06451612903225806,
   0.0,
   0.04310344827586207,
   0.003703703703703704,
   0.0056179775280898875,
   0.017077798861480076,
   0.030303030303030304,
   0.03237410071942446,
   0.04158790170132325,
   0.007766990291262136]),
 ('Portugal',
  [0.03676470588235294,
   0.2,
   0.002777777777777778,
   0.005555555555555556,
   0.005681818181818182,
   0.0,
   0.0,
   0.0,
   0.0,
   0.002777777777777778,
   0.03305785123966942,
   0.0182370820668693,
   0.0,
   0.011111111111111112,
   0.007352941176470588,
   0.0,
   0.05,
   0.009216589861751152,
   0.020134228187919462,
   0.038461538461538464]),
 ('Netherlands',
  [0.23809523809523808,
   0.0,
   0.023529411764705882,
   0.0,
   0.020833333333333332,
   0.02131782945736434,
   0.0022222222222222222,
   0.0,
   0.02247191011235955,
   0.02819548872180451,
   0.0,
   0.0311284046692607,
   0.0,
   0.002232142857142857,
   0.0,
   0.003703703703703704,
   0.001851851851851852,
   0.029227557411273485]),
 ('Italy',
  [0.0,
   0.02631578947368421,
   0.0,
   0.007407407407407408,
   0.0044444444444444444,
   0.011111111111111112,
   0.0392156862745098,
   0.0,
   0.008547008547008548,
   0.018518518518518517,
   0.0,
   0.0,
   0.0,
   0.03389830508474576,
   0.0,
   0.013333333333333334,
   0.0,
   0.06666666666666667,
   0.007407407407407408]),
 ('Germany',
  [0.0,
   0.003484320557491289,
   0.030303030303030304,
   0.001851851851851852,
   0.03508771929824561,
   0.0136986301369863,
   0.01160541586073501,
   0.0,
   0.03089887640449438,
   0.04,
   0.0,
   0.034482758620689655,
   0.0,
   0.018276762402088774,
   0.0,
   0.032015065913371,
   0.009416195856873822,
   0.009174311926605505,
   0.014084507042253521]),
 ('Argentina',
  [0.018867924528301886,
   0.02040816326530612,
   0.002932551319648094,
   0.0022222222222222222,
   0.019662921348314606,
   0.0,
   0.008333333333333333,
   0.03812316715542522,
   0.0,
   0.005780346820809248,
   0.04666666666666667,
   0.0,
   0.0,
   0.3,
   0.05405405405405406,
   0.011111111111111112,
   0.0,
   0.017543859649122806,
   0.018518518518518517,
   0.016216216216216217]),
 ('England',
  [0.0,
   0.007575757575757576,
   0.0,
   0.058823529411764705,
   0.028901734104046242,
   0.027777777777777776,
   0.008403361344537815,
   0.0,
   0.011363636363636364,
   0.0,
   0.022727272727272728,
   0.0,
   0.030555555555555555,
   0.0,
   0.005405405405405406,
   0.023391812865497075,
   0.005555555555555556,
   0.005555555555555556,
   0.02247191011235955]),
 ('France',
  [0.0,
   0.003703703703703704,
   0.0,
   0.05982905982905983,
   0.05454545454545454,
   0.0,
   0.0,
   0.0,
   0.031578947368421054,
   0.03,
   0.006172839506172839,
   0.018867924528301886,
   0.0,
   0.02666666666666667,
   0.014814814814814815,
   0.0,
   0.0,
   0.005555555555555556,
   0.047619047619047616]),
 ('Greece',
  [0.003703703703703704,
   0.0,
   0.01775147928994083,
   0.034482758620689655,
   0.022222222222222223,
   0.008547008547008548,
   0.022222222222222223,
   0.0,
   0.02127659574468085,
   0.0,
   0.0,
   0.024793388429752067,
   0.034653465346534656,
   0.0,
   0.022222222222222223,
   0.01276595744680851,
   0.007407407407407408,
   0.0,
   0.0]),
 ('USA',
  [0.0,
   0.002564102564102564,
   0.01,
   0.015384615384615385,
   0.02564102564102564,
   0.002564102564102564,
   0.0,
   0.005128205128205128,
   0.038461538461538464,
   0.017948717948717947,
   0.010101010101010102,
   0.01818181818181818,
   0.005988023952095809,
   0.047058823529411764,
   0.0,
   0.0,
   0.02247191011235955,
   0.0058823529411764705,
   0.022222222222222223]),
 ('Serbia',
  [0.011111111111111112,
   0.0163265306122449,
   0.05,
   0.011111111111111112,
   0.012396694214876033,
   0.022222222222222223,
   0.022727272727272728,
   0.006097560975609756,
   0.0,
   0.00625,
   0.011111111111111112,
   0.02654867256637168,
   0.06666666666666667,
   0.011111111111111112,
   0.0,
   0.0,
   0.10714285714285714,
   0.007407407407407408,
   0.022026431718061675]),
 ('Uruguay',
  [0.0,
   0.008771929824561403,
   0.020689655172413793,
   0.0,
   0.0,
   0.013333333333333334,
   0.0,
   0.031914893617021274,
   0.005390835579514825,
   0.0,
   0.0031746031746031746,
   0.0,
   0.0,
   0.005025125628140704,
   0.008771929824561403,
   0.0,
   0.003527336860670194,
   0.0,
   0.0420353982300885,
   0.0,
   0.014669926650366748]),
 ('Mexico',
  [0.0,
   0.026845637583892617,
   0.0,
   0.017857142857142856,
   0.0,
   0.015810276679841896,
   0.005555555555555556,
   0.035211267605633804,
   0.03550295857988166,
   0.0,
   0.0,
   0.016666666666666666,
   0.002777777777777778,
   0.0,
   0.005555555555555556,
   0.025,
   0.002777777777777778,
   0.01]),
 ('Chile',
  [0.005555555555555556,
   0.0,
   0.003703703703703704,
   0.0,
   0.02702702702702703,
   0.0064516129032258064,
   0.0,
   0.07246376811594203,
   0.0030120481927710845,
   0.003246753246753247,
   0.003703703703703704,
   0.008,
   0.04,
   0.04285714285714286,
   0.007407407407407408,
   0.02962962962962963,
   0.020895522388059702,
   0.0,
   0.013513513513513514,
   0.0196078431372549]),
 ('Cameroon',
  [0.043478260869565216,
   0.011111111111111112,
   0.0,
   0.0,
   0.0,
   0.022222222222222223,
   0.013605442176870748,
   0.05982905982905983,
   0.014814814814814815,
   0.014814814814814815,
   0.005128205128205128,
   0.0,
   0.04,
   0.01904761904761905,
   0.0,
   0.011111111111111112,
   0.011111111111111112,
   0.0,
   0.0,
   0.023809523809523808]),
 ('Australia',
  [0.0,
   0.022727272727272728,
   0.0410958904109589,
   0.0,
   0.014492753623188406,
   0.014814814814814815,
   0.003937007874015748,
   0.027777777777777776,
   0.0,
   0.021739130434782608,
   0.0,
   0.026785714285714284,
   0.0,
   0.005555555555555556,
   0.003703703703703704,
   0.03125,
   0.0,
   0.0,
   0.0078125]),
 ('Nigeria',
  [0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.005555555555555556,
   0.016260162601626018,
   0.0,
   0.028169014084507043,
   0.03076923076923077,
   0.0,
   0.0,
   0.0,
   0.023255813953488372,
   0.030612244897959183,
   0.041666666666666664,
   0.024,
   0.0]),
 ('Switzerland',
  [0.013215859030837005,
   0.0,
   0.0,
   0.0,
   0.020942408376963352,
   0.0,
   0.0047169811320754715,
   0.031746031746031744,
   0.003703703703703704,
   0.0,
   0.007407407407407408,
   0.007407407407407408,
   0.00881057268722467,
   0.0,
   0.0,
   0.05357142857142857,
   0.003703703703703704,
   0.0]),
 ('Slovenia',
  [0.022988505747126436,
   0.003703703703703704,
   0.003703703703703704,
   0.0,
   0.0,
   0.0,
   0.003861003861003861,
   0.0,
   0.011111111111111112,
   0.011560693641618497,
   0.0,
   0.007407407407407408,
   0.0,
   0.003745318352059925,
   0.0]),
 ('Ivory Coast',
  [0.0,
   0.022222222222222223,
   0.0,
   0.0058823529411764705,
   0.0,
   0.0392156862745098,
   0.01195219123505976,
   0.027472527472527472,
   0.02127659574468085,
   0.025,
   0.007407407407407408,
   0.05102040816326531,
   0.011111111111111112,
   0.005555555555555556,
   0.011111111111111112,
   0.0]),
 ('Algeria',
  [0.0,
   0.003703703703703704,
   0.04054054054054054,
   0.003703703703703704,
   0.0,
   0.024390243902439025,
   0.075,
   0.0,
   0.007407407407407408,
   0.0,
   0.0,
   0.0,
   0.011764705882352941,
   0.0,
   0.06666666666666667,
   0.0037174721189591076,
   0.02973977695167286,
   0.020833333333333332]),
 ('Paraguay',
  [0.002564102564102564,
   0.018018018018018018,
   0.01948051948051948,
   0.024096385542168676,
   0.0,
   0.044444444444444446,
   0.014705882352941176,
   0.0,
   0.002824858757062147,
   0.0020833333333333333,
   0.0020833333333333333,
   0.0,
   0.010416666666666666,
   0.019230769230769232,
   0.016666666666666666,
   0.024390243902439025,
   0.02373887240356083,
   0.012077294685990338,
   0.0,
   0.0]),
 ('Ghana',
  [0.0,
   0.0,
   0.0,
   0.00784313725490196,
   0.009523809523809525,
   0.022916666666666665,
   0.007712082262210797,
   0.02586206896551724,
   0.05389221556886228,
   0.0053475935828877,
   0.002380952380952381,
   0.006666666666666667,
   0.0,
   0.03731343283582089,
   0.05714285714285714,
   0.00392156862745098,
   0.0,
   0.014285714285714285,
   0.004761904761904762]),
 ('Slovakia',
  [0.0,
   0.002777777777777778,
   0.013966480446927373,
   0.0,
   0.0,
   0.012,
   0.045454545454545456,
   0.0,
   0.022099447513812154,
   0.0,
   0.0,
   0.0,
   0.012048192771084338,
   0.0,
   0.019736842105263157,
   0.0,
   0.010362694300518135,
   0.00749063670411985,
   0.028328611898016998,
   0.007434944237918215,
   0.0037313432835820895]),
 ('Denmark',
  [0.007407407407407408,
   0.0,
   0.01652892561983471,
   0.003703703703703704,
   0.03571428571428571,
   0.022727272727272728,
   0.009900990099009901,
   0.0,
   0.03333333333333333,
   0.0,
   0.005917159763313609,
   0.012578616352201259,
   0.005555555555555556,
   0.017857142857142856,
   0.058823529411764705,
   0.014814814814814815,
   0.003703703703703704,
   0.0,
   0.03977272727272727]),
 ('Honduras',
  [0.005555555555555556,
   0.022222222222222223,
   0.0,
   0.0,
   0.003703703703703704,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.023255813953488372,
   0.016666666666666666,
   0.011695906432748537,
   0.0,
   0.0,
   0.0,
   0.0,
   0.022988505747126436,
   0.0]),
 ('Japan',
  [0.0,
   0.002570694087403599,
   0.005333333333333333,
   0.020512820512820513,
   0.0,
   0.0,
   0.0,
   0.007692307692307693,
   0.0,
   0.01282051282051282,
   0.01098901098901099,
   0.010256410256410256,
   0.002564102564102564,
   0.038461538461538464,
   0.019943019943019943,
   0.0,
   0.0,
   0.0]),
 ('South Korea',
  [0.007407407407407408,
   0.0,
   0.0,
   0.00684931506849315,
   0.0,
   0.0,
   0.011111111111111112,
   0.023255813953488372,
   0.019498607242339833,
   0.02631578947368421,
   0.005555555555555556,
   0.0,
   0.005555555555555556,
   0.011111111111111112,
   0.040345821325648415,
   0.013888888888888888,
   0.008032128514056224]),
 ('New Zealand',
  [0.0,
   0.0,
   0.0,
   0.0,
   0.003703703703703704,
   0.0045045045045045045,
   0.0125,
   0.0,
   0.0,
   0.0,
   0.007407407407407408,
   0.018518518518518517,
   0.003703703703703704,
   0.004016064257028112,
   0.015151515151515152]),
 ('South Africa',
  [0.011111111111111112,
   0.0,
   0.01282051282051282,
   0.007407407407407408,
   0.006024096385542169,
   0.0,
   0.0,
   0.026041666666666668,
   0.0,
   0.0,
   0.037037037037037035,
   0.0,
   0.0,
   0.004651162790697674,
   0.013333333333333334,
   0.007936507936507936,
   0.011111111111111112,
   0.0,
   0.03333333333333333]),
 ('North Korea',
  [0.003703703703703704,
   0.01568627450980392,
   0.043478260869565216,
   0.014814814814814815,
   0.011111111111111112,
   0.04814814814814815,
   0.0,
   0.03125,
   0.00975609756097561,
   0.0,
   0.0,
   0.004201680672268907,
   0.003703703703703704,
   0.003703703703703704,
   0.0])]

In [97]:
def common_last_name(titanic_data):
    """Returns most common last name

    >>> common_last_name(titanic_data)
    'Andersson'
    """

    return max(titanic_data, key=lambda x: x['last'])

In [98]:
common_last_name(titanic_data)

{'last': 'van Melkebeke',
 'first': 'Mr. Philemon',
 'gender': 'M',
 'age': '',
 'class': '3',
 'fare': '9.50',
 'embarked': 'Southampton',
 'survived': 'no'}

In [1]:
import pygame
import sys
from math import *
 
 
pygame.init()
 
width = 500
height = 500
 
display = pygame.display.set_mode((width, height))
clock = pygame.time.Clock()
pygame.display.set_caption("Fidget Spinner Simulation")
 
# Colors
background = (51, 51, 51)
white = (240, 240, 240)
red = (176, 58, 46)
dark_red = (120, 40, 31)
dark_gray = (23, 32, 42)
blue = (40, 116, 166)
dark_blue = (26, 82, 118)
yellow = (183, 149, 11)
dark_yellow = (125, 102, 8)
green = (29, 131, 72)
dark_green = (20, 90, 50)
orange = (230, 126, 34)
dark_orange = (126, 81, 9)
 
 
# Close the Pygame Window
def close():
    pygame.quit()
    sys.exit()
 
# Drawing of Fidget Spinner on Pygame Window
def show_spinner(angle, color, dark_color):
    d = 80
    innerd = 50
    x = width/2 - d/2
    y = height/2
    l = 200
    r = l/(3**0.5)
    w = 10
    lw = 60
 
    # A little math for calculation the coordinates after rotation by some 'angle'
    # x = originx + r*cos(angle)
    # y = originy + r*sin(angle)
     
    centre = [x, y, d, d]
    centre_inner = [x + d/2 - innerd/2, y + d/2 - innerd/2, innerd, innerd]
     
    top = [x, y - l/(3)**0.5, d, d]
    top_inner = [x, y - l/(3)**0.5, innerd, innerd]
 
    top[0] = x + r*cos(radians(angle))
    top[1] = y + r*sin(radians(angle))
    top_inner[0] = x + d/2 - innerd/2 + r*cos(radians(angle))
    top_inner[1] = y + d/2 - innerd/2 + r*sin(radians(angle))
     
    left = [x - l/2, y + l/(2*(3)**0.5), d, d]
    left_inner = [x, y - l/(3)**0.5, innerd, innerd]
 
    left[0] = x + r*cos(radians(angle - 120))
    left[1] = y + r*sin(radians(angle - 120))
    left_inner[0] = x + d/2 - innerd/2 + r*cos(radians(angle - 120))
    left_inner[1] = y + d/2 - innerd/2 + r*sin(radians(angle - 120))
     
     
    right = [x + l/2, y + l/(2*(3)**0.5), d, d]
    right_inner = [x, y - l/(3)**0.5, innerd, innerd]
 
    right[0] = x + r*cos(radians(angle + 120))
    right[1] = y + r*sin(radians(angle + 120))
    right_inner[0] = x + d/2 - innerd/2 + r*cos(radians(angle + 120))
    right_inner[1] = y + d/2 - innerd/2 + r*sin(radians(angle + 120))
     
    # Drawing shapes on Pygame Window
    pygame.draw.line(display, dark_color, (top[0] + d/2, top[1] + d/2), (centre[0] + d/2, centre[1] + d/2), lw)
    pygame.draw.line(display, dark_color, (left[0] + d/2, left[1] + d/2), (centre[0] + d/2, centre[1] + d/2), lw)
    pygame.draw.line(display, dark_color, (right[0] + d/2, right[1] + d/2), (centre[0] + d/2, centre[1] + d/2), lw)
    pygame.draw.ellipse(display, color, tuple(centre))
    pygame.draw.ellipse(display, dark_color, tuple(centre_inner))
    pygame.draw.ellipse(display, color, tuple(top))
    pygame.draw.ellipse(display, dark_gray, tuple(top_inner), 10)
    pygame.draw.ellipse(display, color, tuple(left))
    pygame.draw.ellipse(display, dark_gray, tuple(left_inner), 10)
    pygame.draw.ellipse(display, color, tuple(right))
    pygame.draw.ellipse(display, dark_gray, tuple(right_inner), 10)
 
 
# Displaying Information on Pygame Window
def show_info(friction, speed):
    font = pygame.font.SysFont("Times New Roman", 18)
    frictionText = font.render("Friction : " + str(friction), True, white)
    speedText = font.render("Rate of Change of Angle : " + str(speed), True, white)
    display.blit(speedText, (15, 15))
    display.blit(frictionText, (15, 45))
 
 
# The Main Function
def spinner():
    spin = True
 
    angle = 0
 
    speed = 0.0
    friction = 0.03
    rightPressed = False
    leftPressed = False
 
    direction = 1
    color = [[red, dark_red], [blue, dark_blue], [yellow, dark_yellow], [green, dark_green], [orange, dark_orange]]
    index = 0
     
    while spin:
        for event in pygame.event.get():
            if event.type == pygame.QUIT:
                close()
            if event.type == pygame.KEYDOWN:
                if event.key == pygame.K_q:
                    close()
                if event.key == pygame.K_RIGHT:
                    rightPressed = True
                    direction = 1
                if event.key == pygame.K_LEFT:
                    leftPressed = True
                    direction = -1
                if event.key == pygame.K_SPACE:
                    index += 1
                    if index >= len(color):
                        index = 0
            if event.type == pygame.KEYUP:
                leftPressed = False
                rightPressed = False
 
        # Changing the Angle of rotation
        if direction == 1:
            if rightPressed:
                speed += 0.3
            else:
                speed -= friction
                if speed < 0:
                    speed = 0.0
        else:
            if leftPressed:
                speed -= 0.3
            else:
                speed += friction
                if speed > 0:
                    speed = 0.0

        display.fill(background)

pygame 2.0.3 (SDL 2.0.16, Python 3.10.0)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
spinner()

KeyboardInterrupt:

In [4]:
cities_data

[{'city': 'Aalborg',
  'country': 'Denmark',
  'latitude': '57.03',
  'longitude': '9.92',
  'temperature': '7.52'},
 {'city': 'Aberdeen',
  'country': 'United Kingdom',
  'latitude': '57.17',
  'longitude': '-2.08',
  'temperature': '8.10'},
 {'city': 'Abisko',
  'country': 'Sweden',
  'latitude': '63.35',
  'longitude': '18.83',
  'temperature': '0.20'},
 {'city': 'Adana',
  'country': 'Turkey',
  'latitude': '36.99',
  'longitude': '35.32',
  'temperature': '18.67'},
 {'city': 'Albacete',
  'country': 'Spain',
  'latitude': '39.00',
  'longitude': '-1.87',
  'temperature': '12.62'},
 {'city': 'Algeciras',
  'country': 'Spain',
  'latitude': '36.13',
  'longitude': '-5.47',
  'temperature': '17.38'},
 {'city': 'Amiens',
  'country': 'France',
  'latitude': '49.90',
  'longitude': '2.30',
  'temperature': '10.17'},
 {'city': 'Amsterdam',
  'country': 'Netherlands',
  'latitude': '52.35',
  'longitude': '4.92',
  'temperature': '8.93'},
 {'city': 'Ancona',
  'country': 'Italy',
  'latitude': '43.60',
  'longitude': '13.50',
  'temperature': '13.52'},
 {'city': 'Andorra',
  'country': 'Andorra',
  'latitude': '42.50',
  'longitude': '1.52',
  'temperature': '9.60'},
 {'city': 'Angers',
  'country': 'France',
  'latitude': '47.48',
  'longitude': '-0.53',
  'temperature': '10.98'},
 {'city': 'Ankara',
  'country': 'Turkey',
  'latitude': '39.93',
  'longitude': '32.86',
  'temperature': '9.86'},
 {'city': 'Antalya',
  'country': 'Turkey',
  'latitude': '36.89',
  'longitude': '30.70',
  'temperature': '11.88'},
 {'city': 'Arad',
  'country': 'Romania',
  'latitude': '46.17',
  'longitude': '21.32',
  'temperature': '9.32'},
 {'city': 'Athens',
  'country': 'Greece',
  'latitude': '37.98',
  'longitude': '23.73',
  'temperature': '17.41'},
 {'city': 'Augsburg',
  'country': 'Germany',
  'latitude': '48.35',
  'longitude': '10.90',
  'temperature': '4.54'},
 {'city': 'Bacau',
  'country': 'Romania',
  'latitude': '46.58',
  'longitude': '26.92',
  'temperature': '7.51'},
 {'city': 'Badajoz',
  'country': 'Spain',
  'latitude': '38.88',
  'longitude': '-6.97',
  'temperature': '15.61'},
 {'city': 'Baia Mare',
  'country': 'Romania',
  'latitude': '47.66',
  'longitude': '23.58',
  'temperature': '8.87'},
 {'city': 'Balti',
  'country': 'Moldova',
  'latitude': '47.76',
  'longitude': '27.91',
  'temperature': '8.23'},
 {'city': 'Barcelona',
  'country': 'Spain',
  'latitude': '41.38',
  'longitude': '2.18',
  'temperature': '15.78'},
 {'city': 'Bari',
  'country': 'Italy',
  'latitude': '41.11',
  'longitude': '16.87',
  'temperature': '15.15'},
 {'city': 'Basel',
  'country': 'Switzerland',
  'latitude': '47.58',
  'longitude': '7.59',
  'temperature': '6.68'},
 {'city': 'Batman',
  'country': 'Turkey',
  'latitude': '37.89',
  'longitude': '41.14',
  'temperature': '14.16'},
 {'city': 'Belfast',
  'country': 'United Kingdom',
  'latitude': '54.60',
  'longitude': '-5.96',
  'temperature': '8.48'},
 {'city': 'Belgrade',
  'country': 'Serbia',
  'latitude': '44.82',
  'longitude': '20.47',
  'temperature': '9.85'},
 {'city': 'Bergamo',
  'country': 'Italy',
  'latitude': '45.70',
  'longitude': '9.67',
  'temperature': '9.12'},
 {'city': 'Bergen',
  'country': 'Norway',
  'latitude': '60.39',
  'longitude': '5.32',
  'temperature': '1.75'},
 {'city': 'Berlin',
  'country': 'Germany',
  'latitude': '52.52',
  'longitude': '13.40',
  'temperature': '8.72'},
 {'city': 'Bialystok',
  'country': 'Poland',
  'latitude': '53.15',
  'longitude': '23.17',
  'temperature': '6.07'},
 {'city': 'Bielefeld',
  'country': 'Germany',
  'latitude': '52.03',
  'longitude': '8.53',
  'temperature': '8.78'},
 {'city': 'Bila Tserkva',
  'country': 'Ukraine',
  'latitude': '49.77',
  'longitude': '30.13',
  'temperature': '6.98'},
 {'city': 'Bilbao',
  'country': 'Spain',
  'latitude': '43.25',
  'longitude': '-2.93',
  'temperature': '11.41'},
 {'city': 'Birmingham',
  'country': 'United Kingdom',
  'latitude': '52.47',
  'longitude': '-1.92',
  'temperature': '8.81'},
 {'city': 'Blackpool',
  'country': 'United Kingdom',
  'latitude': '53.83',
  'longitude': '-3.05',
  'temperature': '9.15'},
 {'city': 'Bodo',
  'country': 'Norway',
  'latitude': '67.25',
  'longitude': '14.40',
  'temperature': '4.50'},
 {'city': 'Bologna',
  'country': 'Italy',
  'latitude': '44.50',
  'longitude': '11.34',
  'temperature': '11.69'},
 {'city': 'Bonn',
  'country': 'Germany',
  'latitude': '50.72',
  'longitude': '7.08',
  'temperature': '8.63'},
 {'city': 'Bordeaux',
  'country': 'France',
  'latitude': '44.85',
  'longitude': '-0.60',
  'temperature': '11.87'},
 {'city': 'Botosani',
  'country': 'Romania',
  'latitude': '47.75',
  'longitude': '26.66',
  'temperature': '8.23'},
 {'city': 'Bournemouth',
  'country': 'United Kingdom',
  'latitude': '50.73',
  'longitude': '-1.90',
  'temperature': '9.97'},
 {'city': 'Bradford',
  'country': 'United Kingdom',
  'latitude': '53.80',
  'longitude': '-1.75',
  'temperature': '8.39'},
 {'city': 'Braga',
  'country': 'Portugal',
  'latitude': '41.55',
  'longitude': '-8.42',
  'temperature': '13.42'},
 {'city': 'Braila',
  'country': 'Romania',
  'latitude': '45.29',
  'longitude': '27.97',
  'temperature': '9.78'},
 {'city': 'Bratislava',
  'country': 'Slovakia',
  'latitude': '48.15',
  'longitude': '17.12',
  'temperature': '9.65'},
 {'city': 'Bremen',
  'country': 'Germany',
  'latitude': '53.08',
  'longitude': '8.80',
  'temperature': '8.14'},
 {'city': 'Brest',
  'country': 'France',
  'latitude': '48.39',
  'longitude': '-4.50',
  'temperature': '11.02'},
 {'city': 'Brest',
  'country': 'Belarus',
  'latitude': '52.10',
  'longitude': '23.70',
  'temperature': '6.73'},
 {'city': 'Brno',
  'country': 'Czech Republic',
  'latitude': '49.20',
  'longitude': '16.61',
  'temperature': '7.86'},
 {'city': 'Brugge',
  'country': 'Belgium',
  'latitude': '51.22',
  'longitude': '3.23',
  'temperature': '9.65'},
 {'city': 'Bucharest',
  'country': 'Romania',
  'latitude': '44.43',
  'longitude': '26.10',
  'temperature': '10.59'},
 {'city': 'Budapest',
  'country': 'Hungary',
  'latitude': '47.50',
  'longitude': '19.08',
  'temperature': '9.55'},
 {'city': 'Burgas',
  'country': 'Bulgaria',
  'latitude': '42.51',
  'longitude': '27.47',
  'temperature': '11.93'},
 {'city': 'Burgos',
  'country': 'Spain',
  'latitude': '42.35',
  'longitude': '-3.68',
  'temperature': '10.45'},
 {'city': 'Bursa',
  'country': 'Turkey',
  'latitude': '40.20',
  'longitude': '29.07',
  'temperature': '11.16'},
 {'city': 'Bydgoszcz',
  'country': 'Poland',
  'latitude': '53.12',
  'longitude': '18.01',
  'temperature': '7.14'},
 {'city': 'Bytom',
  'country': 'Poland',
  'latitude': '50.35',
  'longitude': '18.91',
  'temperature': '7.66'},
 {'city': 'Caen',
  'country': 'France',
  'latitude': '49.18',
  'longitude': '-0.35',
  'temperature': '9.96'},
 {'city': 'Cambridge',
  'country': 'United Kingdom',
  'latitude': '52.20',
  'longitude': '0.12',
  'temperature': '9.25'},
 {'city': 'Cartagena',
  'country': 'Spain',
  'latitude': '37.60',
  'longitude': '-0.98',
  'temperature': '17.32'},
 {'city': 'Catania',
  'country': 'Italy',
  'latitude': '37.50',
  'longitude': '15.08',
  'temperature': '15.04'},
 {'city': 'Chemnitz',
  'country': 'Germany',
  'latitude': '50.83',
  'longitude': '12.92',
  'temperature': '8.05'},
 {'city': 'Cherkasy',
  'country': 'Ukraine',
  'latitude': '49.43',
  'longitude': '32.07',
  'temperature': '7.19'},
 {'city': 'Chernihiv',
  'country': 'Ukraine',
  'latitude': '51.50',
  'longitude': '31.30',
  'temperature': '5.92'},
 {'city': 'Chernivtsi',
  'country': 'Ukraine',
  'latitude': '48.31',
  'longitude': '25.92',
  'temperature': '7.06'},
 {'city': 'Chisinau',
  'country': 'Moldova',
  'latitude': '47.01',
  'longitude': '28.86',
  'temperature': '8.60'},
 {'city': 'Constanta',
  'country': 'Romania',
  'latitude': '44.20',
  'longitude': '28.61',
  'temperature': '11.24'},
 {'city': 'Cork',
  'country': 'Ireland',
  'latitude': '51.90',
  'longitude': '-8.50',
  'temperature': '9.41'},
 {'city': 'Cosenza',
  'country': 'Italy',
  'latitude': '39.27',
  'longitude': '16.29',
  'temperature': '16.60'},
 {'city': 'Craiova',
  'country': 'Romania',
  'latitude': '44.33',
  'longitude': '23.83',
  'temperature': '10.51'},
 {'city': 'Daugavpils',
  'country': 'Latvia',
  'latitude': '55.88',
  'longitude': '26.51',
  'temperature': '5.38'},
 {'city': 'Debrecen',
  'country': 'Hungary',
  'latitude': '47.53',
  'longitude': '21.63',
  'temperature': '8.87'},
 {'city': 'Denizli',
  'country': 'Turkey',
  'latitude': '37.77',
  'longitude': '29.08',
  'temperature': '15.02'},
 {'city': 'Dijon',
  'country': 'France',
  'latitude': '47.33',
  'longitude': '5.03',
  'temperature': '8.69'},
 {'city': 'Dublin',
  'country': 'Ireland',
  'latitude': '53.33',
  'longitude': '-6.25',
  'temperature': '8.49'},
 {'city': 'Dundee',
  'country': 'United Kingdom',
  'latitude': '56.47',
  'longitude': '-3.00',
  'temperature': '6.40'},
 {'city': 'Edinburgh',
  'country': 'United Kingdom',
  'latitude': '55.95',
  'longitude': '-3.22',
  'temperature': '7.43'},
 {'city': 'Edirne',
  'country': 'Turkey',
  'latitude': '41.67',
  'longitude': '26.57',
  'temperature': '10.90'},
 {'city': 'Elbasan',
  'country': 'Albania',
  'latitude': '41.12',
  'longitude': '20.08',
  'temperature': '15.18'},
 {'city': 'Elblag',
  'country': 'Poland',
  'latitude': '54.19',
  'longitude': '19.40',
  'temperature': '6.68'},
 {'city': 'Erfurt',
  'country': 'Germany',
  'latitude': '50.97',
  'longitude': '11.03',
  'temperature': '7.40'},
 {'city': 'Erzincan',
  'country': 'Turkey',
  'latitude': '39.75',
  'longitude': '39.49',
  'temperature': '8.67'},
 {'city': 'Erzurum',
  'country': 'Turkey',
  'latitude': '39.92',
  'longitude': '41.29',
  'temperature': '5.17'},
 {'city': 'Eskisehir',
  'country': 'Turkey',
  'latitude': '39.79',
  'longitude': '30.53',
  'temperature': '11.11'},
 {'city': 'Exeter',
  'country': 'United Kingdom',
  'latitude': '50.70',
  'longitude': '-3.53',
  'temperature': '10.14'},
 {'city': 'Foggia',
  'country': 'Italy',
  'latitude': '41.46',
  'longitude': '15.56',
  'temperature': '13.83'},
 {'city': 'Frankfurt',
  'country': 'Germany',
  'latitude': '50.10',
  'longitude': '8.68',
  'temperature': '7.98'},
 {'city': 'Freiburg',
  'country': 'Germany',
  'latitude': '48.00',
  'longitude': '7.87',
  'temperature': '6.68'},
 {'city': 'Galway',
  'country': 'Ireland',
  'latitude': '53.27',
  'longitude': '-9.05',
  'temperature': '10.00'},
 {'city': 'Gaziantep',
  'country': 'Turkey',
  'latitude': '37.07',
  'longitude': '37.38',
  'temperature': '13.46'},
 {'city': 'Geneva',
  'country': 'Switzerland',
  'latitude': '46.21',
  'longitude': '6.14',
  'temperature': '8.40'},
 {'city': 'Genoa',
  'country': 'Italy',
  'latitude': '44.41',
  'longitude': '8.93',
  'temperature': '12.94'},
 {'city': 'Glasgow',
  'country': 'United Kingdom',
  'latitude': '55.87',
  'longitude': '-4.25',
  'temperature': '8.60'},
 {'city': 'GÃ¶teborg',
  'country': 'Sweden',
  'latitude': '57.75',
  'longitude': '12.00',
  'temperature': '5.76'},
 {'city': 'Granada',
  'country': 'Spain',
  'latitude': '37.16',
  'longitude': '-3.59',
  'temperature': '16.33'},
 {'city': 'Graz',
  'country': 'Austria',
  'latitude': '47.08',
  'longitude': '15.41',
  'temperature': '6.91'},
 {'city': 'Grenoble',
  'country': 'France',
  'latitude': '45.18',
  'longitude': '5.72',
  'temperature': '8.40'},
 {'city': 'Groningen',
  'country': 'Netherlands',
  'latitude': '53.22',
  'longitude': '6.58',
  'temperature': '8.71'},
 {'city': 'Gyor',
  'country': 'Hungary',
  'latitude': '47.70',
  'longitude': '17.63',
  'temperature': '9.65'},
 {'city': 'Heidelberg',
  'country': 'Germany',
  'latitude': '49.42',
  'longitude': '8.70',
  'temperature': '8.47'},
 {'city': 'Helsinki',
  'country': 'Finland',
  'latitude': '60.18',
  'longitude': '24.93',
  'temperature': '4.19'},
 {'city': 'Horlivka',
  'country': 'Ukraine',
  'latitude': '48.30',
  'longitude': '38.05',
  'temperature': '7.12'},
 {'city': 'Hrodna',
  'country': 'Belarus',
  'latitude': '53.68',
  'longitude': '23.83',
  'temperature': '6.07'},
 {'city': 'Huelva',
  'country': 'Spain',
  'latitude': '37.25',
  'longitude': '-6.93',
  'temperature': '17.09'},
 {'city': 'Ingolstadt',
  'country': 'Germany',
  'latitude': '48.77',
  'longitude': '11.45',
  'temperature': '7.57'},
 {'city': 'Innsbruck',
  'country': 'Austria',
  'latitude': '47.28',
  'longitude': '11.41',
  'temperature': '4.54'},
 {'city': 'Inverness',
  'country': 'United Kingdom',
  'latitude': '57.47',
  'longitude': '-4.23',
  'temperature': '8.00'},
 {'city': 'Istanbul',
  'country': 'Turkey',
  'latitude': '41.10',
  'longitude': '29.01',
  'temperature': '13.20'},
 {'city': 'Kalamata',
  'country': 'Greece',
  'latitude': '37.04',
  'longitude': '22.11',
  'temperature': '17.30'},
 {'city': 'Karaman',
  'country': 'Turkey',
  'latitude': '37.18',
  'longitude': '33.22',
  'temperature': '10.41'},
 {'city': 'Karlsruhe',
  'country': 'Germany',
  'latitude': '49.00',
  'longitude': '8.40',
  'temperature': '8.88'},
 {'city': 'Kaunas',
  'country': 'Lithuania',
  'latitude': '54.95',
  'longitude': '23.88',
  'temperature': '6.05'},
 {'city': 'Kayseri',
  'country': 'Turkey',
  'latitude': '38.73',
  'longitude': '35.49',
  'temperature': '8.89'},
 {'city': 'Kherson',
  'country': 'Ukraine',
  'latitude': '46.63',
  'longitude': '32.60',
  'temperature': '8.64'},
 {'city': 'Kielce',
  'country': 'Poland',
  'latitude': '50.89',
  'longitude': '20.66',
  'temperature': '7.29'},
 {'city': 'Kiev',
  'country': 'Ukraine',
  'latitude': '50.43',
  'longitude': '30.52',
  'temperature': '6.88'},
 {'city': 'Kiruna',
  'country': 'Sweden',
  'latitude': '67.85',
  'longitude': '20.22',
  'temperature': '-2.20'},
 {'city': 'Klaipeda',
  'country': 'Lithuania',
  'latitude': '55.72',
  'longitude': '21.12',
  'temperature': '7.00'},
 {'city': 'Kosice',
  'country': 'Slovakia',
  'latitude': '48.73',
  'longitude': '21.25',
  'temperature': '7.31'},
 {'city': 'Koszalin',
  'country': 'Poland',
  'latitude': '54.20',
  'longitude': '16.18',
  'temperature': '7.73'},
 {'city': 'Kremenchuk',
  'country': 'Ukraine',
  'latitude': '49.08',
  'longitude': '33.43',
  'temperature': '7.43'},
 {'city': 'Kryvyy Rih',
  'country': 'Ukraine',
  'latitude': '47.93',
  'longitude': '33.34',
  'temperature': '8.61'},
 {'city': 'Le Mans',
  'country': 'France',
  'latitude': '48.00',
  'longitude': '0.10',
  'temperature': '10.59'},
 {'city': 'Lille',
  'country': 'France',
  'latitude': '50.65',
  'longitude': '3.08',
  'temperature': '9.65'},
 {'city': 'Limoges',
  'country': 'France',
  'latitude': '45.83',
  'longitude': '1.25',
  'temperature': '10.32'},
 {'city': 'Linz',
  'country': 'Austria',
  'latitude': '48.32',
  'longitude': '14.29',
  'temperature': '6.79'},
 {'city': 'Lisbon',
  'country': 'Portugal',
  'latitude': '38.72',
  'longitude': '-9.14',
  'temperature': '15.52'},
 {'city': 'Ljubljana',
  'country': 'Slovenia',
  'latitude': '46.06',
  'longitude': '14.51',
  'temperature': '9.27'},
 {'city': 'Lvov',
  'country': 'Ukraine',
  'latitude': '49.83',
  'longitude': '24.03',
  'temperature': '7.04'},
 {'city': 'Maastricht',
  'country': 'Netherlands',
  'latitude': '50.85',
  'longitude': '5.68',
  'temperature': '8.63'},
 {'city': 'Madrid',
  'country': 'Spain',
  'latitude': '40.40',
  'longitude': '-3.68',
  'temperature': '11.19'},
 {'city': 'Magdeburg',
  'country': 'Germany',
  'latitude': '52.13',
  'longitude': '11.62',
  'temperature': '8.26'},
 {'city': 'Makiyivka',
  'country': 'Ukraine',
  'latitude': '48.03',
  'longitude': '37.97',
  'temperature': '8.70'},
 {'city': 'Malatya',
  'country': 'Turkey',
  'latitude': '38.37',
  'longitude': '38.30',
  'temperature': '14.13'},
 {'city': 'MalmÃ¶',
  'country': 'Sweden',
  'latitude': '55.58',
  'longitude': '13.03',
  'temperature': '7.33'},
 {'city': 'Manisa',
  'country': 'Turkey',
  'latitude': '38.63',
  'longitude': '27.44',
  'temperature': '15.10'},
 {'city': 'Marbella',
  'country': 'Spain',
  'latitude': '36.52',
  'longitude': '-4.88',
  'temperature': '17.19'},
 {'city': 'Marseille',
  'country': 'France',
  'latitude': '43.29',
  'longitude': '5.38',
  'temperature': '14.98'},
 {'city': 'Mazyr',
  'country': 'Belarus',
  'latitude': '52.05',
  'longitude': '29.27',
  'temperature': '6.25'},
 {'city': 'Messina',
  'country': 'Italy',
  'latitude': '38.20',
  'longitude': '15.55',
  'temperature': '16.54'},
 {'city': 'Metz',
  'country': 'France',
  'latitude': '49.12',
  'longitude': '6.18',
  'temperature': '8.88'},
 {'city': 'Milan',
  'country': 'Italy',
  'latitude': '45.47',
  'longitude': '9.21',
  'temperature': '6.65'},
 {'city': 'Minsk',
  'country': 'Belarus',
  'latitude': '53.90',
  'longitude': '27.57',
  'temperature': '5.28'},
 {'city': 'Montpellier',
  'country': 'France',
  'latitude': '43.61',
  'longitude': '3.87',
  'temperature': '11.11'},
 {'city': 'Mulhouse',
  'country': 'France',
  'latitude': '47.75',
  'longitude': '7.35',
  'temperature': '6.68'},
 {'city': 'Murcia',
  'country': 'Spain',
  'latitude': '37.98',
  'longitude': '-1.13',
  'temperature': '15.00'},
 {'city': 'Nice',
  'country': 'France',
  'latitude': '43.72',
  'longitude': '7.27',
  'temperature': '8.82'},
 {'city': 'Nis',
  'country': 'Serbia',
  'latitude': '43.33',
  'longitude': '21.90',
  'temperature': '9.36'},
 {'city': 'Novi Sad',
  'country': 'Serbia',
  'latitude': '45.25',
  'longitude': '19.85',
  'temperature': '10.34'},
 {'city': 'Odense',
  'country': 'Denmark',
  'latitude': '55.40',
  'longitude': '10.38',
  'temperature': '7.73'},
 {'city': 'Ordu',
  'country': 'Turkey',
  'latitude': '41.00',
  'longitude': '37.87',
  'temperature': '11.92'},
 {'city': 'Orsha',
  'country': 'Belarus',
  'latitude': '54.52',
  'longitude': '30.42',
  'temperature': '4.93'},
 {'city': 'Oslo',
  'country': 'Norway',
  'latitude': '59.92',
  'longitude': '10.75',
  'temperature': '2.32'},
 {'city': 'Ostrava',
  'country': 'Czech Republic',
  'latitude': '49.83',
  'longitude': '18.25',
  'temperature': '7.66'},
 {'city': 'Oulu',
  'country': 'Finland',
  'latitude': '65.00',
  'longitude': '25.47',
  'temperature': '1.45'},
 {'city': 'Oviedo',
  'country': 'Spain',
  'latitude': '43.35',
  'longitude': '-5.83',
  'temperature': '10.85'},
 {'city': 'Palermo',
  'country': 'Italy',
  'latitude': '38.13',
  'longitude': '13.35',
  'temperature': '17.90'},
 {'city': 'Patras',
  'country': 'Greece',
  'latitude': '38.23',
  'longitude': '21.73',
  'temperature': '16.90'},
 {'city': 'Perpignan',
  'country': 'France',
  'latitude': '42.70',
  'longitude': '2.90',
  'temperature': '10.95'},
 {'city': 'Perugia',
  'country': 'Italy',
  'latitude': '43.11',
  'longitude': '12.39',
  'temperature': '11.70'},
 {'city': 'Pescara',
  'country': 'Italy',
  'latitude': '42.46',
  'longitude': '14.22',
  'temperature': '15.13'},
 {'city': 'Pinsk',
  'country': 'Belarus',
  'latitude': '52.13',
  'longitude': '26.09',
  'temperature': '6.42'},
 {'city': 'Pleven',
  'country': 'Bulgaria',
  'latitude': '43.42',
  'longitude': '24.61',
  'temperature': '10.51'},
 {'city': 'Plovdiv',
  'country': 'Bulgaria',
  'latitude': '42.15',
  'longitude': '24.75',
  'temperature': '8.27'},
 {'city': 'Podgorica',
  'country': 'Montenegro',
  'latitude': '42.47',
  'longitude': '19.27',
  'temperature': '9.99'},
 {'city': 'Poznan',
  'country': 'Poland',
  'latitude': '52.41',
  'longitude': '16.90',
  'temperature': '8.31'},
 {'city': 'Prague',
  'country': 'Czech Republic',
  'latitude': '50.08',
  'longitude': '14.47',
  'temperature': '8.05'},
 {'city': 'Reims',
  'country': 'France',
  'latitude': '49.25',
  'longitude': '4.03',
  'temperature': '9.40'},
 {'city': 'Riga',
  'country': 'Latvia',
  'latitude': '56.95',
  'longitude': '24.10',
  'temperature': '5.16'},

In [59]:

def find_country_from_city(city_data, city_target):
    for city in city_data:
        if city['city'] == city_target:
            return city['country']

def western_eastern_most_cities(cities_data: list) -> list:
    """Returns a list of tuples with information about the westernmost and
    easternmost cities together with their associated countries in the
    following format:

    [(westernmost city, its country, its longitude), (easternmost city, its country, its longitude)]

    Notes: the test results below are printed out with two decimal places to
    get around floating-point errors.

    >>> results = western_eastern_most_cities(cities_data)
    >>> for city, country, lon in results:
    ...     print(f"{city} {country} {lon:.2f}")
    Lisbon Portugal -9.14
    Siirt Turkey 41.93
    """

    cities_dict = {x['city']: 0 for x in cities_data}
    for i in cities_data:
        cities_dict[i['city']] = float(i['longitude'])
    cities_dict2 = {'city': '', 'longitude': 0}
    cities_dict3 = {'city': '', 'longitude': 0}
    for city, lon in cities_dict.items():
        if lon > cities_dict2['longitude']:
            cities_dict2['city'] = city
            cities_dict2['longitude'] = lon
        if lon < cities_dict3['longitude']:
            cities_dict3['city'] = city
            cities_dict3['longitude'] = lon
    min_country = cities_dict3['city']
    min_longitude = cities_dict3['longitude']
    max_country = cities_dict2['city']
    max_longitude = cities_dict2['longitude']
    return [(min_country, find_country_from_city(cities_data, min_country), min_longitude), (max_country, find_country_from_city(cities_data, max_country), max_longitude)]

    # cities_dict = {}
    # for i in cities_data:
    #     cities_dict[i] = i
    # cities_dict2 = {'city_data': '', 'longitude': 0}
    # cities_dict3 = {'city_data': '', 'longitude': 0}
    # print(cities_dict)
    # # for j in cities_dict:
    # #     lon = cities_dict[j]
    # #     if lon > cities_dict2['longitude']:
    # #         cities_dict2['city_data'] = city
    #         cities_dict2['longitude'] = max_lon
    #     if lon < cities_dict3['longitude']:
    #         cities_dict3['city'] = j
    #         cities_dict3['country'] = cities_data[j]['country']
    #         cities_dict3['longitude'] = min_lon

    # print(cities_dict2)
    # print(cities_dict3)
    # # western = cities_dict3['city']
    # min_country = cities_dict3['country']
    # min_longitude = cities_dict3['longitude']
    # eastern = cities_dict2['city']
    # max_country = cities_dict2['country']
    # max_longitude = cities_dict2['longitude']
    # return [(western, min_country, min_longitude), (eastern, max_country, max_longitude)]

In [60]:
results = western_eastern_most_cities(cities_data)

In [61]:
for city, country, lon in results:
    print(f"{city} {country} {lon:.2f}")

Lisbon Portugal -9.14
Siirt Turkey 41.93

In [53]:
def find_country_from_city(city_data, city_target):
    for city in city_data:
        if city['city'] == city_target:
            return city['country']

In [55]:
find_country_from_city(cities_data, 'Siirt')

'Turkey'

In [48]:
lst = [('abc', 5), ()]

In [47]:
cilst

[74, 42, 81, 82, 85, 50, 87, 15, 14, 98]

In [50]:

    # get the west and east city by max and min longitude respectively
west_east_city = [min(cities_data, key=lambda x: float(x['longitude'])),
                    max(cities_data, key=lambda x: float(x['longitude']))]

    # return [(x['city'], x['country'], float(x['longitude'])) for x in west_east_city]

[{'city': 'Lisbon',
  'country': 'Portugal',
  'latitude': '38.72',
  'longitude': '-9.14',
  'temperature': '15.52'},
 {'city': 'Siirt',
  'country': 'Turkey',
  'latitude': '37.94',
  'longitude': '41.93',
  'temperature': '12.48'}]

In [8]:
for x in cities_data:
    print(x)

{'city': 'Aalborg', 'country': 'Denmark', 'latitude': '57.03', 'longitude': '9.92', 'temperature': '7.52'}
{'city': 'Aberdeen', 'country': 'United Kingdom', 'latitude': '57.17', 'longitude': '-2.08', 'temperature': '8.10'}
{'city': 'Abisko', 'country': 'Sweden', 'latitude': '63.35', 'longitude': '18.83', 'temperature': '0.20'}
{'city': 'Adana', 'country': 'Turkey', 'latitude': '36.99', 'longitude': '35.32', 'temperature': '18.67'}
{'city': 'Albacete', 'country': 'Spain', 'latitude': '39.00', 'longitude': '-1.87', 'temperature': '12.62'}
{'city': 'Algeciras', 'country': 'Spain', 'latitude': '36.13', 'longitude': '-5.47', 'temperature': '17.38'}
{'city': 'Amiens', 'country': 'France', 'latitude': '49.90', 'longitude': '2.30', 'temperature': '10.17'}
{'city': 'Amsterdam', 'country': 'Netherlands', 'latitude': '52.35', 'longitude': '4.92', 'temperature': '8.93'}
{'city': 'Ancona', 'country': 'Italy', 'latitude': '43.60', 'longitude': '13.50', 'temperature': '13.52'}
{'city': 'Andorra', 'country': 'Andorra', 'latitude': '42.50', 'longitude': '1.52', 'temperature': '9.60'}
{'city': 'Angers', 'country': 'France', 'latitude': '47.48', 'longitude': '-0.53', 'temperature': '10.98'}
{'city': 'Ankara', 'country': 'Turkey', 'latitude': '39.93', 'longitude': '32.86', 'temperature': '9.86'}
{'city': 'Antalya', 'country': 'Turkey', 'latitude': '36.89', 'longitude': '30.70', 'temperature': '11.88'}
{'city': 'Arad', 'country': 'Romania', 'latitude': '46.17', 'longitude': '21.32', 'temperature': '9.32'}
{'city': 'Athens', 'country': 'Greece', 'latitude': '37.98', 'longitude': '23.73', 'temperature': '17.41'}
{'city': 'Augsburg', 'country': 'Germany', 'latitude': '48.35', 'longitude': '10.90', 'temperature': '4.54'}
{'city': 'Bacau', 'country': 'Romania', 'latitude': '46.58', 'longitude': '26.92', 'temperature': '7.51'}
{'city': 'Badajoz', 'country': 'Spain', 'latitude': '38.88', 'longitude': '-6.97', 'temperature': '15.61'}
{'city': 'Baia Mare', 'country': 'Romania', 'latitude': '47.66', 'longitude': '23.58', 'temperature': '8.87'}
{'city': 'Balti', 'country': 'Moldova', 'latitude': '47.76', 'longitude': '27.91', 'temperature': '8.23'}
{'city': 'Barcelona', 'country': 'Spain', 'latitude': '41.38', 'longitude': '2.18', 'temperature': '15.78'}
{'city': 'Bari', 'country': 'Italy', 'latitude': '41.11', 'longitude': '16.87', 'temperature': '15.15'}
{'city': 'Basel', 'country': 'Switzerland', 'latitude': '47.58', 'longitude': '7.59', 'temperature': '6.68'}
{'city': 'Batman', 'country': 'Turkey', 'latitude': '37.89', 'longitude': '41.14', 'temperature': '14.16'}
{'city': 'Belfast', 'country': 'United Kingdom', 'latitude': '54.60', 'longitude': '-5.96', 'temperature': '8.48'}
{'city': 'Belgrade', 'country': 'Serbia', 'latitude': '44.82', 'longitude': '20.47', 'temperature': '9.85'}
{'city': 'Bergamo', 'country': 'Italy', 'latitude': '45.70', 'longitude': '9.67', 'temperature': '9.12'}
{'city': 'Bergen', 'country': 'Norway', 'latitude': '60.39', 'longitude': '5.32', 'temperature': '1.75'}
{'city': 'Berlin', 'country': 'Germany', 'latitude': '52.52', 'longitude': '13.40', 'temperature': '8.72'}
{'city': 'Bialystok', 'country': 'Poland', 'latitude': '53.15', 'longitude': '23.17', 'temperature': '6.07'}
{'city': 'Bielefeld', 'country': 'Germany', 'latitude': '52.03', 'longitude': '8.53', 'temperature': '8.78'}
{'city': 'Bila Tserkva', 'country': 'Ukraine', 'latitude': '49.77', 'longitude': '30.13', 'temperature': '6.98'}
{'city': 'Bilbao', 'country': 'Spain', 'latitude': '43.25', 'longitude': '-2.93', 'temperature': '11.41'}
{'city': 'Birmingham', 'country': 'United Kingdom', 'latitude': '52.47', 'longitude': '-1.92', 'temperature': '8.81'}
{'city': 'Blackpool', 'country': 'United Kingdom', 'latitude': '53.83', 'longitude': '-3.05', 'temperature': '9.15'}
{'city': 'Bodo', 'country': 'Norway', 'latitude': '67.25', 'longitude': '14.40', 'temperature': '4.50'}
{'city': 'Bologna', 'country': 'Italy', 'latitude': '44.50', 'longitude': '11.34', 'temperature': '11.69'}
{'city': 'Bonn', 'country': 'Germany', 'latitude': '50.72', 'longitude': '7.08', 'temperature': '8.63'}
{'city': 'Bordeaux', 'country': 'France', 'latitude': '44.85', 'longitude': '-0.60', 'temperature': '11.87'}
{'city': 'Botosani', 'country': 'Romania', 'latitude': '47.75', 'longitude': '26.66', 'temperature': '8.23'}
{'city': 'Bournemouth', 'country': 'United Kingdom', 'latitude': '50.73', 'longitude': '-1.90', 'temperature': '9.97'}
{'city': 'Bradford', 'country': 'United Kingdom', 'latitude': '53.80', 'longitude': '-1.75', 'temperature': '8.39'}
{'city': 'Braga', 'country': 'Portugal', 'latitude': '41.55', 'longitude': '-8.42', 'temperature': '13.42'}
{'city': 'Braila', 'country': 'Romania', 'latitude': '45.29', 'longitude': '27.97', 'temperature': '9.78'}
{'city': 'Bratislava', 'country': 'Slovakia', 'latitude': '48.15', 'longitude': '17.12', 'temperature': '9.65'}
{'city': 'Bremen', 'country': 'Germany', 'latitude': '53.08', 'longitude': '8.80', 'temperature': '8.14'}
{'city': 'Brest', 'country': 'France', 'latitude': '48.39', 'longitude': '-4.50', 'temperature': '11.02'}
{'city': 'Brest', 'country': 'Belarus', 'latitude': '52.10', 'longitude': '23.70', 'temperature': '6.73'}
{'city': 'Brno', 'country': 'Czech Republic', 'latitude': '49.20', 'longitude': '16.61', 'temperature': '7.86'}
{'city': 'Brugge', 'country': 'Belgium', 'latitude': '51.22', 'longitude': '3.23', 'temperature': '9.65'}
{'city': 'Bucharest', 'country': 'Romania', 'latitude': '44.43', 'longitude': '26.10', 'temperature': '10.59'}
{'city': 'Budapest', 'country': 'Hungary', 'latitude': '47.50', 'longitude': '19.08', 'temperature': '9.55'}
{'city': 'Burgas', 'country': 'Bulgaria', 'latitude': '42.51', 'longitude': '27.47', 'temperature': '11.93'}
{'city': 'Burgos', 'country': 'Spain', 'latitude': '42.35', 'longitude': '-3.68', 'temperature': '10.45'}
{'city': 'Bursa', 'country': 'Turkey', 'latitude': '40.20', 'longitude': '29.07', 'temperature': '11.16'}
{'city': 'Bydgoszcz', 'country': 'Poland', 'latitude': '53.12', 'longitude': '18.01', 'temperature': '7.14'}
{'city': 'Bytom', 'country': 'Poland', 'latitude': '50.35', 'longitude': '18.91', 'temperature': '7.66'}
{'city': 'Caen', 'country': 'France', 'latitude': '49.18', 'longitude': '-0.35', 'temperature': '9.96'}
{'city': 'Cambridge', 'country': 'United Kingdom', 'latitude': '52.20', 'longitude': '0.12', 'temperature': '9.25'}
{'city': 'Cartagena', 'country': 'Spain', 'latitude': '37.60', 'longitude': '-0.98', 'temperature': '17.32'}
{'city': 'Catania', 'country': 'Italy', 'latitude': '37.50', 'longitude': '15.08', 'temperature': '15.04'}
{'city': 'Chemnitz', 'country': 'Germany', 'latitude': '50.83', 'longitude': '12.92', 'temperature': '8.05'}
{'city': 'Cherkasy', 'country': 'Ukraine', 'latitude': '49.43', 'longitude': '32.07', 'temperature': '7.19'}
{'city': 'Chernihiv', 'country': 'Ukraine', 'latitude': '51.50', 'longitude': '31.30', 'temperature': '5.92'}
{'city': 'Chernivtsi', 'country': 'Ukraine', 'latitude': '48.31', 'longitude': '25.92', 'temperature': '7.06'}
{'city': 'Chisinau', 'country': 'Moldova', 'latitude': '47.01', 'longitude': '28.86', 'temperature': '8.60'}
{'city': 'Constanta', 'country': 'Romania', 'latitude': '44.20', 'longitude': '28.61', 'temperature': '11.24'}
{'city': 'Cork', 'country': 'Ireland', 'latitude': '51.90', 'longitude': '-8.50', 'temperature': '9.41'}
{'city': 'Cosenza', 'country': 'Italy', 'latitude': '39.27', 'longitude': '16.29', 'temperature': '16.60'}
{'city': 'Craiova', 'country': 'Romania', 'latitude': '44.33', 'longitude': '23.83', 'temperature': '10.51'}
{'city': 'Daugavpils', 'country': 'Latvia', 'latitude': '55.88', 'longitude': '26.51', 'temperature': '5.38'}
{'city': 'Debrecen', 'country': 'Hungary', 'latitude': '47.53', 'longitude': '21.63', 'temperature': '8.87'}
{'city': 'Denizli', 'country': 'Turkey', 'latitude': '37.77', 'longitude': '29.08', 'temperature': '15.02'}
{'city': 'Dijon', 'country': 'France', 'latitude': '47.33', 'longitude': '5.03', 'temperature': '8.69'}
{'city': 'Dublin', 'country': 'Ireland', 'latitude': '53.33', 'longitude': '-6.25', 'temperature': '8.49'}
{'city': 'Dundee', 'country': 'United Kingdom', 'latitude': '56.47', 'longitude': '-3.00', 'temperature': '6.40'}
{'city': 'Edinburgh', 'country': 'United Kingdom', 'latitude': '55.95', 'longitude': '-3.22', 'temperature': '7.43'}
{'city': 'Edirne', 'country': 'Turkey', 'latitude': '41.67', 'longitude': '26.57', 'temperature': '10.90'}
{'city': 'Elbasan', 'country': 'Albania', 'latitude': '41.12', 'longitude': '20.08', 'temperature': '15.18'}
{'city': 'Elblag', 'country': 'Poland', 'latitude': '54.19', 'longitude': '19.40', 'temperature': '6.68'}
{'city': 'Erfurt', 'country': 'Germany', 'latitude': '50.97', 'longitude': '11.03', 'temperature': '7.40'}
{'city': 'Erzincan', 'country': 'Turkey', 'latitude': '39.75', 'longitude': '39.49', 'temperature': '8.67'}
{'city': 'Erzurum', 'country': 'Turkey', 'latitude': '39.92', 'longitude': '41.29', 'temperature': '5.17'}
{'city': 'Eskisehir', 'country': 'Turkey', 'latitude': '39.79', 'longitude': '30.53', 'temperature': '11.11'}
{'city': 'Exeter', 'country': 'United Kingdom', 'latitude': '50.70', 'longitude': '-3.53', 'temperature': '10.14'}
{'city': 'Foggia', 'country': 'Italy', 'latitude': '41.46', 'longitude': '15.56', 'temperature': '13.83'}
{'city': 'Frankfurt', 'country': 'Germany', 'latitude': '50.10', 'longitude': '8.68', 'temperature': '7.98'}
{'city': 'Freiburg', 'country': 'Germany', 'latitude': '48.00', 'longitude': '7.87', 'temperature': '6.68'}
{'city': 'Galway', 'country': 'Ireland', 'latitude': '53.27', 'longitude': '-9.05', 'temperature': '10.00'}
{'city': 'Gaziantep', 'country': 'Turkey', 'latitude': '37.07', 'longitude': '37.38', 'temperature': '13.46'}
{'city': 'Geneva', 'country': 'Switzerland', 'latitude': '46.21', 'longitude': '6.14', 'temperature': '8.40'}
{'city': 'Genoa', 'country': 'Italy', 'latitude': '44.41', 'longitude': '8.93', 'temperature': '12.94'}
{'city': 'Glasgow', 'country': 'United Kingdom', 'latitude': '55.87', 'longitude': '-4.25', 'temperature': '8.60'}
{'city': 'GÃ¶teborg', 'country': 'Sweden', 'latitude': '57.75', 'longitude': '12.00', 'temperature': '5.76'}
{'city': 'Granada', 'country': 'Spain', 'latitude': '37.16', 'longitude': '-3.59', 'temperature': '16.33'}
{'city': 'Graz', 'country': 'Austria', 'latitude': '47.08', 'longitude': '15.41', 'temperature': '6.91'}
{'city': 'Grenoble', 'country': 'France', 'latitude': '45.18', 'longitude': '5.72', 'temperature': '8.40'}
{'city': 'Groningen', 'country': 'Netherlands', 'latitude': '53.22', 'longitude': '6.58', 'temperature': '8.71'}
{'city': 'Gyor', 'country': 'Hungary', 'latitude': '47.70', 'longitude': '17.63', 'temperature': '9.65'}
{'city': 'Heidelberg', 'country': 'Germany', 'latitude': '49.42', 'longitude': '8.70', 'temperature': '8.47'}
{'city': 'Helsinki', 'country': 'Finland', 'latitude': '60.18', 'longitude': '24.93', 'temperature': '4.19'}
{'city': 'Horlivka', 'country': 'Ukraine', 'latitude': '48.30', 'longitude': '38.05', 'temperature': '7.12'}
{'city': 'Hrodna', 'country': 'Belarus', 'latitude': '53.68', 'longitude': '23.83', 'temperature': '6.07'}
{'city': 'Huelva', 'country': 'Spain', 'latitude': '37.25', 'longitude': '-6.93', 'temperature': '17.09'}
{'city': 'Ingolstadt', 'country': 'Germany', 'latitude': '48.77', 'longitude': '11.45', 'temperature': '7.57'}
{'city': 'Innsbruck', 'country': 'Austria', 'latitude': '47.28', 'longitude': '11.41', 'temperature': '4.54'}
{'city': 'Inverness', 'country': 'United Kingdom', 'latitude': '57.47', 'longitude': '-4.23', 'temperature': '8.00'}
{'city': 'Istanbul', 'country': 'Turkey', 'latitude': '41.10', 'longitude': '29.01', 'temperature': '13.20'}
{'city': 'Kalamata', 'country': 'Greece', 'latitude': '37.04', 'longitude': '22.11', 'temperature': '17.30'}
{'city': 'Karaman', 'country': 'Turkey', 'latitude': '37.18', 'longitude': '33.22', 'temperature': '10.41'}
{'city': 'Karlsruhe', 'country': 'Germany', 'latitude': '49.00', 'longitude': '8.40', 'temperature': '8.88'}
{'city': 'Kaunas', 'country': 'Lithuania', 'latitude': '54.95', 'longitude': '23.88', 'temperature': '6.05'}
{'city': 'Kayseri', 'country': 'Turkey', 'latitude': '38.73', 'longitude': '35.49', 'temperature': '8.89'}
{'city': 'Kherson', 'country': 'Ukraine', 'latitude': '46.63', 'longitude': '32.60', 'temperature': '8.64'}
{'city': 'Kielce', 'country': 'Poland', 'latitude': '50.89', 'longitude': '20.66', 'temperature': '7.29'}
{'city': 'Kiev', 'country': 'Ukraine', 'latitude': '50.43', 'longitude': '30.52', 'temperature': '6.88'}
{'city': 'Kiruna', 'country': 'Sweden', 'latitude': '67.85', 'longitude': '20.22', 'temperature': '-2.20'}
{'city': 'Klaipeda', 'country': 'Lithuania', 'latitude': '55.72', 'longitude': '21.12', 'temperature': '7.00'}
{'city': 'Kosice', 'country': 'Slovakia', 'latitude': '48.73', 'longitude': '21.25', 'temperature': '7.31'}
{'city': 'Koszalin', 'country': 'Poland', 'latitude': '54.20', 'longitude': '16.18', 'temperature': '7.73'}
{'city': 'Kremenchuk', 'country': 'Ukraine', 'latitude': '49.08', 'longitude': '33.43', 'temperature': '7.43'}
{'city': 'Kryvyy Rih', 'country': 'Ukraine', 'latitude': '47.93', 'longitude': '33.34', 'temperature': '8.61'}
{'city': 'Le Mans', 'country': 'France', 'latitude': '48.00', 'longitude': '0.10', 'temperature': '10.59'}
{'city': 'Lille', 'country': 'France', 'latitude': '50.65', 'longitude': '3.08', 'temperature': '9.65'}
{'city': 'Limoges', 'country': 'France', 'latitude': '45.83', 'longitude': '1.25', 'temperature': '10.32'}
{'city': 'Linz', 'country': 'Austria', 'latitude': '48.32', 'longitude': '14.29', 'temperature': '6.79'}
{'city': 'Lisbon', 'country': 'Portugal', 'latitude': '38.72', 'longitude': '-9.14', 'temperature': '15.52'}
{'city': 'Ljubljana', 'country': 'Slovenia', 'latitude': '46.06', 'longitude': '14.51', 'temperature': '9.27'}
{'city': 'Lvov', 'country': 'Ukraine', 'latitude': '49.83', 'longitude': '24.03', 'temperature': '7.04'}
{'city': 'Maastricht', 'country': 'Netherlands', 'latitude': '50.85', 'longitude': '5.68', 'temperature': '8.63'}
{'city': 'Madrid', 'country': 'Spain', 'latitude': '40.40', 'longitude': '-3.68', 'temperature': '11.19'}
{'city': 'Magdeburg', 'country': 'Germany', 'latitude': '52.13', 'longitude': '11.62', 'temperature': '8.26'}
{'city': 'Makiyivka', 'country': 'Ukraine', 'latitude': '48.03', 'longitude': '37.97', 'temperature': '8.70'}
{'city': 'Malatya', 'country': 'Turkey', 'latitude': '38.37', 'longitude': '38.30', 'temperature': '14.13'}
{'city': 'MalmÃ¶', 'country': 'Sweden', 'latitude': '55.58', 'longitude': '13.03', 'temperature': '7.33'}
{'city': 'Manisa', 'country': 'Turkey', 'latitude': '38.63', 'longitude': '27.44', 'temperature': '15.10'}
{'city': 'Marbella', 'country': 'Spain', 'latitude': '36.52', 'longitude': '-4.88', 'temperature': '17.19'}
{'city': 'Marseille', 'country': 'France', 'latitude': '43.29', 'longitude': '5.38', 'temperature': '14.98'}
{'city': 'Mazyr', 'country': 'Belarus', 'latitude': '52.05', 'longitude': '29.27', 'temperature': '6.25'}
{'city': 'Messina', 'country': 'Italy', 'latitude': '38.20', 'longitude': '15.55', 'temperature': '16.54'}
{'city': 'Metz', 'country': 'France', 'latitude': '49.12', 'longitude': '6.18', 'temperature': '8.88'}
{'city': 'Milan', 'country': 'Italy', 'latitude': '45.47', 'longitude': '9.21', 'temperature': '6.65'}
{'city': 'Minsk', 'country': 'Belarus', 'latitude': '53.90', 'longitude': '27.57', 'temperature': '5.28'}
{'city': 'Montpellier', 'country': 'France', 'latitude': '43.61', 'longitude': '3.87', 'temperature': '11.11'}
{'city': 'Mulhouse', 'country': 'France', 'latitude': '47.75', 'longitude': '7.35', 'temperature': '6.68'}
{'city': 'Murcia', 'country': 'Spain', 'latitude': '37.98', 'longitude': '-1.13', 'temperature': '15.00'}
{'city': 'Nice', 'country': 'France', 'latitude': '43.72', 'longitude': '7.27', 'temperature': '8.82'}
{'city': 'Nis', 'country': 'Serbia', 'latitude': '43.33', 'longitude': '21.90', 'temperature': '9.36'}
{'city': 'Novi Sad', 'country': 'Serbia', 'latitude': '45.25', 'longitude': '19.85', 'temperature': '10.34'}
{'city': 'Odense', 'country': 'Denmark', 'latitude': '55.40', 'longitude': '10.38', 'temperature': '7.73'}
{'city': 'Ordu', 'country': 'Turkey', 'latitude': '41.00', 'longitude': '37.87', 'temperature': '11.92'}
{'city': 'Orsha', 'country': 'Belarus', 'latitude': '54.52', 'longitude': '30.42', 'temperature': '4.93'}
{'city': 'Oslo', 'country': 'Norway', 'latitude': '59.92', 'longitude': '10.75', 'temperature': '2.32'}
{'city': 'Ostrava', 'country': 'Czech Republic', 'latitude': '49.83', 'longitude': '18.25', 'temperature': '7.66'}
{'city': 'Oulu', 'country': 'Finland', 'latitude': '65.00', 'longitude': '25.47', 'temperature': '1.45'}
{'city': 'Oviedo', 'country': 'Spain', 'latitude': '43.35', 'longitude': '-5.83', 'temperature': '10.85'}
{'city': 'Palermo', 'country': 'Italy', 'latitude': '38.13', 'longitude': '13.35', 'temperature': '17.90'}
{'city': 'Patras', 'country': 'Greece', 'latitude': '38.23', 'longitude': '21.73', 'temperature': '16.90'}
{'city': 'Perpignan', 'country': 'France', 'latitude': '42.70', 'longitude': '2.90', 'temperature': '10.95'}
{'city': 'Perugia', 'country': 'Italy', 'latitude': '43.11', 'longitude': '12.39', 'temperature': '11.70'}
{'city': 'Pescara', 'country': 'Italy', 'latitude': '42.46', 'longitude': '14.22', 'temperature': '15.13'}
{'city': 'Pinsk', 'country': 'Belarus', 'latitude': '52.13', 'longitude': '26.09', 'temperature': '6.42'}
{'city': 'Pleven', 'country': 'Bulgaria', 'latitude': '43.42', 'longitude': '24.61', 'temperature': '10.51'}
{'city': 'Plovdiv', 'country': 'Bulgaria', 'latitude': '42.15', 'longitude': '24.75', 'temperature': '8.27'}
{'city': 'Podgorica', 'country': 'Montenegro', 'latitude': '42.47', 'longitude': '19.27', 'temperature': '9.99'}
{'city': 'Poznan', 'country': 'Poland', 'latitude': '52.41', 'longitude': '16.90', 'temperature': '8.31'}
{'city': 'Prague', 'country': 'Czech Republic', 'latitude': '50.08', 'longitude': '14.47', 'temperature': '8.05'}
{'city': 'Reims', 'country': 'France', 'latitude': '49.25', 'longitude': '4.03', 'temperature': '9.40'}
{'city': 'Riga', 'country': 'Latvia', 'latitude': '56.95', 'longitude': '24.10', 'temperature': '5.16'}
{'city': 'Rijeka', 'country': 'Croatia', 'latitude': '45.33', 'longitude': '14.45', 'temperature': '9.27'}
{'city': 'Rivne', 'country': 'Ukraine', 'latitude': '50.62', 'longitude': '26.25', 'temperature': '6.76'}
{'city': 'Rome', 'country': 'Italy', 'latitude': '41.90', 'longitude': '12.48', 'temperature': '15.10'}
{'city': 'Rostock', 'country': 'Germany', 'latitude': '54.07', 'longitude': '12.15', 'temperature': '8.07'}
{'city': 'Ruse', 'country': 'Bulgaria', 'latitude': '43.85', 'longitude': '25.97', 'temperature': '10.59'}
{'city': 'Salamanca', 'country': 'Spain', 'latitude': '40.97', 'longitude': '-5.67', 'temperature': '11.63'}
{'city': 'Salzburg', 'country': 'Austria', 'latitude': '47.81', 'longitude': '13.04', 'temperature': '4.62'}
{'city': 'Samsun', 'country': 'Turkey', 'latitude': '41.28', 'longitude': '36.34', 'temperature': '12.05'}
{'city': 'Santander', 'country': 'Spain', 'latitude': '43.38', 'longitude': '-3.80', 'temperature': '13.40'}
{'city': 'Sarajevo', 'country': 'Bosnia and Herzegovina', 'latitude': '43.85', 'longitude': '13.38', 'temperature': '9.60'}
{'city': 'Sibiu', 'country': 'Romania', 'latitude': '45.80', 'longitude': '24.14', 'temperature': '6.97'}
{'city': 'Siirt', 'country': 'Turkey', 'latitude': '37.94', 'longitude': '41.93', 'temperature': '12.48'}
{'city': 'Sivas', 'country': 'Turkey', 'latitude': '39.75', 'longitude': '37.03', 'temperature': '8.05'}
{'city': 'Skopje', 'country': 'Macedonia', 'latitude': '42.00', 'longitude': '21.43', 'temperature': '9.36'}
{'city': 'Split', 'country': 'Croatia', 'latitude': '43.52', 'longitude': '16.47', 'temperature': '12.46'}

In [13]:
# def get_lat(city):
#     return float(city['latitude'])

max(cities_data, key=lambda city: city[2])

{'city': 'Kiruna',
 'country': 'Sweden',
 'latitude': '67.85',
 'longitude': '20.22',
 'temperature': '-2.20'}

In [31]:
import random
from string import *

In [32]:
class peep:
    def __init__(self, name, age, year) -> None:
        self.name = name
        self.age = age
        self.year = year

    def __repr__(self) -> str:
        return self.name+ f' age={self.age} year={self.year}'

In [42]:
k = [peep(random.choice(ascii_letters), random.randint(1, 100), random.randint(1, 50)) for _ in range(10)]

[o age=51 year=26,
 C age=7 year=20,
 Q age=76 year=49,
 t age=58 year=2,
 z age=54 year=38,
 W age=100 year=44,
 I age=56 year=22,
 V age=71 year=6,
 V age=92 year=48,
 g age=18 year=47,
 yyy age=1 year=100]

In [51]:
sorted(k, key=lambda x: abs(x.age-x.year))

[C age=7 year=20,
 z age=54 year=38,
 o age=51 year=26,
 Q age=76 year=49,
 g age=18 year=47,
 I age=56 year=22,
 V age=92 year=48,
 t age=58 year=2,
 W age=100 year=44,
 V age=71 year=6,
 yyy age=1 year=100]

In [7]:
import csv
titanic_data = []
with open('Titanic.csv') as f:
    rows = csv.DictReader(f)
    for r in rows:
        titanic_data.append(r)

In [8]:
titanic_data

[{'last': 'Abbing',
  'first': 'Mr. Anthony',
  'gender': 'M',
  'age': '42',
  'class': '3',
  'fare': '7.55',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Abbott',
  'first': 'Mrs. Stanton (Rosa Hunt)',
  'gender': 'F',
  'age': '35',
  'class': '3',
  'fare': '20.25',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Abbott',
  'first': 'Mr. Rossmore Edward',
  'gender': 'M',
  'age': '16',
  'class': '3',
  'fare': '20.25',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Abelson',
  'first': 'Mr. Samuel',
  'gender': 'M',
  'age': '30',
  'class': '2',
  'fare': '24.00',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Abelson',
  'first': 'Mrs. Samuel (Hannah Wizosky)',
  'gender': 'F',
  'age': '28',
  'class': '2',
  'fare': '24.00',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Adahl',
  'first': 'Mr. Mauritz Nils Martin',
  'gender': 'M',
  'age': '30',
  'class': '3',
  'fare': '7.25',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Adams',
  'first': 'Mr. John',
  'gender': 'M',
  'age': '26',
  'class': '3',
  'fare': '8.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Ahlin',
  'first': 'Mrs. Johan (Johanna Persdotter Larsson)',
  'gender': 'F',
  'age': '40',
  'class': '3',
  'fare': '9.48',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Aks',
  'first': 'Mrs. Sam (Leah Rosen)',
  'gender': 'F',
  'age': '18',
  'class': '3',
  'fare': '9.35',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Albimona',
  'first': 'Mr. Nassef Cassem',
  'gender': 'M',
  'age': '26',
  'class': '3',
  'fare': '18.79',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Alexander',
  'first': 'Mr. William',
  'gender': 'M',
  'age': '26',
  'class': '3',
  'fare': '7.89',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Alhomaki',
  'first': 'Mr. Ilmari Rudolf',
  'gender': 'M',
  'age': '20',
  'class': '3',
  'fare': '7.93',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Ali',
  'first': 'Mr. Ahmed',
  'gender': 'M',
  'age': '24',
  'class': '3',
  'fare': '7.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Ali',
  'first': 'Mr. William',
  'gender': 'M',
  'age': '25',
  'class': '3',
  'fare': '7.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Allen',
  'first': 'Mr. William Henry',
  'gender': 'M',
  'age': '35',
  'class': '3',
  'fare': '8.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Allen',
  'first': 'Miss Elisabeth Walton',
  'gender': 'F',
  'age': '29',
  'class': '1',
  'fare': '211.34',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Allison',
  'first': 'Miss Helen Loraine',
  'gender': 'F',
  'age': '2',
  'class': '1',
  'fare': '151.55',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Allison',
  'first': 'Master Hudson Trevor',
  'gender': 'M',
  'age': '0.92',
  'class': '1',
  'fare': '151.55',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Allison',
  'first': 'Mrs. Hudson J C (Bessie Waldo Daniels)',
  'gender': 'F',
  'age': '25',
  'class': '1',
  'fare': '151.55',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Allum',
  'first': 'Mr. Owen George',
  'gender': 'M',
  'age': '18',
  'class': '3',
  'fare': '8.30',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andersen-Jensen',
  'first': 'Miss Carla Christine Nielsine',
  'gender': 'F',
  'age': '19',
  'class': '3',
  'fare': '7.85',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Anderson',
  'first': 'Mr. Harry',
  'gender': 'M',
  'age': '48',
  'class': '1',
  'fare': '26.55',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Andersson',
  'first': 'Mr. Anders Johan',
  'gender': 'M',
  'age': '39',
  'class': '3',
  'fare': '31.28',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andersson',
  'first': 'Miss Erna Alexandra',
  'gender': 'F',
  'age': '17',
  'class': '3',
  'fare': '7.93',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Andersson',
  'first': 'Miss Ellis Anna Maria',
  'gender': 'F',
  'age': '2',
  'class': '3',
  'fare': '31.28',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andersson',
  'first': ' Mr. August Edvard ("Wennerstrom")',
  'gender': 'M',
  'age': '27',
  'class': '3',
  'fare': '7.80',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Andersson',
  'first': 'Miss Ingeborg Constanzia',
  'gender': 'F',
  'age': '9',
  'class': '3',
  'fare': '31.28',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andersson',
  'first': 'Miss Sigrid Elisabeth',
  'gender': 'F',
  'age': '11',
  'class': '3',
  'fare': '31.28',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andersson',
  'first': 'Mrs. Anders Johan (Alfrida Konstantia Brogren)',
  'gender': 'F',
  'age': '39',
  'class': '3',
  'fare': '31.28',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andersson',
  'first': 'Miss Ebba Iris Alfrida',
  'gender': 'F',
  'age': '6',
  'class': '3',
  'fare': '31.28',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andersson',
  'first': 'Master Sigvard Harald Elias',
  'gender': 'M',
  'age': '4',
  'class': '3',
  'fare': '31.28',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andreasson',
  'first': 'Mr. Paul Edvin',
  'gender': 'M',
  'age': '20',
  'class': '3',
  'fare': '7.85',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andrew',
  'first': 'Mr. Edgardo Samuel',
  'gender': 'M',
  'age': '18',
  'class': '2',
  'fare': '11.50',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Andrews',
  'first': 'Miss Kornelia Theodosia',
  'gender': 'F',
  'age': '63',
  'class': '1',
  'fare': '77.96',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Andrews',
  'first': 'Mr. Thomas Jr',
  'gender': 'M',
  'age': '39',
  'class': '1',
  'fare': '0.00',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Angle',
  'first': ' Mrs. William A (Florence "Mary" Agnes Hughes)',
  'gender': 'F',
  'age': '36',
  'class': '2',
  'fare': '26.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Appleton',
  'first': 'Mrs. Edward Dale (Charlotte Lamson)',
  'gender': 'F',
  'age': '53',
  'class': '1',
  'fare': '51.48',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Arnold-Franchi',
  'first': 'Mrs. Josef (Josefine Franchi)',
  'gender': 'F',
  'age': '18',
  'class': '3',
  'fare': '17.80',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Arnold-Franchi',
  'first': 'Mr. Josef',
  'gender': 'M',
  'age': '25',
  'class': '3',
  'fare': '17.80',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Artagaveytia',
  'first': 'Mr. Ramon',
  'gender': 'M',
  'age': '71',
  'class': '1',
  'fare': '49.50',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Asim',
  'first': 'Mr. Adola',
  'gender': 'M',
  'age': '35',
  'class': '3',
  'fare': '7.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Asplund',
  'first': 'Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
  'gender': 'F',
  'age': '38',
  'class': '3',
  'fare': '31.39',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Asplund',
  'first': 'Master Clarence Gustaf Hugo',
  'gender': 'M',
  'age': '9',
  'class': '3',
  'fare': '31.39',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Asplund',
  'first': 'Miss Lillian Gertrud',
  'gender': 'F',
  'age': '5',
  'class': '3',
  'fare': '31.39',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Asplund',
  'first': 'Master Edvin Rojj Felix',
  'gender': 'M',
  'age': '3',
  'class': '3',
  'fare': '31.39',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Astor',
  'first': 'Mrs. John Jacob (Madeleine Talmadge Force)',
  'gender': 'F',
  'age': '18',
  'class': '1',
  'fare': '227.53',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Attalah',
  'first': 'Miss Malake',
  'gender': 'F',
  'age': '17',
  'class': '3',
  'fare': '14.46',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Attalah',
  'first': 'Mr. Sleiman',
  'gender': 'M',
  'age': '30',
  'class': '3',
  'fare': '7.23',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Aubart',
  'first': 'Mme. Leontine Pauline',
  'gender': 'F',
  'age': '24',
  'class': '1',
  'fare': '69.30',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Augustsson',
  'first': 'Mr. Albert',
  'gender': 'M',
  'age': '23',
  'class': '3',
  'fare': '7.85',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Ayoub',
  'first': 'Miss Banoura',
  'gender': 'F',
  'age': '13',
  'class': '3',
  'fare': '7.23',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Backstrom',
  'first': 'Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
  'gender': 'F',
  'age': '33',
  'class': '3',
  'fare': '15.85',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Backstrom',
  'first': 'Mr. Karl Alfred',
  'gender': 'M',
  'age': '32',
  'class': '3',
  'fare': '15.85',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Baclini',
  'first': 'Miss Marie Catherine',
  'gender': 'F',
  'age': '5',
  'class': '3',
  'fare': '19.26',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Baclini',
  'first': 'Miss Helene Barbara',
  'gender': 'F',
  'age': '0.75',
  'class': '3',
  'fare': '19.26',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Baclini',
  'first': 'Miss Eugenie',
  'gender': 'F',
  'age': '0.75',
  'class': '3',
  'fare': '19.26',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Baclini',
  'first': 'Mrs. Solomon (Latifa Qurban)',
  'gender': 'F',
  'age': '24',
  'class': '3',
  'fare': '19.26',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Badt',
  'first': 'Mr. Mohamed',
  'gender': 'M',
  'age': '40',
  'class': '3',
  'fare': '7.23',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Bailey',
  'first': 'Mr. Percy Andrew',
  'gender': 'M',
  'age': '18',
  'class': '2',
  'fare': '11.50',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Balkic',
  'first': 'Mr. Cerin',
  'gender': 'M',
  'age': '26',
  'class': '3',
  'fare': '7.90',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Ball',
  'first': 'Mrs. (Ada E Hall)',
  'gender': 'F',
  'age': '36',
  'class': '2',
  'fare': '13.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Banfield',
  'first': 'Mr. Frederick James',
  'gender': 'M',
  'age': '28',
  'class': '2',
  'fare': '10.50',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Barah',
  'first': 'Mr. Hanna Assi',
  'gender': 'M',
  'age': '20',
  'class': '3',
  'fare': '7.23',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Barbara',
  'first': 'Mrs. (Catherine David)',
  'gender': 'F',
  'age': '45',
  'class': '3',
  'fare': '14.45',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Barbara',
  'first': 'Miss Saiide',
  'gender': 'F',
  'age': '18',
  'class': '3',
  'fare': '14.45',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Barber',
  'first': ' Miss Ellen "Nellie"',
  'gender': 'F',
  'age': '26',
  'class': '1',
  'fare': '78.85',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Barkworth',
  'first': 'Mr. Algernon Henry Wilson',
  'gender': 'M',
  'age': '80',
  'class': '1',
  'fare': '30.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Barton',
  'first': 'Mr. David John',
  'gender': 'M',
  'age': '22',
  'class': '3',
  'fare': '8.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Bateman',
  'first': 'Rev. Robert James',
  'gender': 'M',
  'age': '51',
  'class': '2',
  'fare': '12.53',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Baumann',
  'first': 'Mr. John D',
  'gender': 'M',
  'age': '',
  'class': '1',
  'fare': '25.93',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Baxter',
  'first': 'Mr. Quigg Edmond',
  'gender': 'M',
  'age': '24',
  'class': '1',
  'fare': '247.52',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Baxter',
  'first': 'Mrs. James (Helene DeLaudeniere Chaput)',
  'gender': 'F',
  'age': '50',
  'class': '1',
  'fare': '247.52',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Bazzani',
  'first': 'Miss Albina',
  'gender': 'F',
  'age': '32',
  'class': '1',
  'fare': '76.29',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Beane',
  'first': 'Mr. Edward',
  'gender': 'M',
  'age': '32',
  'class': '2',
  'fare': '26.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Beane',
  'first': 'Mrs. Edward (Ethel Clarke)',
  'gender': 'F',
  'age': '19',
  'class': '2',
  'fare': '26.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Beavan',
  'first': 'Mr. William Thomas',
  'gender': 'M',
  'age': '19',
  'class': '3',
  'fare': '8.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Becker',
  'first': 'Master Richard F',
  'gender': 'M',
  'age': '1',
  'class': '2',
  'fare': '39.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Becker',
  'first': 'Miss Marion Louise',
  'gender': 'F',
  'age': '4',
  'class': '2',
  'fare': '39.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Beckwith',
  'first': 'Mr. Richard Leonard',
  'gender': 'M',
  'age': '37',
  'class': '1',
  'fare': '52.55',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Beckwith',
  'first': 'Mrs. Richard Leonard (Sallie Monypeny)',
  'gender': 'F',
  'age': '47',
  'class': '1',
  'fare': '52.55',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Beesley',
  'first': 'Mr. Lawrence',
  'gender': 'M',
  'age': '34',
  'class': '2',
  'fare': '13.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Behr',
  'first': 'Mr. Karl Howell',
  'gender': 'M',
  'age': '26',
  'class': '1',
  'fare': '30.00',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Bengtsson',
  'first': 'Mr. John Viktor',
  'gender': 'M',
  'age': '26',
  'class': '3',
  'fare': '7.78',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Berglund',
  'first': 'Mr. Karl Ivar Sven',
  'gender': 'M',
  'age': '22',
  'class': '3',
  'fare': '9.35',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Berriman',
  'first': 'Mr. William John',
  'gender': 'M',
  'age': '23',
  'class': '2',
  'fare': '13.00',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Betros',
  'first': 'Mr. Tannous',
  'gender': 'M',
  'age': '20',
  'class': '3',
  'fare': '4.01',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Bidois',
  'first': 'Miss Rosalie',
  'gender': 'F',
  'age': '42',
  'class': '1',
  'fare': '227.53',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Bing',
  'first': 'Mr. Lee',
  'gender': 'M',
  'age': '32',
  'class': '3',
  'fare': '56.50',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Birkeland',
  'first': 'Mr. Hans Martin Monsen',
  'gender': 'M',
  'age': '21',
  'class': '3',
  'fare': '7.78',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Bishop',
  'first': 'Mrs. Dickinson H (Helen Walton)',
  'gender': 'F',
  'age': '19',
  'class': '1',
  'fare': '91.08',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Bishop',
  'first': 'Mr. Dickinson H',
  'gender': 'M',
  'age': '25',
  'class': '1',
  'fare': '91.08',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Bissette',
  'first': 'Miss Amelia',
  'gender': 'F',
  'age': '35',
  'class': '1',
  'fare': '135.63',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Bjornstrom-Steffansson',
  'first': 'Mr. Mauritz Hakan',
  'gender': 'M',
  'age': '28',
  'class': '1',
  'fare': '26.55',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Blackwell',
  'first': 'Mr. Stephen Weart',
  'gender': 'M',
  'age': '45',
  'class': '1',
  'fare': '35.50',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Blank',
  'first': 'Mr. Henry',
  'gender': 'M',
  'age': '40',
  'class': '1',
  'fare': '31.00',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Bonnell',
  'first': 'Miss Elizabeth',
  'gender': 'F',
  'age': '58',
  'class': '1',
  'fare': '26.55',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Bostandyeff',
  'first': 'Mr. Guentcho',
  'gender': 'M',
  'age': '26',
  'class': '3',
  'fare': '7.90',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Boulos',
  'first': 'Mrs. Joseph (Sultana)',
  'gender': 'F',
  'age': '',
  'class': '3',
  'fare': '15.25',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Boulos',
  'first': 'Mr. Hanna',
  'gender': 'M',
  'age': '',
  'class': '3',
  'fare': '7.23',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Boulos',
  'first': 'Miss Nourelain',
  'gender': 'F',
  'age': '9',
  'class': '3',
  'fare': '15.25',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Bourke',
  'first': 'Mr. John',
  'gender': 'M',
  'age': '40',
  'class': '3',
  'fare': '15.50',
  'embarked': 'Queenstown',
  'survived': 'no'},
 {'last': 'Bourke',
  'first': 'Miss Mary',
  'gender': 'F',
  'age': '',
  'class': '3',
  'fare': '7.75',
  'embarked': 'Queenstown',
  'survived': 'no'},
 {'last': 'Bourke',
  'first': 'Mrs. John (Catherine)',
  'gender': 'F',
  'age': '32',
  'class': '3',
  'fare': '15.50',
  'embarked': 'Queenstown',
  'survived': 'no'},
 {'last': 'Bowen',
  'first': ' Mr. David John "Dai"',
  'gender': 'M',
  'age': '21',
  'class': '3',
  'fare': '16.10',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Bowerman',
  'first': 'Miss Elsie Edith',
  'gender': 'F',
  'age': '22',
  'class': '1',
  'fare': '55.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Bracken',
  'first': 'Mr. James H',
  'gender': 'M',
  'age': '27',
  'class': '2',
  'fare': '13.00',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Bradley',
  'first': ' Mr. George ("George Arthur Brayton")',
  'gender': 'M',
  'age': '',
  'class': '1',
  'fare': '26.55',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Braund',
  'first': 'Mr. Owen Harris',
  'gender': 'M',
  'age': '22',
  'class': '3',
  'fare': '7.25',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Braund',
  'first': 'Mr. Lewis Richard',
  'gender': 'M',
  'age': '29',
  'class': '3',
  'fare': '7.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Brewe',
  'first': 'Dr. Arthur Jackson',
  'gender': 'M',
  'age': '',
  'class': '1',
  'fare': '39.60',
  'embarked': 'Cherbourg',
  'survived': 'no'},
 {'last': 'Brocklebank',
  'first': 'Mr. William Alfred',
  'gender': 'M',
  'age': '35',
  'class': '3',
  'fare': '8.05',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Brown',
  'first': 'Mrs. James Joseph (Margaret Tobin)',
  'gender': 'F',
  'age': '44',
  'class': '1',
  'fare': '27.72',
  'embarked': 'Cherbourg',
  'survived': 'yes'},
 {'last': 'Brown',
  'first': ' Miss Amelia "Mildred"',
  'gender': 'F',
  'age': '24',
  'class': '2',
  'fare': '13.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Brown',
  'first': 'Mrs. Thomas William Solomon (Elizabeth Catherine Ford)',
  'gender': 'F',
  'age': '40',
  'class': '2',
  'fare': '39.00',
  'embarked': 'Southampton',
  'survived': 'yes'},
 {'last': 'Brown',
  'first': 'Mr. Thomas William Solomon',
  'gender': 'M',
  'age': '60',
  'class': '2',
  'fare': '39.00',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Bryhl',
  'first': 'Mr. Kurt Arnold Gottfrid',
  'gender': 'M',
  'age': '25',
  'class': '2',
  'fare': '26.00',
  'embarked': 'Southampton',
  'survived': 'no'},
 {'last': 'Burke',

In [9]:
for x in titanic_data:
    print(x)

{'last': 'Abbing', 'first': 'Mr. Anthony', 'gender': 'M', 'age': '42', 'class': '3', 'fare': '7.55', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Abbott', 'first': 'Mrs. Stanton (Rosa Hunt)', 'gender': 'F', 'age': '35', 'class': '3', 'fare': '20.25', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Abbott', 'first': 'Mr. Rossmore Edward', 'gender': 'M', 'age': '16', 'class': '3', 'fare': '20.25', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Abelson', 'first': 'Mr. Samuel', 'gender': 'M', 'age': '30', 'class': '2', 'fare': '24.00', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Abelson', 'first': 'Mrs. Samuel (Hannah Wizosky)', 'gender': 'F', 'age': '28', 'class': '2', 'fare': '24.00', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Adahl', 'first': 'Mr. Mauritz Nils Martin', 'gender': 'M', 'age': '30', 'class': '3', 'fare': '7.25', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Adams', 'first': 'Mr. John', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ahlin', 'first': 'Mrs. Johan (Johanna Persdotter Larsson)', 'gender': 'F', 'age': '40', 'class': '3', 'fare': '9.48', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Aks', 'first': 'Mrs. Sam (Leah Rosen)', 'gender': 'F', 'age': '18', 'class': '3', 'fare': '9.35', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Albimona', 'first': 'Mr. Nassef Cassem', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '18.79', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Alexander', 'first': 'Mr. William', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '7.89', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Alhomaki', 'first': 'Mr. Ilmari Rudolf', 'gender': 'M', 'age': '20', 'class': '3', 'fare': '7.93', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ali', 'first': 'Mr. Ahmed', 'gender': 'M', 'age': '24', 'class': '3', 'fare': '7.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ali', 'first': 'Mr. William', 'gender': 'M', 'age': '25', 'class': '3', 'fare': '7.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Allen', 'first': 'Mr. William Henry', 'gender': 'M', 'age': '35', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Allen', 'first': 'Miss Elisabeth Walton', 'gender': 'F', 'age': '29', 'class': '1', 'fare': '211.34', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Allison', 'first': 'Miss Helen Loraine', 'gender': 'F', 'age': '2', 'class': '1', 'fare': '151.55', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Allison', 'first': 'Master Hudson Trevor', 'gender': 'M', 'age': '0.92', 'class': '1', 'fare': '151.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Allison', 'first': 'Mrs. Hudson J C (Bessie Waldo Daniels)', 'gender': 'F', 'age': '25', 'class': '1', 'fare': '151.55', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Allum', 'first': 'Mr. Owen George', 'gender': 'M', 'age': '18', 'class': '3', 'fare': '8.30', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersen-Jensen', 'first': 'Miss Carla Christine Nielsine', 'gender': 'F', 'age': '19', 'class': '3', 'fare': '7.85', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Anderson', 'first': 'Mr. Harry', 'gender': 'M', 'age': '48', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Andersson', 'first': 'Mr. Anders Johan', 'gender': 'M', 'age': '39', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Miss Erna Alexandra', 'gender': 'F', 'age': '17', 'class': '3', 'fare': '7.93', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Andersson', 'first': 'Miss Ellis Anna Maria', 'gender': 'F', 'age': '2', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': ' Mr. August Edvard ("Wennerstrom")', 'gender': 'M', 'age': '27', 'class': '3', 'fare': '7.80', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Andersson', 'first': 'Miss Ingeborg Constanzia', 'gender': 'F', 'age': '9', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Miss Sigrid Elisabeth', 'gender': 'F', 'age': '11', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Mrs. Anders Johan (Alfrida Konstantia Brogren)', 'gender': 'F', 'age': '39', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Miss Ebba Iris Alfrida', 'gender': 'F', 'age': '6', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andersson', 'first': 'Master Sigvard Harald Elias', 'gender': 'M', 'age': '4', 'class': '3', 'fare': '31.28', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andreasson', 'first': 'Mr. Paul Edvin', 'gender': 'M', 'age': '20', 'class': '3', 'fare': '7.85', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andrew', 'first': 'Mr. Edgardo Samuel', 'gender': 'M', 'age': '18', 'class': '2', 'fare': '11.50', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Andrews', 'first': 'Miss Kornelia Theodosia', 'gender': 'F', 'age': '63', 'class': '1', 'fare': '77.96', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Andrews', 'first': 'Mr. Thomas Jr', 'gender': 'M', 'age': '39', 'class': '1', 'fare': '0.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Angle', 'first': ' Mrs. William A (Florence "Mary" Agnes Hughes)', 'gender': 'F', 'age': '36', 'class': '2', 'fare': '26.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Appleton', 'first': 'Mrs. Edward Dale (Charlotte Lamson)', 'gender': 'F', 'age': '53', 'class': '1', 'fare': '51.48', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Arnold-Franchi', 'first': 'Mrs. Josef (Josefine Franchi)', 'gender': 'F', 'age': '18', 'class': '3', 'fare': '17.80', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Arnold-Franchi', 'first': 'Mr. Josef', 'gender': 'M', 'age': '25', 'class': '3', 'fare': '17.80', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Artagaveytia', 'first': 'Mr. Ramon', 'gender': 'M', 'age': '71', 'class': '1', 'fare': '49.50', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Asim', 'first': 'Mr. Adola', 'gender': 'M', 'age': '35', 'class': '3', 'fare': '7.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Asplund', 'first': 'Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'gender': 'F', 'age': '38', 'class': '3', 'fare': '31.39', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Asplund', 'first': 'Master Clarence Gustaf Hugo', 'gender': 'M', 'age': '9', 'class': '3', 'fare': '31.39', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Asplund', 'first': 'Miss Lillian Gertrud', 'gender': 'F', 'age': '5', 'class': '3', 'fare': '31.39', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Asplund', 'first': 'Master Edvin Rojj Felix', 'gender': 'M', 'age': '3', 'class': '3', 'fare': '31.39', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Astor', 'first': 'Mrs. John Jacob (Madeleine Talmadge Force)', 'gender': 'F', 'age': '18', 'class': '1', 'fare': '227.53', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Attalah', 'first': 'Miss Malake', 'gender': 'F', 'age': '17', 'class': '3', 'fare': '14.46', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Attalah', 'first': 'Mr. Sleiman', 'gender': 'M', 'age': '30', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Aubart', 'first': 'Mme. Leontine Pauline', 'gender': 'F', 'age': '24', 'class': '1', 'fare': '69.30', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Augustsson', 'first': 'Mr. Albert', 'gender': 'M', 'age': '23', 'class': '3', 'fare': '7.85', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ayoub', 'first': 'Miss Banoura', 'gender': 'F', 'age': '13', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Backstrom', 'first': 'Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'gender': 'F', 'age': '33', 'class': '3', 'fare': '15.85', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Backstrom', 'first': 'Mr. Karl Alfred', 'gender': 'M', 'age': '32', 'class': '3', 'fare': '15.85', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Baclini', 'first': 'Miss Marie Catherine', 'gender': 'F', 'age': '5', 'class': '3', 'fare': '19.26', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Baclini', 'first': 'Miss Helene Barbara', 'gender': 'F', 'age': '0.75', 'class': '3', 'fare': '19.26', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Baclini', 'first': 'Miss Eugenie', 'gender': 'F', 'age': '0.75', 'class': '3', 'fare': '19.26', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Baclini', 'first': 'Mrs. Solomon (Latifa Qurban)', 'gender': 'F', 'age': '24', 'class': '3', 'fare': '19.26', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Badt', 'first': 'Mr. Mohamed', 'gender': 'M', 'age': '40', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Bailey', 'first': 'Mr. Percy Andrew', 'gender': 'M', 'age': '18', 'class': '2', 'fare': '11.50', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Balkic', 'first': 'Mr. Cerin', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '7.90', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Ball', 'first': 'Mrs. (Ada E Hall)', 'gender': 'F', 'age': '36', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Banfield', 'first': 'Mr. Frederick James', 'gender': 'M', 'age': '28', 'class': '2', 'fare': '10.50', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Barah', 'first': 'Mr. Hanna Assi', 'gender': 'M', 'age': '20', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Barbara', 'first': 'Mrs. (Catherine David)', 'gender': 'F', 'age': '45', 'class': '3', 'fare': '14.45', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Barbara', 'first': 'Miss Saiide', 'gender': 'F', 'age': '18', 'class': '3', 'fare': '14.45', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Barber', 'first': ' Miss Ellen "Nellie"', 'gender': 'F', 'age': '26', 'class': '1', 'fare': '78.85', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Barkworth', 'first': 'Mr. Algernon Henry Wilson', 'gender': 'M', 'age': '80', 'class': '1', 'fare': '30.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Barton', 'first': 'Mr. David John', 'gender': 'M', 'age': '22', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bateman', 'first': 'Rev. Robert James', 'gender': 'M', 'age': '51', 'class': '2', 'fare': '12.53', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Baumann', 'first': 'Mr. John D', 'gender': 'M', 'age': '', 'class': '1', 'fare': '25.93', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Baxter', 'first': 'Mr. Quigg Edmond', 'gender': 'M', 'age': '24', 'class': '1', 'fare': '247.52', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Baxter', 'first': 'Mrs. James (Helene DeLaudeniere Chaput)', 'gender': 'F', 'age': '50', 'class': '1', 'fare': '247.52', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bazzani', 'first': 'Miss Albina', 'gender': 'F', 'age': '32', 'class': '1', 'fare': '76.29', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Beane', 'first': 'Mr. Edward', 'gender': 'M', 'age': '32', 'class': '2', 'fare': '26.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beane', 'first': 'Mrs. Edward (Ethel Clarke)', 'gender': 'F', 'age': '19', 'class': '2', 'fare': '26.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beavan', 'first': 'Mr. William Thomas', 'gender': 'M', 'age': '19', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Becker', 'first': 'Master Richard F', 'gender': 'M', 'age': '1', 'class': '2', 'fare': '39.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Becker', 'first': 'Miss Marion Louise', 'gender': 'F', 'age': '4', 'class': '2', 'fare': '39.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beckwith', 'first': 'Mr. Richard Leonard', 'gender': 'M', 'age': '37', 'class': '1', 'fare': '52.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beckwith', 'first': 'Mrs. Richard Leonard (Sallie Monypeny)', 'gender': 'F', 'age': '47', 'class': '1', 'fare': '52.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Beesley', 'first': 'Mr. Lawrence', 'gender': 'M', 'age': '34', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Behr', 'first': 'Mr. Karl Howell', 'gender': 'M', 'age': '26', 'class': '1', 'fare': '30.00', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bengtsson', 'first': 'Mr. John Viktor', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '7.78', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Berglund', 'first': 'Mr. Karl Ivar Sven', 'gender': 'M', 'age': '22', 'class': '3', 'fare': '9.35', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Berriman', 'first': 'Mr. William John', 'gender': 'M', 'age': '23', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Betros', 'first': 'Mr. Tannous', 'gender': 'M', 'age': '20', 'class': '3', 'fare': '4.01', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Bidois', 'first': 'Miss Rosalie', 'gender': 'F', 'age': '42', 'class': '1', 'fare': '227.53', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bing', 'first': 'Mr. Lee', 'gender': 'M', 'age': '32', 'class': '3', 'fare': '56.50', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Birkeland', 'first': 'Mr. Hans Martin Monsen', 'gender': 'M', 'age': '21', 'class': '3', 'fare': '7.78', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bishop', 'first': 'Mrs. Dickinson H (Helen Walton)', 'gender': 'F', 'age': '19', 'class': '1', 'fare': '91.08', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bishop', 'first': 'Mr. Dickinson H', 'gender': 'M', 'age': '25', 'class': '1', 'fare': '91.08', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bissette', 'first': 'Miss Amelia', 'gender': 'F', 'age': '35', 'class': '1', 'fare': '135.63', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Bjornstrom-Steffansson', 'first': 'Mr. Mauritz Hakan', 'gender': 'M', 'age': '28', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Blackwell', 'first': 'Mr. Stephen Weart', 'gender': 'M', 'age': '45', 'class': '1', 'fare': '35.50', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Blank', 'first': 'Mr. Henry', 'gender': 'M', 'age': '40', 'class': '1', 'fare': '31.00', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Bonnell', 'first': 'Miss Elizabeth', 'gender': 'F', 'age': '58', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Bostandyeff', 'first': 'Mr. Guentcho', 'gender': 'M', 'age': '26', 'class': '3', 'fare': '7.90', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Boulos', 'first': 'Mrs. Joseph (Sultana)', 'gender': 'F', 'age': '', 'class': '3', 'fare': '15.25', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Boulos', 'first': 'Mr. Hanna', 'gender': 'M', 'age': '', 'class': '3', 'fare': '7.23', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Boulos', 'first': 'Miss Nourelain', 'gender': 'F', 'age': '9', 'class': '3', 'fare': '15.25', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Bourke', 'first': 'Mr. John', 'gender': 'M', 'age': '40', 'class': '3', 'fare': '15.50', 'embarked': 'Queenstown', 'survived': 'no'}
{'last': 'Bourke', 'first': 'Miss Mary', 'gender': 'F', 'age': '', 'class': '3', 'fare': '7.75', 'embarked': 'Queenstown', 'survived': 'no'}
{'last': 'Bourke', 'first': 'Mrs. John (Catherine)', 'gender': 'F', 'age': '32', 'class': '3', 'fare': '15.50', 'embarked': 'Queenstown', 'survived': 'no'}
{'last': 'Bowen', 'first': ' Mr. David John "Dai"', 'gender': 'M', 'age': '21', 'class': '3', 'fare': '16.10', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bowerman', 'first': 'Miss Elsie Edith', 'gender': 'F', 'age': '22', 'class': '1', 'fare': '55.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Bracken', 'first': 'Mr. James H', 'gender': 'M', 'age': '27', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bradley', 'first': ' Mr. George ("George Arthur Brayton")', 'gender': 'M', 'age': '', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Braund', 'first': 'Mr. Owen Harris', 'gender': 'M', 'age': '22', 'class': '3', 'fare': '7.25', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Braund', 'first': 'Mr. Lewis Richard', 'gender': 'M', 'age': '29', 'class': '3', 'fare': '7.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Brewe', 'first': 'Dr. Arthur Jackson', 'gender': 'M', 'age': '', 'class': '1', 'fare': '39.60', 'embarked': 'Cherbourg', 'survived': 'no'}
{'last': 'Brocklebank', 'first': 'Mr. William Alfred', 'gender': 'M', 'age': '35', 'class': '3', 'fare': '8.05', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Brown', 'first': 'Mrs. James Joseph (Margaret Tobin)', 'gender': 'F', 'age': '44', 'class': '1', 'fare': '27.72', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Brown', 'first': ' Miss Amelia "Mildred"', 'gender': 'F', 'age': '24', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Brown', 'first': 'Mrs. Thomas William Solomon (Elizabeth Catherine Ford)', 'gender': 'F', 'age': '40', 'class': '2', 'fare': '39.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Brown', 'first': 'Mr. Thomas William Solomon', 'gender': 'M', 'age': '60', 'class': '2', 'fare': '39.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bryhl', 'first': 'Mr. Kurt Arnold Gottfrid', 'gender': 'M', 'age': '25', 'class': '2', 'fare': '26.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Burke', 'first': 'Mr. Jeremiah', 'gender': 'M', 'age': '19', 'class': '3', 'fare': '6.75', 'embarked': 'Queenstown', 'survived': 'no'}
{'last': 'Burns', 'first': 'Miss Elizabeth Margaret', 'gender': 'F', 'age': '41', 'class': '1', 'fare': '134.50', 'embarked': 'Cherbourg', 'survived': 'yes'}
{'last': 'Buss', 'first': 'Miss Kate', 'gender': 'F', 'age': '36', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Butler', 'first': 'Mr. Reginald Fenton', 'gender': 'M', 'age': '25', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Butt', 'first': 'Major. Archibald Willingham', 'gender': 'M', 'age': '45', 'class': '1', 'fare': '26.55', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Byles', 'first': 'Rev. Thomas Roussel Davids', 'gender': 'M', 'age': '42', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Bystrom', 'first': 'Mrs. (Karolina)', 'gender': 'F', 'age': '42', 'class': '2', 'fare': '13.00', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Cacic', 'first': 'Mr. Luka', 'gender': 'M', 'age': '38', 'class': '3', 'fare': '8.66', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Cacic', 'first': 'Miss Marija', 'gender': 'F', 'age': '30', 'class': '3', 'fare': '8.66', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Cairns', 'first': 'Mr. Alexander', 'gender': 'M', 'age': '', 'class': '1', 'fare': '31.00', 'embarked': 'Southampton', 'survived': 'no'}
{'last': 'Calderhead', 'first': 'Mr. Edward Pennington', 'gender': 'M', 'age': '42', 'class': '1', 'fare': '26.29', 'embarked': 'Southampton', 'survived': 'yes'}
{'last': 'Caldwell', 'first': 'Master Alden Gates', 'gender': 'M', 'age': '0.83', 'class': '2', 'fare': '29.00', 'embarked': 'Southampton', 'survived': 'yes'}

In [10]:
word = 'banananananakodem'

In [3]:
from random import *

In [4]:
l = [randrange(50) for _ in range(10)]

In [5]:
l

[24, 39, 6, 3, 0, 22, 33, 42, 9, 16]

In [9]:
import csv
# open Cities.csv file with csv.DictReader and read its content into a list of dictionary, cities_data
cities_data = []
with open('Cities.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        cities_data.append(r)

# open Countries.csv file with csv.DictReader and read its content into a list of dictionary, countries_data
countries_data = []
with open('Countries.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        countries_data.append(r)

In [27]:
from pandas import *

In [8]:

def country_list(cities_data: list) -> list:
    """Returns a list of all the countries represented in cities_data.
    """

    return list({r['country'] for r in cities_data})

def average_country_temp(cities_data: list) -> dict:

    avg_dct = {}
    for country in country_list(cities_data):
        temp = []
        for city in cities_data:
            if city['country'] == country['country']:
                temp.append(city['temperature'])

        avg_dct[country['country']] = sum(temp)/len(temp)

    return avg_dct

In [34]:
country_list(cities_data)

['Ukraine',
 'Italy',
 'Croatia',
 'Finland',
 'Belarus',
 'Turkey',
 'Denmark',
 'Montenegro',
 'Moldova',
 'Serbia',
 'Belgium',
 'Macedonia',
 'Andorra',
 'Spain',
 'Ireland',
 'Latvia',
 'Albania',
 'Lithuania',
 'Germany',
 'Bosnia and Herzegovina',
 'Norway',
 'Slovakia',
 'Poland',
 'United Kingdom',
 'Sweden',
 'France',
 'Estonia',
 'Austria',
 'Netherlands',
 'Slovenia',
 'Hungary',
 'Portugal',
 'Greece',
 'Czech Republic',
 'Switzerland',
 'Bulgaria',
 'Romania']

In [7]:
# temp_country = {}
# for country in country_list(cities_data):
#     temp = [
#         float(city['temperature'])
#         for city in cities_data
#         if country == city['country']
#     ]

#     # temp_country[country] = temp
#     max_temp = max(temp)
#     min_temp = min(temp)
#     max_dif = max_temp - min_temp
#     temp_country[country] = (country, min_temp, max_temp, max_dif)

# max_diff_country = (None, 0, 0, 0)

# for country in temp_country:
#     dif = temp_country[country][3] 
#     if dif > max_diff_country[3]:
#         max_diff_country = temp_country[country]


# print(max_diff_country)

('Turkey', 5.17, 18.67, 13.500000000000002)

In [11]:
from geography import *

In [25]:
def average_EU_city_temperature(cities_data: list, countries_data: list) -> tuple:
    """Returns a tuple with two elements: (the average temperature of all the
    cities in EU countries, the average temperature of all the cities not in
    EU countries)

    Notes: the test results below are printed out with two decimal places to
    get around floating-point errors.

    >>> result = average_EU_city_temperature(cities_data, countries_data)
    >>> type(result)
    <class 'tuple'>
    >>> eu, non_eu = result
    >>> f"{eu:.2f} {non_eu:.2f}"
    '9.69 9.03'
    """

    # temp_eu = [avg_temp[k['country']] for k in countries_data if k['EU'] == 'yes' and k in country_list(cities_data)]

    # return temp_eu
    avg_temp= average_country_temp(cities_data)

    eu = [
        avg_temp[country['country']]
        for country in countries_data
        if country['EU'] == 'yes' and country['country'] in avg_temp
    ]

    return sum(eu)/len(eu)

In [26]:
average_EU_city_temperature(cities_data, countries_data)

8.931906984126986

In [16]:
country_list(cities_data)

['Denmark',
 'Montenegro',
 'Bosnia and Herzegovina',
 'Belgium',
 'Slovenia',
 'Greece',
 'Portugal',
 'Hungary',
 'Estonia',
 'Spain',
 'Romania',
 'Italy',
 'Ireland',
 'Switzerland',
 'Czech Republic',
 'Ukraine',
 'Slovakia',
 'Poland',
 'Latvia',
 'Moldova',
 'Sweden',
 'Belarus',
 'Andorra',
 'Finland',
 'Turkey',
 'Netherlands',
 'Lithuania',
 'United Kingdom',
 'Croatia',
 'Serbia',
 'France',
 'Germany',
 'Norway',
 'Albania',
 'Austria',
 'Macedonia',
 'Bulgaria']

In [3]:
from football import *

In [7]:
def max_GF_GA_ratio(teams_data: list) -> str:
    """Returns the string name of a team with highest ratio of goalsFor to
    goalsAgainst

    >>> max_GF_GA_ratio(teams_data)
    'Portugal'
    """

    max_ratio = {'team': None, 'ratio': 0}

    for team in teams_data:
        ratio = int(team['goalsFor'])/int(team['goalsAgainst'])
        if ratio > max_ratio['ratio']:
            max_ratio['ratio'] = ratio
            max_ratio['team'] = team['team']

    return max_ratio['team']

In [8]:
max_GF_GA_ratio(teams_data)

'Portugal'

In [15]:

def team_list_shots_per_minute(players_data: list, teams_data: list):
    """Returns a list of tuples; each tuple has information about a team and
    its shots per minute value generated by its players

    Notes: the test results below are printed out with five decimal places to
    get around floating-point errors.

    >>> list_of_tuples = team_list_shots_per_minute(players_data, teams_data)
    >>> list_of_tuples.sort()
    >>> for team,shots in list_of_tuples:
    ...     print(f'{team} {shots:.5f}')
    ...
    Algeria 0.01050
    Argentina 0.01394
    Australia 0.01010
    Brazil 0.01440
    Cameroon 0.01178
    Chile 0.01152
    Denmark 0.01077
    England 0.01237
    France 0.00998
    Germany 0.01121
    Ghana 0.01337
    Greece 0.01077
    Honduras 0.00438
    Italy 0.01212
    Ivory Coast 0.01313
    Japan 0.00886
    Mexico 0.01086
    Netherlands 0.01128
    New Zealand 0.00505
    Nigeria 0.00996
    North Korea 0.01077
    Paraguay 0.00928
    Portugal 0.01263
    Serbia 0.01286
    Slovakia 0.00884
    Slovenia 0.00572
    South Africa 0.01184
    South Korea 0.01111
    Spain 0.01380
    Switzerland 0.00721
    USA 0.01282
    Uruguay 0.01118
    """
    team_spm = []

    for team in teams_data:
        shot = minutes = 0

        for player in players_data:
            if player['team'] == team['team']:
                shot += int(player['shots'])
                minutes += int(player['minutes'])
        team_spm.append((team['team'], shot/minutes))

    return team_spm

In [16]:
list_of_tuples = team_list_shots_per_minute(players_data, teams_data)

In [17]:
list_of_tuples.sort()
for team,shots in list_of_tuples:
    print(f'{team} {shots:.5f}')

Algeria 0.01050
Argentina 0.01394
Australia 0.01010
Brazil 0.01440
Cameroon 0.01178
Chile 0.01152
Denmark 0.01077
England 0.01237
France 0.00998
Germany 0.01121
Ghana 0.01337
Greece 0.01077
Honduras 0.00438
Italy 0.01212
Ivory Coast 0.01313
Japan 0.00886
Mexico 0.01086
Netherlands 0.01128
New Zealand 0.00505
Nigeria 0.00996
North Korea 0.01077
Paraguay 0.00928
Portugal 0.01263
Serbia 0.01286
Slovakia 0.00884
Slovenia 0.00572
South Africa 0.01184
South Korea 0.01111
Spain 0.01380
Switzerland 0.00721
USA 0.01282
Uruguay 0.01118

In [2]:
import csv
titanic_data = []
with open('Titanic.csv', 'r') as f:
    rows = csv.DictReader(f)
    for r in rows:
        titanic_data.append(r)

excel

In [10]:
name = input('name: ')



new_data = {'last': name,
  'first': 'Mr. jerry',
  'gender': 'M',
  'age': '16',
  'class': '3',
  'fare': '20.25',
  'embarked': 'Southampton',
  'survived': 'yes'}

titanic_data.append(new_data)

with open('Titanic.csv', 'w') as f:
    writer = csv.DictWriter(f, fieldnames=['last', 'first', 'gender', 'age', 'class', 'fare', 'embarked', 'survived'])
    writer.writeheader()

    for data in titanic_data:
      writer.writerow(data)

In [4]:
{'name': 'gg', 'score': 6}, {'name': 'tt', 'score': 2}, {'name': 'gg', 'score': 10}

({'name': 'gg', 'score': 6},
 {'name': 'tt', 'score': 2},
 {'name': 'gg', 'score': 10})

In [11]:
data = [{'name': 'gg', 'score': 6}, {'name': 'tt', 'score': 2}]

print(f'old data: {data}')

new_data = {'name': 'gg', 'score': 10}

for row in data:
    if row['name'] == new_data['name']:
        row['score'] = new_data['score']

print(f'new data: {data}')

old data: [{'name': 'gg', 'score': 6}, {'name': 'tt', 'score': 2}]
new data: [{'name': 'gg', 'score': 10}, {'name': 'tt', 'score': 2}]